<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_main}">
<head>
    <title th:text="|${status} ${error}|">5xx Error</title>
</head>

<section layout:fragment="content">
    <div class="sub-content">
        <div class="introduce-wrap">
            <div class="cont-top">
                <div class="title-wrap">
                    <h2 class="title"><!-- title or text ? -->
                        <i class="error" th:classappend="|error-${status}|" th:aria-label="|${status} ${error}|"></i>
                        <th:block th:switch="${status}">
                            <th:block th:case="500">서비스 오류가 발생했습니다.</th:block>
                            <th:block th:case="501">요청한 기능을 지원하지 않습니다.</th:block>
                            <th:block th:case="502">게이트웨이 오류가 발생했습니다.</th:block>
                            <th:block th:case="503">서비스를 일시적으로 사용할 수 없습니다.</th:block>
                            <th:block th:case="504">게이트웨이 시간 초과가 발생했습니다.</th:block>
                            <th:block th:case="505">HTTP 버전이 지원되지 않습니다.</th:block>
                            <th:block th:case="506">서버 내부 구성 오류가 발생했습니다.</th:block>
                            <th:block th:case="507">서버에 저장 공간이 부족합니다.</th:block>
                            <th:block th:case="508">무한 루프를 감지했습니다.</th:block>
                            <th:block th:case="510">요청한 확장이 필요합니다.</th:block>
                            <th:block th:case="511">네트워크 인증이 필요합니다.</th:block>
                        </th:block>
                    </h2>
                    <p class="text">
                        이용에 불편을 드려서 죄송합니다. 서버에서 오류가 발생했습니다.<br />
                        잠시 후에 다시 시도해 주시거나, 메인페이지로 이동 후 원하는 정보에 대한 페이지로 연결해 주시기 바랍니다.
                    </p>
                </div>
            </div>

            <div class="cont-btm">
                <div class="w-set">
                    <div class="btn-wrap type-center">
                        <button type="button" class="btn color2" style="width: 125px;" onclick="history.back();">이전 페이지로</button>
                        <a href="/" class="btn color" style="width: 150px;">메인으로 돌아가기</a>
                    </div>

                    <div style="font-size: 1.3rem;" th:if="${exception ne null or message ne null}">
                        <div class="field is-grouped is-grouped-multiline is-justify-content-center">
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">STATUS</span>
                                    <span class="tag is-danger is-light" th:text="${status}"></span>
                                </div>
                            </div>
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">TIME</span>
                                    <span class="tag is-danger is-light" th:text="${#dates.format(timestamp, 'yyyy-MM-dd HH:mm:ss.SSS')}"></span>
                                </div>
                            </div>
                            <div class="control" th:if="${exception ne null}">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">EXCEPTION</span>
                                    <span class="tag is-danger is-light" th:text="${exception}"></span>
                                </div>
                            </div>
                            <div class="control" th:if="${message ne null}">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">MESSAGE</span>
                                    <span class="tag is-danger is-light" th:text="${message}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="" th:if="${trace ne null}">
                        <pre id="trace" style=" font-family: monospace; font-size: 1.2rem; font-weight: normal; line-height: 1.2; padding: 10px; background-color: #f0f0f0; overflow-x: scroll; border-radius: 5px;" th:text="${trace}"></pre>
                    </div>
                </div>
                <div class="empty"></div>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="javascript" th:inline="javascript" th:if="${trace ne null}">
    const mainClass = /*[[ ${T(java.lang.System).getProperty('sun.java.command')} ]]*/ '';
    const packageName = mainClass.substring(0, mainClass.lastIndexOf('.'));

    document.getElementById('trace').innerHTML =
        document.getElementById('trace').innerText
            .replaceAll(/(at webbizz.crm.*\n)/g, '<b style="color: red;">$1</b>')
            .replaceAll(new RegExp(`(at ${packageName}.*\n)`, 'g'), '<b style="color: red;">$1</b>');
</script>
</html>
