<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    layout:decorate="~{layouts/layout_main}">

<aside layout:fragment="lnb" th:replace="~{fragments/lnb :: lnb}"></aside>
<section layout:fragment="content">
    <strong class="title is-5 saira">
        <i class="ri-calendar-line" aria-hidden="true"></i>
        <th:block th:text="${#temporals.format(#temporals.createNow(), 'yyyy. MM. dd (EEE)', #locale.KOREA)}">2024.
            11. 28 (목)</th:block>
    </strong>
    <div class="box mt-5">
        <div class="is-flex is-align-items-center">
            <div class="tag list-tag">
                <span>공지사항</span>
            </div>
            <div class="is-flex-grow-1 is-overflow-hidden">
                <a class="is-block has-text-black-00-invert is-ellipsis" th:if="${recentNotice ne null}"
                    th:href="@{/board/board/{boardId}/articles/{id}(boardId = ${recentNotice.boardId}, id = ${recentNotice.id})}"
                    th:text="${recentNotice.title}">
                    최근 등록된 공지사항 제목이 노출됩니다. 길면 한줄로 노출됩니다. 최근 등록된 공지사항 제목이 노출됩니다. 길면 한줄로 노출됩니다. 최근 등록된 공지사항 제목이 노출됩니다.
                    길면 한줄로 노출됩니다. 최근 등록된 공지사항 제목이 노출됩니다.
                </a>
                <div class="is-block has-text-black-00-invert" th:unless="${recentNotice ne null}">
                    최근 등록된 공지사항이 없습니다.
                </div>
            </div>
        </div>
    </div>
    <div class="columns is-block-touch">
        <div class="column is-one-quarter is-full-touch">
            <div class="box is-relative box-bg1">
                <a th:href="@{/management/admin/{id}(id = ${#authentication.principal.member.id})}" class="setting"><i class="ri-settings-4-line" aria-hidden="true"></i></a>
                <div class="logo-img">
                    <img src="/images/sub/logo_white.png" alt="DMC CNF">
                </div>
                <div class="member-info has-text-right">
                    <strong class="has-text-light is-size-6">
                        <th:block sec:authentication="principal.member.realName">홍길동</th:block>
                    </strong>
                    <th:block sec:authentication="principal.member.role.detail">관리자</th:block>님
                </div>
            </div>
            <div class="box">
                <p class="title is-5">최근 방문 메뉴</p>
                <div class="content main-list">
                    <ul>
                        <li class="is-size-6 is-empty">최근 방문 메뉴가 없습니다.</li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <div class="is-flex is-align-items-center">
                    <p class="title is-5 marginless">방문 현황</p>
                    <div class="date-controls ml-auto">
                        <button type="button" class="date-control-button date-previous-button">
                            <i class="fa-solid fa-chevron-left"></i>
                            이전달
                        </button>
                        <div class="visitor-date" th:text="${#temporals.format(#temporals.createNow(), 'yyyy.MM')}">2024.11</div>
                        <button type="button" class="date-control-button date-next-button">
                            <i class="fa-solid fa-chevron-right"></i>
                            다음달
                        </button>
                    </div>
                </div>
                <div class="chart-wrap mt-4">
                    <canvas id="visitorChart" width="400" height="200"></canvas>
                </div>
                <div class="content main-list mt-5">
                    <ul>
                        <li>
                            <div class="grid is-col-min-2">
                                <p class="cell marginless">금일 방문 수</p>
                                <p class="cell has-text-right">
                                    <strong
                                        th:text="${#numbers.formatInteger(visitorStatistics.items.get(visitorStatistics.items.size - 1).value, 1, 'COMMA')}">50</strong>건
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="grid is-col-min-2">
                                <p class="cell marginless">누적 방문 수</p>
                                <p class="cell has-text-right">
                                    <strong
                                        th:text="${#numbers.formatInteger(visitorCount, 1, 'COMMA')}">10,000</strong>건
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column is-three-quarters is-full-touch">
<!--            <div class="box box-bg2">-->
<!--                <div class="grid">-->
<!--                    <a href="/member" class="is-block has-text-centered">-->
<!--                        <div class="is-flex is-gap-1 is-align-items-center">-->
<!--                            <figure class="has-text-centered">-->
<!--                                <img src="/images/common/user.png" alt="회원 관리" />-->
<!--                            </figure>-->
<!--                            <strong class="is-size-5 has-text-white">회원 관리</strong>-->
<!--                        </div>-->
<!--                        <div class="count-box">-->
<!--                            <span th:text="${#numbers.formatInteger(memberCount, 1, 'COMMA')}">32</span>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                    <a href="/survey" class="is-block has-text-centered">-->
<!--                        <div class="is-flex is-gap-1 is-align-items-center">-->
<!--                            <figure class="has-text-centered">-->
<!--                                <img src="/images/common/edit.png" alt="설문조사" />-->
<!--                            </figure>-->
<!--                            <strong class="is-size-5 has-text-white">설문조사</strong>-->
<!--                        </div>-->
<!--                        <div class="count-box">-->
<!--                            <span th:text="${#numbers.formatInteger(surveyCount, 1, 'COMMA')}">10</span>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                    <a href="/exhibition" class="is-block has-text-centered">-->
<!--                        <div class="is-flex is-gap-1 is-align-items-center">-->
<!--                            <figure class="has-text-centered">-->
<!--                                <img src="/images/common/banner.png" alt="배너전시 관리" />-->
<!--                            </figure>-->
<!--                            <strong class="is-size-5 has-text-white">배너전시 관리</strong>-->
<!--                        </div>-->
<!--                        <div class="count-box">-->
<!--                            <span-->
<!--                                th:text="${#numbers.formatInteger(exhibitionCount - exhibitionPopupCount, 1, 'COMMA')}">0</span>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                    <a href="/exhibition/popup-banner" class="is-block has-text-centered">-->
<!--                        <div class="is-flex is-gap-1 is-align-items-center">-->
<!--                            <figure class="has-text-centered">-->
<!--                                <img src="/images/common/popup.png" alt="팝업 관리" />-->
<!--                            </figure>-->
<!--                            <strong class="is-size-5 has-text-white">팝업 관리</strong>-->
<!--                        </div>-->
<!--                        <div class="count-box">-->
<!--                            <span th:text="${#numbers.formatInteger(exhibitionPopupCount, 1, 'COMMA')}">2</span>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
            <div class="columns is-block-touch">
                <div class="column is-half is-full-touch">
                    <div class="box">
                        <p class="title is-5">최근 작성 글</p>
                        <div class="content main-list">
                            <ul>
                                <li th:if="${recentMyArticles.isEmpty()}">
                                    <p class="is-block has-text-black-00-invert is-ellipsis">최근 작성한 게시물이 없습니다.</p>
                                </li>
                                <li th:each="item : ${recentMyArticles}">
                                    <a class="grid is-col-min-2 has-text-black-00-invert"
                                        th:href="@{/board/board/{boardId}/articles/{id}(boardId = ${item.boardId}, id = ${item.id})}">
                                        <div class="cell is-col-span-2">
                                            <p class="is-block is-ellipsis" th:text="${item.title}">최근 작성된
                                                글의 제목이 노출됩니다. 길면 한줄로 노출됩니다.</p>
                                        </div>
                                        <p class="cell has-text-right has-text-grey"
                                            th:text="${#temporals.format(item.createdAt, 'yyyy.MM.dd')}">2024.11.01</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column is-half is-full-touch">
                    <div class="box">
                        <p class="title is-5">최근 게시물</p>
                        <div class="content main-list">
                            <ul>
                                <li th:if="${recentArticles.isEmpty()}">
                                    <p class="is-block has-text-black-00-invert is-ellipsis">최근 등록된 게시물이 없습니다.</p>
                                </li>
                                <li th:each="item : ${recentArticles}">
                                    <a class="grid is-col-min-2 has-text-black-00-invert"
                                        th:href="@{/board/board/{boardId}/articles/{id}(boardId = ${item.boardId}, id = ${item.id})}">
                                        <div class="cell is-col-span-2">
                                            <p class="is-block is-ellipsis" th:text="${item.title}">최근 등록된
                                                게시물의 제목이 노출됩니다. 길면 한줄로 노출됩니다.</p>
                                        </div>
                                        <p class="cell has-text-right has-text-grey"
                                            th:text="${#temporals.format(item.createdAt, 'yyyy.MM.dd')}">2024.11.01</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-block-touch">
                <div class="column is-half is-full-touch">
                    <div class="cell box marginless">
                        <div class="is-col-min-2">
                            <p class=" title is-5 marginless">주간 게시물 현황</p>
                            <div class="chart-wrap">
                                <canvas id="weekBoardArticleChart" width="400" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half is-full-touch">
                    <div class="cell box">
                        <div class="is-col-min-2">
                            <p class="title is-5 marginless">월간 게시물 현황</p>
                            <div class="chart-wrap">
                                <canvas id="monthBoardArticleChart" width="400" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="javascript" th:inline="javascript">
    const visitedMenus = JSON.parse(localStorage.getItem('visitedMenus')) || [];
    const mainList = document.querySelector('.main-list ul');
    visitedMenus.forEach(menu => {
        const li = document.createElement('li');
        li.classList.add('is-size-6');
        const a = document.createElement('a');
        a.classList.add('has-text-black-00-invert');
        a.href = menu.url;
        a.textContent = menu.name;
        li.appendChild(a);
        mainList.appendChild(li);
    });
    if (visitedMenus.length > 0) {
        mainList.querySelector('.is-empty').remove();
    }

    const visitorCtx = document.getElementById('visitorChart');
    let visitorDate = new Date();
    let visitorChartOptions = {
        type: 'bar',
        data: {
            labels: (/*[[ ${visitorStatistics.labels} ]]*/[]).map(label => label.slice(-2)),
            datasets: /*[[ ${visitorStatistics.datasets} ]]*/[]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                },
                y: {
                    beginAtZero: true
                }
            }
        },
        interaction: {
            mode: 'nearest',
            axis: 'x',
            intersect: false
        }
    }
    let visitorChart = new Chart(visitorCtx, visitorChartOptions);

    document.querySelector('.date-previous-button').addEventListener('click', () => {
        const newDate = new Date(visitorDate.getTime());
        newDate.setMonth(newDate.getMonth() - 1);
        if (newDate.getTime() < Date.now()) {
            visitorDate = newDate;
            updateVisitorChart();
        }
    });
    document.querySelector('.date-next-button').addEventListener('click', () => {
        const newDate = new Date(visitorDate.getTime());
        newDate.setMonth(newDate.getMonth() + 1);
        if (newDate.getTime() < Date.now()) {
            visitorDate = newDate;
            updateVisitorChart();
        }
    });

    function updateVisitorChart() {
        fetch(`/api/v1/statistics/visitor-chart?date=${Utils.dateFormat(visitorDate, 'yyyy-MM-01')}`)
            .then(handleFetchResponse)
            .then(result => {
                document.querySelector('.visitor-date').textContent = Utils.dateFormat(visitorDate, 'yyyy.MM');
                visitorChartOptions.data.labels = result.data.labels.map(label => label.slice(-2));
                visitorChartOptions.data.datasets = result.data.datasets;
                visitorChart.update();
            });
    }

    const weekBoardArticleCtx = document.getElementById('weekBoardArticleChart');
    let weekBoardArticleChart = new Chart(weekBoardArticleCtx, {
        type: 'line',
        data: {
            labels: (/*[[ ${boardArticleWeeks} ]]*/[]).map(item => `${parseInt(item.date.split('-')[2])}일`),
            datasets: [
                {
                    label: '게시물 수',
                    data: (/*[[ ${boardArticleWeeks} ]]*/[]).map(item => item.value),
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(0, 0, 0, 0)'
                }
            ]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                },
                y: {
                    beginAtZero: true
                }
            }
        },
        interaction: {
            mode: 'nearest',
            axis: 'x',
            intersect: false
        }
    });

    const monthBoardArticleCtx = document.getElementById('monthBoardArticleChart');
    let monthBoardArticleChart = new Chart(monthBoardArticleCtx, {
        type: 'line',
        data: {
            labels: (/*[[ ${boardArticleMonths} ]]*/[]).map(item => `${parseInt(item.date.split('-')[1])}월`),
            datasets: [
                {
                    label: '게시물 수',
                    data: (/*[[ ${boardArticleMonths} ]]*/[]).map(item => item.value),
                    borderColor: 'rgba(75, 192, 192, 1)'
                }
            ]
        },
        options: {
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                },
                y: {
                    beginAtZero: true
                }
            }
        },
        interaction: {
            mode: 'nearest',
            axis: 'x',
            intersect: false
        }
    });
</script>

</html>