<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_login}">
<head>
    <title>로그인</title>
</head>

<section layout:fragment="content" class="hero is-fullheight login-bg">
    <div class="hero-body">
        <div class="container is-flex is-justify-content-flex-end" x-data="loginComponent">
            <div class="">
                <div class="box p-6">
                    <figure class="has-text-centered">
                        <img src="/images/sub/logo.png" alt="로고" />
                    </figure>
                    <p class="subtitle has-text-black-00-invert has-text-centered is-6 mt-4">
                        관리자 페이지입니다.<br />
                        로그인 하시려면 아이디와 비밀번호를 입력해주세요.
                    </p>

                    <form method="post" @submit="submit($event)">
                        <div class="field mt-6">
                            <div class="control has-icons-left">
                                <label>
                                    <input type="text" name="loginId" placeholder="아이디" autocomplete="username" class="input is-medium" autofocus
                                           x-ref="loginId"
                                           x-model="loginData.loginId"
                                           @blur="checkLoginId()" />
                                    <span class="icon is-left">
                                        <i class="fa fa-id-badge" aria-hidden="true"></i>
                                    </span>
                                </label>
                            </div>
                            <p class="help is-danger" x-show="loginIdMessage !== undefined" x-text="loginIdMessage" x-cloak></p>
                        </div>
                        <div class="field">
                            <div class="control has-icons-left">
                                <label>
                                    <input type="password" name="password" placeholder="비밀번호" autocomplete="current-password" class="input is-medium"
                                           x-ref="password"
                                           x-model="loginData.password"
                                           @blur="checkPassword()" />
                                    <span class="icon is-left">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </span>
                                </label>
                            </div>
                            <p class="help is-danger" x-show="passwordMessage !== undefined" x-text="passwordMessage" x-cloak></p>
                        </div>

                        <label class="checkbox">
                            <input type="checkbox"> 아이디 저장
                        </label>

                        <div class="buttons mt-5">
                            <button type="submit" class="button is-fullwidth is-large is-black" x-ref="submit">
                                <span class="icon">
                                    <i class="fa-solid fa-right-to-bracket" aria-hidden="true"></i>
                                </span>
                                <span>로그인</span>
                            </button>
                        </div>
                    </form>
                    <p class="help is-danger is-size-6" x-text="errorMessage"></p>

                    <div class="block mt-6 pt-6">
                        <p class="is-size-6">* 아이디 및 비밀번호 분실 시 02-0000-0000 으로 문의주시기 바랍니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="javascript" th:inline="javascript">
    document.addEventListener('alpine:init', () => {
        Alpine.data('loginComponent', () => ({
            loginData: {
                loginId: '',
                password: ''
            },
            loginIdMessage: undefined,
            passwordMessage: undefined,
            errorMessage: /*[[ ${errorMessage} ]]*/ undefined,

            init() {
                // 브라우저 자동완성 값 적용
                setTimeout(() => {
                    this.loginData.loginId = this.$refs.loginId.value;

                    /*[# th:if="${@environment.getProperty('spring.profiles.active') eq 'local'}" ]*/
                    this.loginData.loginId = 'admin';
                    this.loginData.password = '1111';
                    /*[/]*/
                }, 1);

                this.$watch('loginData.loginId', () => this.checkLoginId());
                this.$watch('loginData.password', () => this.checkPassword());
            },

            checkLoginId() {
                if (this.loginData.loginId.trim().length < 1) {
                    this.$refs.loginId.classList.add('is-danger');
                    this.loginIdMessage = '아이디를 입력해주세요.';
                    return false;
                } else {
                    this.$refs.loginId.classList.remove('is-danger');
                    this.loginIdMessage = undefined;
                    return true;
                }
            },
            checkPassword() {
                if (this.loginData.password.length < 1) {
                    this.$refs.password.classList.add('is-danger');
                    this.passwordMessage = '비밀번호를 입력해주세요.';
                    return false;
                } else {
                    this.$refs.password.classList.remove('is-danger');
                    this.passwordMessage = undefined;
                    return true;
                }
            },

            submit(event) {
                this.$refs.submit.classList.add('is-loading');

                if (this.$refs.loginId.value.length < 1
                    || this.$refs.password.value.length < 1
                    || this.loginIdMessage !== undefined
                    || this.passwordMessage !== undefined) {
                    event.preventDefault();
                    this.$refs.submit.classList.remove('is-loading');
                }

                if (this.checkLoginId() === false) {
                    this.$refs.loginId.focus();
                    return;
                }
                if (this.checkPassword() === false) {
                    this.$refs.password.focus();
                }
            }
        }));
    });
</script>

</html>
