<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${terms.type.detail}">약관명</title>
    <meta name="keywords" th:content="${terms.type.detail}" />
    <meta name="description" th:content="${terms.type.detail}" />
</head>

<main layout:fragment="content">
    <div class="sub-content">
        <div class="introduce-wrap">
            <div class="cont-top">
                <div class="sub-nav">
                    <div class="w-set">
                        <div class="location-wrap">
                            <a href="/" class="location home">홈</a>
                            <a class="location on" th:text="${terms.type.detail}">공지사항</a>
                        </div>
                    </div>
                </div>

                <div class="title-wrap">
                    <h2 class="title" th:text="${terms.type.detail}"></h2>
<!--                    <p class="text">우리기업의 해외진출을 지원하여 해외인프라·도시개발의 이익과 가치를 세상과 공유</p>-->
                </div>
            </div>

            <div class="cont-btm">
                <div class="w-set2">
                    <div class="ck ck-content">
                        <th:block th:utext="${terms.content}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</html>
