<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header" class="header">
    <div class="header-inner">
        <a class="navbar-brand" href="/">
            <h2 class="admin-title">ADMINISTRATOR</h2>
        </a>
        <div class="navbar-item">
            <span class="icon">
                <i class="ri-timer-2-line" aria-hidden="true"></i>
            </span>
            <strong>남은시간 </strong><span id="timer">60 : 00</span>
        </div>
        <!-- <div class="navbar-item">
            <span class="icon">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </span>
            <strong sec:authentication="principal.member.realName">홍길동</strong>님
        </div>
        <div class="navbar-item is-hidden-mobile role" sec:authentication="principal.member.role.detail">관리자</div> -->

        <nav class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item user-name">
                    <i class="fa-solid fa-user mr-1" aria-hidden="true"></i>
                    <span sec:authentication="principal.member.realName">홍길동</span> 관리자님
                </div>
                <div class="navbar-item btn-logout">
                    <a href="/logout">
                        <span>로그아웃</span>
                    </a>
                </div>
                <div class="toggle-mode">
                    <input type="checkbox" id="toggleMode">
                    <label for="toggleMode">
                        <i class="mode-light">라이트모드</i>
                        <i class="mode-dark">다크모드</i>
                    </label>
                </div>
            </div>
        </nav>
    </div>
</header>

<!--/*@thymesVar id="requestURI" type="java.lang.String"*/-->
<nav th:fragment="gnb" class="navbar global-navbar">
    <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="aside">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    <div class="navbar-menu">
        <div class="navbar-start">
            <th:block th:with="url = '/', name = '홈'">
                <a class="navbar-item" th:classappend="${requestURI.equals(#vars.url)} ? 'is-active'" th:href="${url}"
                    th:text="${name}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}"></a>
            </th:block>
            <th:block th:with="url = '/exhibition', name = '전시 관리'">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" th:classappend="${requestURI.startsWith(#vars.url)} ? 'is-active'"
                        th:href="${url}" th:text="${name}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}"></a>
                    <ul class="navbar-dropdown">
                        <li th:with="url = '/exhibition/main-banner'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">메인 배너</a>
                        </li>
                        <li th:with="url = '/exhibition/popup-banner'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">팝업 배너</a>
                        </li>
                        <li th:with="url = '/exhibition/top-banner'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">상단 띠 배너</a>
                        </li>
                        <!--/*@thymesVar id="exhibitionLink" type="java.lang.String"*/-->
                        <li th:with="url = '/exhibition/promotion-banner'">
                            <a class="navbar-item"
                                th:classappend="${requestURI.startsWith(url) and exhibitionLink eq url} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">홍보 배너</a>
                        </li>
                        <!--/*@thymesVar id="exhibitionLink" type="java.lang.String"*/-->
                        <li th:with="url = '/exhibition/promotion-banner-2'">
                            <a class="navbar-item"
                                th:classappend="${requestURI.startsWith(url) and exhibitionLink eq url} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">홍보 배너 2</a>
                        </li>
                    </ul>
                </div>
            </th:block>
            <th:block th:with="url = '/member', name = '회원 관리'">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" th:classappend="${requestURI.startsWith(#vars.url)} ? 'is-active'"
                        th:href="${url}" th:text="${name}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}"></a>
                    <ul class="navbar-dropdown">
                        <li th:with="url = '/member/active'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">활동 회원</a>
                        </li>
                        <li th:with="url = '/member/withdrawal'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">탈퇴 회원</a>
                        </li>
                    </ul>
                </div>
            </th:block>
            <th:block th:with="url = '/board', name = '게시판 관리'">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" th:classappend="${requestURI.startsWith(#vars.url)} ? 'is-active'"
                        th:href="${url}" th:text="${name}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}"></a>
                    <ul class="navbar-dropdown">
                        <li th:with="url = '/admin/board/board'">
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                    th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">게시판 목록</a>
                                <ul class="dep3">
                                    <li th:each="board : ${@boardService.getBoardCompactList()}">
                                        <a class="navbar-item" th:href="@{/board/board/{id}/articles(id = ${board.id})}"
                                            th:text="${board.name}"
                                            th:classappend="${requestURI.equals('/board/board/' + board.id) or requestURI.startsWith('/board/board/' + board.id + '/')} ? 'is-active'"
                                            sec:authorize-expr="${hasPermission('/board/board/' + #vars.board.id, 'LINK')}">게시판 이름</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li th:with="url = '/board/faq'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">자주 묻는 질문</a>
                        </li>
                    </ul>
                </div>
            </th:block>
            <th:block th:with="url = '/survey', name = '설문 관리'">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item" th:classappend="${requestURI.startsWith(#vars.url)} ? 'is-active'"
                        th:href="${url}" th:text="${name}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}"></a>
                    <ul class="navbar-dropdown">
                        <li th:with="url = '/survey'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">설문</a>
                        </li>
                    </ul>
                </div>
            </th:block>
            <th:block th:with="url = '/statistics', name = '통계·분석'">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item" th:classappend="${requestURI.startsWith(#vars.url)} ? 'is-active'"
                        th:href="${url}" th:text="${name}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}"></a>
                    <ul class="navbar-dropdown">
                        <li th:with="url = '/statistics/join-member'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">회원 통계</a>
                        </li>
                        <li th:with="url = '/statistics/visitor'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">방문자 통계</a>
                        </li>
                        <!--        <li th:with="url = '/statistics/article'">-->
                        <!--            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'" th:href="${url}"-->
                        <!--               sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">게시물 통계</a>-->
                        <!--        </li>-->
                        <!--        <li th:with="url = '/statistics/google-analytics'">-->
                        <!--            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'" th:href="${url}"-->
                        <!--               sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">구글 애널리틱스</a>-->
                        <!--        </li>-->
                        <li th:with="url = '/statistics/operator'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">운영자 로그</a>
                            <ul class="submenu">
                                <li th:with="url = '/statistics/operator/login-auditor'">
                                    <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                        th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">운영자 접속 현황</a>
                                </li>
                                <!--                <li th:with="url = '/statistics/operator/output-status'">-->
                                <!--                    <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'" th:href="${url}"-->
                                <!--                       sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">출력 현황</a>-->
                                <!--                </li>-->
                                <!--                <li th:with="url = '/statistics/operator/search-status'">-->
                                <!--                    <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'" th:href="${url}"-->
                                <!--                       sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">정보 검색 현황</a>-->
                                <!--                </li>-->
                                <li th:with="url = '/statistics/operator/modification-auditor'">
                                    <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                        th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">정보 수정 현황</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </th:block>
            <th:block th:with="url = '/management', name = '운영'">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item" th:classappend="${requestURI.startsWith(#vars.url)} ? 'is-active'"
                        th:href="${url}" th:text="${name}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}"></a>
                    <ul class="navbar-dropdown">
                        <li th:with="url = '/management/admin'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">운영자 관리</a>
                        </li>
                        <li th:with="url = '/management/menu'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">메뉴 관리</a>
                        </li>
                        <li th:with="url = '/management/terms/terms'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">이용약관 관리</a>
                        </li>
                        <li th:with="url = '/management/terms/privacy'">
                            <a class="navbar-item" th:classappend="${requestURI.startsWith(url)} ? 'is-active'"
                                th:href="${url}" sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">개인정보처리방침 관리</a>
                        </li>
                    </ul>
                </div>
            </th:block>
        </div>
    </div>
</nav>

</html>