<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--/*@thymesVar id="requestURI" type="java.lang.String"*/-->
<aside th:fragment="lnb" class="column is-one-fifth aside menu">
    <p class="menu-label">운영</p>
    <ul class="menu-list">
        <li th:with="url = '/management/admin'">
            <a th:classappend="${requestURI.startsWith(url)} ? 'is-active'" th:href="${url}"
               sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">운영자 관리</a>
        </li>
        <li th:with="url = '/management/menu'">
            <a th:classappend="${requestURI.startsWith(url)} ? 'is-active'" th:href="${url}"
               sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">메뉴 관리</a>
        </li>
        <li th:with="url = '/management/terms/terms'">
            <a th:classappend="${requestURI.startsWith(url)} ? 'is-active'" th:href="${url}"
               sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">이용약관 관리</a>
        </li>
        <li th:with="url = '/management/terms/privacy'">
            <a th:classappend="${requestURI.startsWith(url)} ? 'is-active'" th:href="${url}"
               sec:authorize-expr="${hasPermission(#vars.url, 'LINK')}">개인정보처리방침 관리</a>
        </li>
    </ul>
</aside>
</html>
