<!DOCTYPE html>
<html>
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="next-head-count" content="2"/>
    <link data-next-font="" rel="preconnect" href="/" crossorigin="anonymous"/>
    <link rel="preload" href="/cnf/_next/static/css/209b617c9c6a99f0.css" as="style"/>
    <link rel="stylesheet" href="/cnf/_next/static/css/209b617c9c6a99f0.css" data-n-g=""/>
    <style>
        body{
            background: #fff;
        }
        .image-container{
            padding-top: 150px;
        }
        @media (max-width: 1024px) {
            .image-container {
                padding-top: 60px;
            }
        }
    </style>
</head>
<body>
<div id="__next">
    <div class="header-1">
        <div class="content"><a class="mobile-logo" href="/"><img alt="로고" src="/cnf/assets/logo.png"/></a>
            <div class="hamburger-wrap">
            </div>
        </div>
    </div>
    <div class="header-2">
        <div class="">
            <!-- 기존 left-ct와 swiper를 제거하고 이미지로 대체 -->
            <div class="image-container" style="text-align: center;">
                <img src="/cnf/images/common/main.png" alt="DMC_CNF 리뉴얼" style="max-width: 655px;width:100%;margin: 0 auto;">
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>