@charset "UTF-8";
.function-wrap {
  display: none !important;
}

.cont-title {
  display: flex;
  gap: 80px;
  padding-bottom: 80px;
  margin-bottom: 80px;
  border-bottom: 1px solid #d8d8d8;
}
.cont-title:not(:has(.be)) {
  align-items: center;
}
.cont-title h4.title {
  flex-shrink: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
}
.cont-title .desc p {
  word-break: keep-all;
  color: #495566;
  font-size: 20px;
  line-height: 1.4;
}
.cont-title .desc p.be {
  position: relative;
  padding-left: 23px;
}
.cont-title .desc p.be::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 0;
  top: 12px;
}
.cont-title .desc p.be + .be {
  margin-top: 12px;
}

.cont-common.type-square .cont-item {
  gap: 40px;
}
.cont-common.type-square .cont-item .img,
.cont-common.type-square .cont-item .image {
  max-width: 460px;
}
.cont-common .cont-item {
  display: flex;
  align-items: center;
  gap: 100px;
}
.cont-common .cont-item + .cont-item {
  margin-top: 80px;
}
.cont-common .cont-item.type-right {
  flex-direction: row-reverse;
}
.cont-common .cont-item .img,
.cont-common .cont-item .image {
  flex-shrink: 0;
  max-width: 400px;
  border-radius: 50%;
}
.cont-common .cont-item .img img,
.cont-common .cont-item .image img {
  width: 100%;
}
.cont-common .cont-item .text-wrap {
  width: 100%;
  flex: 1;
}
.cont-common .cont-item .text-wrap h5.title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.4;
}
.cont-common .cont-item .text-wrap .text-area p {
  display: flex;
  gap: 20px;
  color: #666;
  font-size: 20px;
  line-height: 1.4;
  word-break: keep-all;
}
.cont-common .cont-item .text-wrap .text-area p + p {
  margin-top: 20px;
}
.cont-common .cont-item .text-wrap .text-area p.be {
  position: relative;
  padding-left: 23px;
}
.cont-common .cont-item .text-wrap .text-area p.be::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #666;
  position: absolute;
  left: 0;
  top: 12px;
}
.cont-common .cont-item .text-wrap .text-area p strong {
  flex-shrink: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #666;
}

.facility-wrap .img,
.facility-wrap .image {
  border: 1px solid #666;
}
.facility-wrap .facility-list {
  background: #f9f9f9;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.facility-wrap .facility-list dl {
  width: calc(50% - 15px);
  display: flex;
  align-items: center;
  gap: 40px;
}
.facility-wrap .facility-list dl dt {
  flex-shrink: 0;
  border-radius: 10px;
  background: #434040;
  width: 114px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #f5ffff;
}
.facility-wrap .facility-list dl dd {
  font-weight: 700;
  font-size: 24px;
}

.organ-wrap .role {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 12px;
  width: 290px;
  height: 70px;
  font-weight: 500;
  font-size: 20px;
}
.organ-wrap .organ-top {
  position: relative;
  display: flex;
  justify-content: center;
}
.organ-wrap .organ-top .organ01 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(15, 59, 117, 0.12);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.organ-wrap .organ-top .organ01 .ceo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f3b75;
  width: 156px;
  height: 156px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}
.organ-wrap .organ02 {
  position: absolute;
  top: 24px;
  transform: translateX(100%);
  margin-left: 92px;
}
.organ-wrap .organ02::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d8d8d8;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -52px;
}
.organ-wrap .organ02 .role {
  border: 2px solid #0f3b75;
  color: #0f3b75;
}
.organ-wrap .organ02 .role + .role {
  margin-top: 20px;
}
.organ-wrap .organ03 {
  margin-top: 92px;
  position: relative;
}
.organ-wrap .organ03 .role {
  position: relative;
  margin: 0 auto;
  background: #495566;
  color: #fff;
}
.organ-wrap .organ03 .role:first-child::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d8d8d8;
  position: absolute;
  top: -52px;
  left: 50%;
  transform: translateX(-50%);
}
.organ-wrap .organ03 .role::after {
  content: "";
  width: 1px;
  height: 40px;
  border-left: 1px dashed #666;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.organ-wrap .organ03 .role + .role {
  margin-top: 40px;
}
.organ-wrap .organ03 .role + .role::after {
  height: 67px;
}
.organ-wrap .organ04 {
  padding-top: 67px;
  margin: 70px auto 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}
.organ-wrap .organ04::before {
  content: "";
  display: block;
  width: calc(100% - 400px);
  height: 1px;
  border-top: 1px dashed #666;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.organ-wrap .organ04 .organ-box {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.organ-wrap .organ04 .organ-box::after {
  content: "";
  width: 1px;
  height: 67px;
  border-left: 1px dashed #666;
  position: absolute;
  top: -67px;
  left: 50%;
  transform: translateX(-50%);
}
.organ-wrap .organ04 .organ-box .role {
  width: 100%;
  background: #efefef;
}
.organ-wrap .organ04 .organ-box .role-desc {
  margin-top: 12px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  text-align: center;
  padding: 30px;
  min-height: 375px;
}
.organ-wrap .organ04 .organ-box .role-desc p {
  word-break: keep-all;
  font-size: 18px;
  line-height: 1.4;
  position: relative;
}
.organ-wrap .organ04 .organ-box .role-desc p::before {
  content: "·";
  margin: 0 4px 0 0;
}
.organ-wrap .organ04 .organ-box .role-desc p + p {
  margin-top: 16px;
}
.organ-wrap .organ-table {
  margin-top: 80px;
  overflow: auto;
}
.organ-wrap .organ-table table {
  border: none;
}
.organ-wrap .organ-table thead th {
  background: #f4f5f6;
  border-top: 2px solid #666;
  border-bottom: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
  height: 60px;
  font-weight: 600;
  font-size: 20px;
}
.organ-wrap .organ-table tbody td {
  border-bottom: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 26px 0;
  font-size: 18px;
  text-align: center;
}
.organ-wrap .organ-table tbody td[rowspan] ~ td {
  border: 0 none;
  padding-bottom: 0;
}
.organ-wrap .organ-table tbody td .name {
  margin-left: 16px;
}

.history-wrap .history-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../images/sub/history_top.png") no-repeat right center;
}
.history-wrap .history-top .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
}
.history-wrap .history-top .desc {
  margin-top: 28px;
  font-size: 20px;
  line-height: 1.4;
  color: #495566;
}
.history-wrap .history-main {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}
.history-wrap .history-main dl {
  flex: 1;
  position: relative;
  padding-top: 30px;
}
.history-wrap .history-main dl::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #666;
  position: absolute;
  top: 0;
}
.history-wrap .history-main dl::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #222;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}
.history-wrap .history-main dl dt {
  font-weight: 600;
  font-size: 20px;
  color: #0f3b75;
  margin-bottom: 30px;
}
.history-wrap .history-main dl dd p {
  word-break: keep-all;
  font-size: 18px;
  line-height: 1.4;
}
.history-wrap .history-main dl dd p + p {
  margin-top: 12px;
}
.history-wrap .history-detail {
  margin-top: 80px;
}
.history-wrap .history-detail .title {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d8d8d8;
}
.history-wrap .history-detail .history-list {
  margin-top: 36px;
}
.history-wrap .history-detail .history-list dl {
  display: flex;
}
.history-wrap .history-detail .history-list dl dt {
  padding-bottom: 68px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  width: 18%;
  flex-shrink: 0;
  position: relative;
}
.history-wrap .history-detail .history-list dl dt::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  border-left: 1px solid #d8d8d8;
  position: absolute;
  right: 0;
  top: 10px;
  transition: all 0.3s;
}
.history-wrap .history-detail .history-list dl dt::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #d8d8d8;
  position: absolute;
  right: 0;
  top: 10px;
  transform: translateX(50%);
  transition: all 0.3s;
}
.history-wrap .history-detail .history-list dl dd {
  padding-bottom: 68px;
  padding-left: 32px;
}
.history-wrap .history-detail .history-list dl.on dt::before {
  border-color: #0f3b75;
}
.history-wrap .history-detail .history-list dl.on dt::after {
  background: #0f3b75;
}
.history-wrap .history-detail .history-list dl.on + dl dt::after {
  background: #0f3b75;
}
.history-wrap .history-detail .history-list ul li {
  font-size: 18px;
  line-height: 1.4;
}
.history-wrap .history-detail .history-list ul li + li {
  margin-top: 26px;
}
.history-wrap .history-detail .history-list ul li ul li {
  margin-top: 16px;
}
.history-wrap .history-detail .history-list ul li ul li + li {
  margin-top: 10px;
}

.purpose-wrap .purpose-top {
  min-height: 400px;
  background: url("../images/sub/purpose_bg.png") no-repeat center/cover;
  padding: 80px 60px 20px;
}
.purpose-wrap .purpose-top .title {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}
.purpose-wrap .purpose-top .text {
  margin-top: 40px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  line-height: 1.4;
}
.purpose-wrap .purpose-cont .purpose-item {
  margin-top: 120px;
}
.purpose-wrap .purpose-cont .purpose-item .title-wrap {
  margin-bottom: 80px;
}
.purpose-wrap .purpose-cont .purpose-item .title {
  font-weight: 700;
  font-size: 36px;
}
.purpose-wrap .purpose-cont .purpose-item .desc {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.4;
}
.purpose-wrap .purpose-cont .cont-common .cont-item {
  gap: 60px;
}
.purpose-wrap .purpose-cont .cont-common .cont-item + .cont-item {
  margin-top: 40px;
}
.purpose-wrap .purpose-cont .cont-common .cont-item.type-right {
  text-align: right;
}
.purpose-wrap .purpose-cont .cont-common .cont-item.type-right .text-wrap .text-area p {
  justify-content: flex-end;
}
.purpose-wrap .purpose-cont .support-wrap {
  width: 100%;
  max-width: 1048px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
}
.purpose-wrap .purpose-cont .support-wrap .line {
  display: block;
  width: 100%;
  max-width: 176px;
  height: 1px;
  border-top: 1px dashed #20497f;
}
.purpose-wrap .purpose-cont .support-wrap .support-item {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  max-width: 200px;
  border: 3px solid #20497f;
  border-radius: 50%;
  background: #fff;
}
.purpose-wrap .purpose-cont .support-wrap .support-item::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.purpose-wrap .purpose-cont .support-wrap .support-item .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: calc(100% - 40px);
  font-size: 16px;
  color: #20497f;
}
.purpose-wrap .purpose-cont .support-wrap .support-item .text::before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto 12px;
  background: url("../images/sub/ico_purpose01.png") no-repeat center/cover;
}
.purpose-wrap .purpose-cont .support-wrap .support-item.item02 .text::before {
  background-image: url("../images/sub/ico_purpose02.svg");
}
.purpose-wrap .purpose-cont .support-wrap .support-item.item03 .text::before {
  background-image: url("../images/sub/ico_purpose03.svg");
}
.purpose-wrap .purpose-cont .vision-wrap {
  margin-top: 100px;
}
.purpose-wrap .purpose-cont .vision-wrap .vision-top .title {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 411px;
  height: 78px;
  border-radius: 50px;
  background: #0f3b75;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  box-shadow: 0 0 0 6px rgba(15, 59, 117, 0.12);
}
.purpose-wrap .purpose-cont .vision-wrap .vision-top .title::after {
  content: "";
  width: 1px;
  height: 44px;
  border-left: 1px solid #d8d8d8;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 6px);
}
.purpose-wrap .purpose-cont .vision-wrap .vision-cont {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 62px;
  margin-top: 50px;
}
.purpose-wrap .purpose-cont .vision-wrap .vision-cont::before {
  content: "";
  display: block;
  width: calc(100% - 636px);
  height: 1px;
  border-top: 1px solid #d8d8d8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box {
  position: relative;
  width: 100%;
  max-width: 636px;
  padding: 60px 0;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1215686275);
  border-radius: 30px;
  text-align: center;
}
.purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3261bd;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box::after {
  content: "";
  width: 1px;
  height: 62px;
  border-left: 1px solid #d8d8d8;
  position: absolute;
  top: -62px;
  left: 50%;
  transform: translateX(-50%);
}
.purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  color: #0f3b75;
}
.purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box .title::after {
  content: "";
  display: block;
  background: #0f3b75;
  width: 56px;
  height: 5px;
  border-radius: 10px;
  margin: 26px auto 0;
}
.purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box .text {
  margin-top: 30px;
  color: #666;
  font-size: 18px;
  line-height: 1.4;
  word-break: keep-all;
}
.purpose-wrap .purpose-cont .value-wrap {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.purpose-wrap .purpose-cont .value-wrap .value-item {
  position: relative;
  width: 100%;
  max-width: 400px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.purpose-wrap .purpose-cont .value-wrap .value-item::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.purpose-wrap .purpose-cont .value-wrap .value-item.item01 {
  background-image: url("../images/sub/img_purpose03.png");
}
.purpose-wrap .purpose-cont .value-wrap .value-item.item02 {
  background-image: url("../images/sub/img_purpose04.png");
}
.purpose-wrap .purpose-cont .value-wrap .value-item.item03 {
  background-image: url("../images/sub/img_purpose05.png");
}
.purpose-wrap .purpose-cont .value-wrap .value-item .text-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: calc(100% - 60px);
}
.purpose-wrap .purpose-cont .value-wrap .value-item .text-wrap .title {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
}
.purpose-wrap .purpose-cont .value-wrap .value-item .text-wrap .title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  margin: 30px auto 0;
}
.purpose-wrap .purpose-cont .value-wrap .value-item .text-wrap .text {
  margin-top: 16%;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
}

.survey-view-wrap .info-box {
  margin-top: 40px;
  padding: 20px 20px 20px 60px;
  border: 1px solid #ddd;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 40px;
  background: url(../images/common/ico_empty.svg) no-repeat 20px 20px;
  background-size: 24px auto;
}
.survey-view-wrap .info-box span {
  font-size: 16px;
}
.survey-view-wrap .survey-view {
  border-top: 3px solid #707070;
}
.survey-view-wrap .survey-view .input-row {
  display: flex;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid #ddd;
}
.survey-view-wrap .survey-view .input-row > div:first-child {
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
}
.survey-view-wrap .survey-view .input-row > div:last-child {
  flex: 1;
}
.survey-view-wrap .survey-view .w_30 {
  width: 30%;
}
.survey-view-wrap .survey-view .essential {
  position: relative;
}
.survey-view-wrap .survey-view .essential span {
  font-size: 0;
}
.survey-view-wrap .survey-view .essential:after {
  content: "*";
  display: block;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #f60d0d;
}
.survey-view-wrap .private-box {
  padding: 42px 0;
  border-bottom: 1px solid #ddd;
}
.survey-view-wrap .private-box p {
  font-size: 24px;
  color: #222;
  font-weight: 600;
  padding-bottom: 60px;
}
.survey-view-wrap .private-box dl {
  padding-left: 30px;
}
.survey-view-wrap .private-box dl dt {
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.survey-view-wrap .private-box dl dd {
  padding: 0 0 30px 20px;
  font-size: 20px;
}
.survey-view-wrap .btn-wrap .btn {
  width: 285px;
  height: 70px;
  line-height: 66px;
  font-size: 20px;
  border-radius: 10px;
}
.survey-view-wrap .agree {
  margin-top: 80px;
  display: flex;
}
.survey-view-wrap .agree .checkbox {
  margin-left: auto;
}
.survey-view-wrap .agree .label {
  font-size: 20px;
  color: #333;
}
.survey-view-wrap .agree .label:before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 3px;
  box-sizing: border-box;
}
.survey-view-wrap .agree input:checked + .label:before {
  border-color: #0f3b75;
  background: #0042a6 url("../images/common/ico_chkbox_on.svg") no-repeat center;
}
.survey-view-wrap .basic-info-box {
  margin-top: 40px;
  border: 1px solid #333;
  padding: 20px 30px 10px 30px;
}
.survey-view-wrap .basic-info-box .title {
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
}
.survey-view-wrap .basic-info-box .info {
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}
.survey-view-wrap .basic-info-box .info dl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.survey-view-wrap .basic-info-box .info dl dt {
  display: flex;
  align-items: center;
  gap: 10px;
}
.survey-view-wrap .basic-info-box .info dl dt span {
  border-right: 1px solid #ddd;
  padding: 0 15px;
  font-weight: 500;
  color: #0042a6;
}
.survey-view-wrap .basic-info-box .info dl dt span:last-child {
  border-right: 0;
}
.survey-view-wrap .basic-info-box .info dl dd {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #666;
}
.survey-view-wrap .basic-info-box .info i {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #f4f6fa;
  background-position: center;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: 24px;
}
.survey-view-wrap .basic-info-box .info .info-01 {
  background-image: url("../images/common/ico_info_02.svg");
}
.survey-view-wrap .basic-info-box .info .info-02 {
  background-image: url("../images/common/ico_info_01.svg");
}
.survey-view-wrap .survey-area {
  margin-top: 10px;
}
.survey-view-wrap .survey-area .essential {
  color: #f60d0d;
}
.survey-view-wrap .survey-area .survey-row {
  border-bottom: 1px solid #ddd;
}
.survey-view-wrap .survey-area .survey-row .question {
  font-size: 20px;
  color: #222;
  font-weight: 600;
  padding: 25px 0;
}
.survey-view-wrap .survey-area .survey-row .answer {
  font-size: 20px;
  color: #222;
  font-weight: 400;
  padding-bottom: 15px;
}
.survey-view-wrap .survey-area .survey-row .answer ul {
  margin-left: 20px;
  flex-wrap: nowrap;
  display: flex;
  flex-grow: 1;
}
.survey-view-wrap .survey-area .survey-row .answer ul li {
  display: flex;
  padding-right: 20px;
  align-items: center;
}
.survey-view-wrap .survey-area .checkbox .label {
  font-size: 20px;
  color: #333;
}
.survey-view-wrap .survey-area .checkbox .label:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 3px;
}
.survey-view-wrap .survey-area .checkbox input:checked + .label:before {
  border-color: #0f3b75;
  background: #0042a6 url("../images/common/ico_chkbox_on.svg") no-repeat center;
  background-size: contain;
}
.survey-view-wrap .survey-area .radiobox .label {
  font-size: 20px;
  color: #333;
}
.survey-view-wrap .survey-area .radiobox .label:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 50%;
}
.survey-view-wrap .survey-area .radiobox input:checked + .label:before {
  border-color: #0f3b75;
  background: #fff url("../images/common/ico_chk_on.svg") no-repeat center;
  background-size: contain;
}

@media (max-width: 1440px) {
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont::before {
    width: 52.4%;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box {
    max-width: calc(50% - 30px);
  }
}
@media only screen and (max-width: 1240px) {
  .cont-title {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
  .cont-title:not(:has(.be)) {
    align-items: flex-start;
  }
  .cont-title h4.title {
    font-size: 26px;
  }
  .cont-common.type-square .cont-item .img,
  .cont-common.type-square .cont-item .image {
    max-width: 300px;
  }
  .cont-common .cont-item {
    gap: 40px;
  }
  .cont-common .cont-item .img,
  .cont-common .cont-item .image {
    max-width: 240px;
  }
  .cont-common .cont-item .text-wrap h5.title {
    margin-bottom: 24px;
    font-size: 24px;
  }
  .cont-common .cont-item .text-wrap .text-area p {
    font-size: 18px;
  }
  .cont-common .cont-item .text-wrap .text-area p + p {
    margin-top: 14px;
  }
  .cont-common .cont-item .text-wrap .text-area p strong {
    font-size: 18px;
  }
  .facility-wrap .facility-list {
    padding: 30px;
    gap: 30px;
  }
  .facility-wrap .facility-list dl {
    width: calc(50% - 15px);
    gap: 20px;
  }
  .facility-wrap .facility-list dl dt {
    width: 80px;
    height: 44px;
    font-size: 20px;
  }
  .facility-wrap .facility-list dl dd {
    font-size: 20px;
  }
  .history-wrap .history-top {
    background-size: 50%;
  }
  .history-wrap .history-top .title {
    font-size: 26px;
  }
  .history-wrap .history-top .desc {
    margin-top: 20px;
  }
  .history-wrap .history-main dl {
    padding-top: 20px;
  }
  .history-wrap .history-main dl::after {
    width: 16px;
    height: 16px;
  }
  .history-wrap .history-main dl dt {
    font-size: 18px;
    margin-bottom: 14px;
  }
  .history-wrap .history-main dl dd p {
    font-size: 16px;
  }
  .history-wrap .history-main dl dd p + p {
    margin-top: 6px;
  }
  .purpose-wrap .purpose-top {
    min-height: 300px;
    padding: 60px 40px 20px;
  }
  .purpose-wrap .purpose-top .title {
    font-size: 30px;
  }
  .purpose-wrap .purpose-top .text {
    margin-top: 24px;
    font-size: 18px;
  }
  .purpose-wrap .purpose-cont .purpose-item {
    margin-top: 60px;
  }
  .purpose-wrap .purpose-cont .purpose-item .title-wrap {
    margin-bottom: 30px;
  }
  .purpose-wrap .purpose-cont .purpose-item .title {
    font-size: 28px;
  }
  .purpose-wrap .purpose-cont .purpose-item .desc {
    font-size: 20px;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont {
    gap: 30px;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont::before {
    width: 51.7%;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box {
    max-width: 480px;
    padding: 40px 16px;
  }
  .purpose-wrap .purpose-cont .value-wrap .value-item {
    max-width: 360px;
  }
}
@media only screen and (max-width: 1023px) {
  .cont-title h4.title {
    font-size: 20px;
  }
  .cont-title .desc p {
    font-size: 16px;
  }
  .cont-title .desc p.be {
    padding-left: 14px;
  }
  .cont-title .desc p.be::before {
    top: 10px;
  }
  .cont-title .desc p.be + .be {
    margin-top: 8px;
  }
  .facility-wrap .facility-list {
    gap: 20px;
  }
  .facility-wrap .facility-list dl {
    width: calc(50% - 10px);
    gap: 16px;
  }
  .facility-wrap .facility-list dl dt {
    width: 60px;
    height: 40px;
    font-size: 18px;
  }
  .facility-wrap .facility-list dl dd {
    font-size: 18px;
  }
  .organ-wrap .role {
    width: 200px;
    height: 60px;
    font-size: 16px;
  }
  .organ-wrap .organ-top .organ01 {
    width: 200px;
    height: 200px;
  }
  .organ-wrap .organ-top .organ01 .ceo {
    width: 150px;
    height: 150px;
    font-size: 24px;
  }
  .organ-wrap .organ02::before {
    left: -30px;
  }
  .organ-wrap .organ03 {
    margin-top: 40px;
  }
  .organ-wrap .organ03 .role:first-child::before {
    top: -24px;
  }
  .organ-wrap .organ03 .role::after {
    height: 20px;
  }
  .organ-wrap .organ03 .role + .role {
    margin-top: 20px;
  }
  .organ-wrap .organ03 .role + .role::after {
    content: none;
  }
  .organ-wrap .organ04 {
    margin-top: 0;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  .organ-wrap .organ04::before {
    content: none;
  }
  .organ-wrap .organ04 .organ-box::after {
    height: 30px;
    top: -30px;
  }
  .organ-wrap .organ04 .organ-box + .organ-box {
    margin-top: 30px;
  }
  .organ-wrap .organ04 .organ-box .role-desc {
    padding: 24px;
    min-height: initial;
  }
  .organ-wrap .organ04 .organ-box .role-desc p {
    font-size: 16px;
  }
  .organ-wrap .organ04 .organ-box .role-desc p + p {
    margin-top: 10px;
  }
  .organ-wrap .organ-table thead th {
    height: 54px;
    font-size: 18px;
  }
  .organ-wrap .organ-table tbody td {
    padding: 16px 0;
    font-size: 16px;
  }
  .organ-wrap .organ-table tbody td .name {
    margin-left: 10px;
  }
  .history-wrap .history-top {
    background-position: right top;
    background-size: 50%;
  }
  .history-wrap .history-top .title {
    font-size: 20px;
  }
  .history-wrap .history-top .desc {
    margin-top: 14px;
    font-size: 16px;
  }
  .history-wrap .history-main {
    gap: 30px 20px;
  }
  .purpose-wrap .purpose-top {
    min-height: 240px;
    padding: 30px 30px 20px;
  }
  .purpose-wrap .purpose-top .title {
    font-size: 28px;
  }
  .purpose-wrap .purpose-cont .cont-common .cont-item {
    gap: 40px;
  }
  .purpose-wrap .purpose-cont .support-wrap {
    gap: 16px;
  }
  .purpose-wrap .purpose-cont .support-wrap .support-item {
    max-width: 180px;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-top .title {
    max-width: 360px;
    height: 60px;
    font-size: 20px;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box::before {
    width: 16px;
    height: 16px;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box .title {
    font-size: 18px;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box .title::after {
    width: 40px;
    height: 3px;
    margin-top: 14px;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box .text {
    font-size: 16px;
  }
  .purpose-wrap .purpose-cont .value-wrap .value-item .text-wrap .title {
    font-size: 20px;
  }
  .purpose-wrap .purpose-cont .value-wrap .value-item .text-wrap .title::after {
    margin-top: 16px;
  }
  .purpose-wrap .purpose-cont .value-wrap .value-item .text-wrap .text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .cont-common.type-square .cont-item {
    gap: 20px;
  }
  .cont-common .cont-item {
    flex-direction: column;
    gap: 20px;
  }
  .cont-common .cont-item.type-right {
    flex-direction: column;
  }
  .cont-common .cont-item + .cont-item {
    margin-top: 40px;
  }
  .cont-common .cont-item .img,
  .cont-common .cont-item .image {
    max-width: 240px;
  }
  .cont-common .cont-item .text-wrap h5.title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .cont-common .cont-item .text-wrap .text-area p {
    font-size: 16px;
  }
  .cont-common .cont-item .text-wrap .text-area p + p {
    margin-top: 10px;
  }
  .cont-common .cont-item .text-wrap .text-area p.be {
    padding-left: 14px;
  }
  .cont-common .cont-item .text-wrap .text-area p.be::before {
    top: 10px;
  }
  .cont-common .cont-item .text-wrap .text-area p:has(strong) {
    flex-direction: column;
    gap: 4px;
  }
  .cont-common .cont-item .text-wrap .text-area p strong {
    font-size: 18px;
  }
  .facility-wrap .facility-list {
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .facility-wrap .facility-list dl {
    width: 100%;
    gap: 16px;
  }
  .facility-wrap .facility-list dl dt {
    width: 60px;
    height: 36px;
    font-size: 16px;
  }
  .facility-wrap .facility-list dl dd {
    font-size: 16px;
  }
  .organ-wrap .organ-top {
    flex-direction: column;
    align-items: center;
  }
  .organ-wrap .organ02 {
    position: relative;
    top: 0;
    transform: initial;
    margin: 40px auto 0;
  }
  .organ-wrap .organ02::before {
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
  }
  .history-wrap .history-top {
    background: none;
  }
  .history-wrap .history-main {
    margin-top: 40px;
    flex-wrap: wrap;
  }
  .history-wrap .history-main dl {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 14px);
  }
  .history-wrap .history-detail {
    margin-top: 40px;
  }
  .history-wrap .history-detail .title {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .history-wrap .history-detail .history-list dl dt {
    font-size: 20px;
    width: 80px;
  }
  .history-wrap .history-detail .history-list dl dt::before, .history-wrap .history-detail .history-list dl dt::after {
    top: 6px;
  }
  .history-wrap .history-detail .history-list dl dd {
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .history-wrap .history-detail .history-list ul li {
    font-size: 16px;
  }
  .history-wrap .history-detail .history-list ul li + li {
    margin-top: 10px;
  }
  .history-wrap .history-detail .history-list ul li ul li {
    margin-top: 8px;
  }
  .history-wrap .history-detail .history-list ul li ul li + li {
    margin-top: 4px;
  }
  .purpose-wrap .purpose-top .title {
    font-size: 24px;
  }
  .purpose-wrap .purpose-top .text {
    margin-top: 14px;
    font-size: 16px;
  }
  .purpose-wrap .purpose-cont .purpose-item .title {
    font-size: 22px;
  }
  .purpose-wrap .purpose-cont .purpose-item .desc {
    margin-top: 10px;
    font-size: 16px;
  }
  .purpose-wrap .purpose-cont .cont-common .cont-item.type-right {
    text-align: left;
  }
  .purpose-wrap .purpose-cont .support-wrap {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .purpose-wrap .purpose-cont .support-wrap .line {
    display: none;
  }
  .purpose-wrap .purpose-cont .support-wrap .support-item .text::before {
    width: 50px;
    height: 50px;
  }
  .purpose-wrap .purpose-cont .vision-wrap {
    margin-top: 50px;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-top .title::after {
    content: none;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont {
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
    padding-top: 40px;
    gap: 40px;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont::before {
    content: none;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box::after {
    height: 40px;
    top: -40px;
  }
  .purpose-wrap .purpose-cont .vision-wrap .vision-cont .vision-box .text {
    margin-top: 20px;
  }
  .purpose-wrap .purpose-cont .value-wrap {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  .purpose-wrap .purpose-cont .value-wrap .value-item {
    max-width: 180px;
  }
  .survey-view-wrap .info-box {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .survey-view-wrap .survey-view {
    border-top: 3px solid #707070;
  }
  .survey-view-wrap .survey-view .input-row {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  .survey-view-wrap .survey-view .input-row > div:first-child {
    width: auto;
    font-size: 18px;
    padding-left: 0;
    margin: 10px 0;
  }
  .survey-view-wrap .survey-view .input-row > div:last-child {
    flex: inherit;
    width: 100%;
    margin-bottom: 10px;
  }
  .survey-view-wrap .survey-view .w_30 {
    width: 100%;
  }
  .survey-view-wrap .private-box {
    padding: 20px 0;
  }
  .survey-view-wrap .private-box p {
    font-size: 20px;
    padding-bottom: 30px;
  }
  .survey-view-wrap .private-box dl {
    padding-left: 15px;
  }
  .survey-view-wrap .private-box dl dt {
    font-size: 18px;
  }
  .survey-view-wrap .private-box dl dd {
    font-size: 18px;
  }
  .survey-view-wrap .basic-info-box {
    margin-top: 40px;
    padding: 10px;
  }
  .survey-view-wrap .basic-info-box .title {
    padding: 10px;
    font-size: 18px;
  }
  .survey-view-wrap .basic-info-box .info {
    padding: 10px;
    font-size: 16px;
  }
  .survey-view-wrap .basic-info-box .info dl {
    flex-direction: column;
    align-items: flex-start;
  }
  .survey-view-wrap .basic-info-box .info dl dt {
    flex-direction: column;
    align-items: inherit;
  }
  .survey-view-wrap .basic-info-box .info dl dt > div {
    margin: -45px 0 0 60px;
  }
  .survey-view-wrap .basic-info-box .info dl dt span {
    display: inline-block;
    width: 100%;
    border-right: 0;
    padding-right: 0;
    line-height: 24px;
  }
  .survey-view-wrap .basic-info-box .info dl dd {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #666;
    margin-top: 10px;
  }
  .survey-view-wrap .survey-area {
    padding: 10px;
  }
  .survey-view-wrap .survey-area .survey-row {
    border-bottom: 1px solid #ddd;
  }
  .survey-view-wrap .survey-area .survey-row .question {
    font-size: 17px;
    padding: 15px 0;
  }
  .survey-view-wrap .survey-area .survey-row .answer {
    font-size: 17px;
    padding-bottom: 15px;
  }
  .survey-view-wrap .survey-area .survey-row .answer ul {
    margin-left: 0;
    flex-direction: column;
    flex-grow: 1;
  }
  .survey-view-wrap .survey-area .survey-row .answer ul li {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 10px 0;
  }
  .survey-view-wrap .survey-area .survey-row .answer ul li .input-box {
    padding-left: 30px;
  }
  .survey-view-wrap .survey-area .checkbox .label {
    font-size: 17px;
  }
  .survey-view-wrap .survey-area .radiobox .label {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .history-wrap .history-main dl {
    width: calc(50% - 10px);
  }
}