.regulation-wrap .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 60px;
}
.regulation-wrap .header .title {
  font-size: 30px;
  font-weight: 700;
  color: #222222;
}
.regulation-wrap .header .link {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 6px;
  border: 2px solid #0F3B75;
  border-radius: 12px;
}
.regulation-wrap .header .link::before {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background-image: url("../images/sub/file-download.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.regulation-wrap .header .link .text {
  display: block;
  text-align: center;
  color: #0F3B75;
  font-size: 15px;
}
.regulation-wrap .cont .info {
  margin: 60px 0 26px;
  text-align: right;
}
.regulation-wrap .cont .info div {
  font-size: 15px;
  color: #666;
}
.regulation-wrap .cont .info div + div {
  margin-top: 8px;
}
.regulation-wrap .cont .accordion-box + .accordion-box {
  margin-top: 12px;
}
.regulation-wrap .cont .accordion-box .sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 62px;
  min-height: 62px;
  background-color: #F4F6FA;
  position: relative;
  cursor: pointer;
  padding-right: 40px;
}
.regulation-wrap .cont .accordion-box .sub-header::before {
  content: "";
  width: 12px;
  height: 100%;
  background-color: #0F3B75;
  position: absolute;
  left: 0;
  top: 0;
}
.regulation-wrap .cont .accordion-box .sub-header::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/sub/accordion_arrow.svg") no-repeat center;
  background-size: contain;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.regulation-wrap .cont .accordion-box .sub-header .title {
  font-size: 20px;
  color: #222222;
  padding-left: 40px;
  flex-grow: 1;
}
.regulation-wrap .cont .accordion-box .sub-content {
  display: none;
  margin: 12px 0 20px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1019607843);
  border-radius: 12px;
}
.regulation-wrap .cont .accordion-box .sub-content h4 {
  margin-bottom: 20px;
  font-size: 20px;
}
.regulation-wrap .cont .accordion-box .sub-content ul + h4 {
  margin-top: 30px;
}
.regulation-wrap .cont .accordion-box .sub-content ul li {
  list-style: none;
}
.regulation-wrap .cont .accordion-box .sub-content ul li + li {
  margin-top: 20px;
}
.regulation-wrap .cont .accordion-box .sub-content ul li p {
  margin-bottom: 16px;
  font-size: 16px;
  color: #222222;
  font-weight: 600;
}
.regulation-wrap .cont .accordion-box .sub-content ul li span {
  display: block;
  color: #666666;
  font-size: 16px;
  word-break: keep-all;
}
.regulation-wrap .cont .accordion-box .sub-content ul li span + span {
  margin-top: 12px;
}
.regulation-wrap .cont .accordion-box .sub-content ul li ul {
  margin-top: 14px;
  padding-left: 20px;
}
.regulation-wrap .cont .accordion-box .sub-content ul li ul + span {
  margin-top: 14px;
}
.regulation-wrap .cont .accordion-box .sub-content ul li ul li {
  font-size: 15px;
  color: #666666;
}
.regulation-wrap .cont .accordion-box .sub-content ul li ul li + li {
  margin-top: 10px;
}
.regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap {
  overflow: auto;
  padding-bottom: 10px;
}
.regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap::-webkit-scrollbar {
  height: 4px;
  background: none;
}
.regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap::-webkit-scrollbar-thumb {
  height: 4px;
  border-radius: 60px;
  background: rgba(153, 153, 153, 0.3);
}
.regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap + .table-wrap {
  margin-top: 20px;
}
.regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap .table-info {
  margin-top: 14px;
  text-align: right;
}
.regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap .tit {
  font-size: 18px;
}
.regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap .sub-txt {
  text-align: right;
  margin-bottom: 10px;
}
.regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap table {
  border-collapse: collapse;
}
.regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap table th, .regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap table td {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  word-break: keep-all;
}
.regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap table th {
  background-color: #f8f8f8;
  font-weight: bold;
}
.regulation-wrap .cont .accordion-box.active .sub-header {
  background-color: #2B408E;
  color: #ffffff;
  border: 1px solid #707070;
}
.regulation-wrap .cont .accordion-box.active .sub-header .title {
  color: #ffffff;
}
.regulation-wrap .cont .accordion-box.active .sub-header::after {
  width: 26px;
  height: 26px;
  background: url("../images/sub/accordion_active_arrow.svg") no-repeat center;
}
.regulation-wrap .cont .accordion-box.active .sub-header::before {
  content: none;
}
.regulation-wrap .cont .accordion-box.active .sub-content {
  display: block;
}

.ceo-wrap {
  position: relative;
  margin-top: 60px;
}
.ceo-wrap .ceo-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.ceo-wrap .ceo-header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px solid #e4e4e4;
}
.ceo-wrap .ceo-header .text {
  flex: 1;
  padding: 50px 300px 106px 60px;
}
.ceo-wrap .ceo-header .text p {
  font-size: 26px;
  color: #495566;
  line-height: 1.4;
  word-break: keep-all;
}
.ceo-wrap .ceo-header .text p strong {
  color: #495566;
}
.ceo-wrap .ceo-header .text p + p {
  margin-top: 20px;
}
.ceo-wrap .ceo-header .img {
  flex-shrink: 0;
  position: absolute;
  bottom: 60px;
  right: 60px;
}
.ceo-wrap .ceo-header .img img {
  max-width: 448px;
}
.ceo-wrap .ceo-header .btm {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #274694;
}
.ceo-wrap .ceo-header .btm p {
  padding: 22px 40px;
  text-align: right;
  color: #ffffff;
  font-size: 14px;
  opacity: 0.4;
  letter-spacing: 1.9px;
}
.ceo-wrap .ceo-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 60px;
}
.ceo-wrap .ceo-content .text-wrap {
  display: flex;
  gap: 50px;
}
.ceo-wrap .ceo-content .text-wrap .txt-box {
  flex: 1;
}
.ceo-wrap .ceo-content .text-wrap .txt-box p {
  font-size: 20px;
  color: #333333;
  line-height: 1.4;
  word-break: keep-all;
}
.ceo-wrap .ceo-content .text-wrap .txt-box p + p {
  margin-top: 26px;
}
.ceo-wrap .ceo-content .sign-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}
.ceo-wrap .ceo-content .sign-wrap p {
  font-size: 18px;
  color: #333;
}
.ceo-wrap .ceo-content .sign-wrap .img img {
  max-width: 161px;
  aspect-ratio: 2.11;
  display: block;
  overflow: hidden;
  position: relative;
}
.ceo-wrap .ceo-content .sign-wrap .img img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.location-wrap .tit {
  margin: 5px 0 24px;
  font-size: 26px;
  font-weight: bold;
  color: #222222;
}
.location-wrap .sub-box {
  display: flex;
  align-items: center;
  gap: 24px;
  border-top: 3px solid #707070;
  border-bottom: 1px solid #DDDDDD;
}
.location-wrap .sub-box + .tit {
  margin-top: 60px;
}
.location-wrap .sub-box .img img {
  aspect-ratio: 1.77;
  display: block;
  overflow: hidden;
  position: relative;
}
.location-wrap .sub-box .img img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.location-wrap .sub-box .info {
  padding: 20px 0;
}
.location-wrap .sub-box .info p {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
  line-height: 1.4;
  word-break: keep-all;
}
.location-wrap .sub-box .info p span {
  display: inline-block;
  width: 100%;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 400;
}
.location-wrap .sub-box .info p + p {
  margin-top: 20px;
}
.location-wrap .sub-box .info p:first-child {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}
.location-wrap .map-box {
  border-top: 1px solid #222;
  border-bottom: 1px solid #D8D8D8;
  background-color: #F9F9F9;
}
.location-wrap .map-box .row {
  display: flex;
  border-bottom: 1px solid #EAEAEA;
}
.location-wrap .map-box .row:last-child {
  border-bottom: none;
}
.location-wrap .map-box .row .title {
  width: 320px;
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-right: 1px solid #eaeaea;
}
.location-wrap .map-box .row .content {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 40px 30px;
  background-color: #fff;
}
.location-wrap .map-box .row .content .subway-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.location-wrap .map-box .row .content .subway-info .subway-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: white;
  background-color: #B5500C;
  border-radius: 50%;
}
.location-wrap .map-box .row .content .subway-info .line-name {
  display: inline-block;
  width: 50px;
  height: 28px;
  font-size: 12px;
  padding: 7px;
  text-align: center;
  background: #73B6E4;
  color: white;
  border-radius: 14px;
}
.location-wrap .map-box .row .content .desc {
  display: block;
  margin-left: 16px;
  font-size: 16px;
  color: #222;
  line-height: 1.4;
  word-break: keep-all;
}
.location-wrap .map-box .row .content .bus-info strong {
  font-size: 16px;
  font-weight: 600;
  color: #222;
}
.location-wrap .map-box .row .content .bus-info ul {
  margin-top: 20px;
  list-style: none;
}
.location-wrap .map-box .row .content .bus-info ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #222;
}
.location-wrap .map-box .row .content .bus-info ul li::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.location-wrap .map-box .row .content .bus-info ul li + li {
  margin-top: 10px;
}
.location-wrap .map-box .row .content .bus-info ul .green::before {
  background-image: url("../images/sub/green_bus.svg");
}
.location-wrap .map-box .row .content .bus-info ul .blue::before {
  background-image: url("../images/sub/blue_bus.svg");
}

.pr-wrap .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 60px;
  margin: 0 30px;
}
.pr-wrap .header .title {
  word-break: keep-all;
}
.pr-wrap .header .title p {
  margin-bottom: 24px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.4;
  color: #222222;
}
.pr-wrap .header .title span {
  display: inline-block;
  font-size: 18px;
  line-height: 1.4;
  color: #495566;
}
.pr-wrap .header .link {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  gap: 6px;
  border: 2px solid #0F3B75;
  border-radius: 12px;
}
.pr-wrap .header .link::before {
  content: "";
  display: block;
  width: 42px;
  height: 42px;
  background-image: url("../images/sub/PDF.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.pr-wrap .header .link .text {
  display: block;
  text-align: center;
  color: #0F3B75;
  font-size: 15px;
}
.pr-wrap .cont {
  max-width: 955px;
  width: 100%;
  margin: 60px auto 0;
}
.pr-wrap .cont img {
  aspect-ratio: 1.5151515152;
  display: block;
  overflow: hidden;
  position: relative;
}
.pr-wrap .cont img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.directors-wrap .director-box:last-child .career {
  padding-bottom: 0;
}
.directors-wrap .director-box .director-header {
  display: flex;
  align-items: flex-end;
  position: relative;
  gap: 20px;
  padding-bottom: 24px;
}
.directors-wrap .director-box .director-header .position {
  font-size: 20px;
  color: #222222;
  line-height: 1;
}
.directors-wrap .director-box .director-header .name {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  line-height: 1;
}
.directors-wrap .director-box .director-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #32A6D8 0%, #2E6BAB 15%, #3665A5 32%, #394B95 100%);
}
.directors-wrap .director-box .career {
  display: flex;
  gap: 70px;
  padding: 40px 20px 60px;
}
.directors-wrap .director-box .career .career-title {
  font-size: 18px;
  font-weight: 600;
  color: #222222;
}
.directors-wrap .director-box .career .career-list {
  list-style: none;
}
.directors-wrap .director-box .career .career-list li {
  font-size: 18px;
  color: #333;
}
.directors-wrap .director-box .career .career-list li + li {
  margin-top: 16px;
}

@media only screen and (max-width: 1023px) {
  .regulation-wrap .header {
    margin-top: 30px;
    gap: 100px;
  }
  .regulation-wrap .header .title {
    font-size: 26px;
  }
  .regulation-wrap .header .link {
    width: 100px;
    height: 100px;
  }
  .regulation-wrap .cont .accordion-box .sub-header .title {
    font-size: 18px;
  }
  .regulation-wrap .cont .accordion-box .sub-content {
    padding: 30px;
  }
  .regulation-wrap .cont .accordion-box .sub-content h4 {
    font-size: 18px;
  }
  .regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap .table-info {
    font-size: 14px;
  }
  .regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap .tit {
    font-size: 16px;
  }
  .regulation-wrap .cont .accordion-box .sub-content ul li .table-wrap .sub-txt {
    font-size: 14px;
  }
  .ceo-wrap {
    margin-top: 80px;
  }
  .ceo-wrap .ceo-header .text {
    flex: 1;
    padding-right: 200px;
  }
  .ceo-wrap .ceo-header .text p {
    font-size: 24px;
  }
  .ceo-wrap .ceo-header .text p + p {
    margin-top: 14px;
  }
  .ceo-wrap .ceo-header .img {
    right: 40px;
  }
  .ceo-wrap .ceo-header .img img {
    max-width: 365px;
  }
  .ceo-wrap .ceo-content {
    gap: 50px;
  }
  .ceo-wrap .ceo-content .text-wrap {
    gap: 30px;
  }
  .ceo-wrap .ceo-content .text-wrap .txt-box p {
    font-size: 18px;
  }
  .ceo-wrap .ceo-content .sign-wrap {
    font-size: 18px;
  }
  .location-wrap .sub-box {
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
  }
  .location-wrap .sub-box .info {
    padding: 0 0 24px 0;
  }
  .location-wrap .map-box .row .title {
    width: 200px;
  }
  .location-wrap .map-box .row .content {
    padding: 30px 20px;
  }
  .location-wrap .map-box .row .content .desc {
    margin-left: 10px;
  }
  .location-wrap .map-box .row .content .bus-info ul {
    margin-top: 10px;
  }
  .location-wrap .map-box .row .content .bus-info ul li + li {
    margin-top: 4px;
  }
  .pr-wrap .header {
    margin-top: 30px;
    gap: 100px;
  }
  .pr-wrap .header .title p {
    font-size: 24px;
  }
  .pr-wrap .header .link {
    width: 100px;
    height: 100px;
  }
  .directors-wrap .director-box .director-header {
    gap: 14px;
    padding-bottom: 20px;
  }
  .directors-wrap .director-box .director-header .position {
    font-size: 18px;
  }
  .directors-wrap .director-box .director-header .name {
    font-size: 26px;
  }
  .directors-wrap .director-box .career {
    gap: 50px;
    padding: 30px 20px 40px;
  }
}
@media only screen and (max-width: 768px) {
  .regulation-wrap .header {
    margin-top: 0;
    flex-direction: column;
    gap: 40px;
  }
  .regulation-wrap .header .link {
    width: 300px;
    height: 52px;
  }
  .regulation-wrap .header .link::before {
    content: none;
  }
  .ceo-wrap {
    margin-top: 0px;
  }
  .ceo-wrap .ceo-header .text {
    flex: 1;
    padding: 40px 20px 70px;
  }
  .ceo-wrap .ceo-header .text p {
    text-align: center;
    font-size: 20px;
  }
  .ceo-wrap .ceo-header .img {
    display: none;
  }
  .ceo-wrap .ceo-header .btm p {
    padding: 22px 0px;
    font-size: 0;
  }
  .ceo-wrap .ceo-content .text-wrap {
    flex-direction: column;
    gap: 26px;
  }
  .ceo-wrap .ceo-content .text-wrap .txt-box p {
    font-size: 16px;
  }
  .location-wrap .map-box {
    border-top: none;
  }
  .location-wrap .map-box .row {
    flex-direction: column;
  }
  .location-wrap .map-box .row .title {
    width: 100%;
    justify-content: flex-start;
    border-top: 1px solid #222;
    border-right: none;
  }
  .location-wrap .map-box .row .content {
    padding: 30px 20px;
  }
  .location-wrap .map-box .row .content .desc {
    margin-left: 10px;
  }
  .location-wrap .map-box .row .content .bus-info ul {
    margin-top: 10px;
  }
  .location-wrap .map-box .row .content .bus-info ul li + li {
    margin-top: 4px;
  }
  .pr-wrap .header {
    margin-top: 0;
    flex-direction: column;
    gap: 40px;
  }
  .pr-wrap .header .link {
    width: 300px;
    height: 52px;
  }
  .pr-wrap .header .link::before {
    content: none;
  }
  .directors-wrap .director-box .director-header {
    gap: 10px;
  }
  .directors-wrap .director-box .director-header .position {
    font-size: 16px;
  }
  .directors-wrap .director-box .director-header .name {
    font-size: 24px;
  }
  .directors-wrap .director-box .career {
    gap: 30px;
    padding: 20px 20px 40px;
  }
  .directors-wrap .director-box .career .career-title {
    font-size: 16px;
  }
  .directors-wrap .director-box .career .career-list li {
    font-size: 16px;
  }
  .directors-wrap .director-box .career .career-list li + li {
    margin-top: 10px;
  }
}
@media (max-width: 580px) {
  .regulation-wrap .header .title {
    font-size: 24px;
  }
  .ceo-wrap .ceo-header .text p {
    text-align: center;
    font-size: 18px;
  }
  .ceo-wrap .ceo-content .sign-wrap .img img {
    max-width: 120px;
  }
  .location-wrap .tit {
    margin: 0 0 24px;
    font-size: 24px;
  }
  .location-wrap .sub-box .info {
    font-size: 16px;
  }
  .location-wrap .sub-box .info p {
    font-size: 18px;
  }
  .location-wrap .sub-box .info p span {
    font-size: 16px;
  }
  .location-wrap .sub-box .info p:first-child {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .location-wrap .map-box .row .content {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .location-wrap .map-box .row .content .desc {
    margin: 10px 0 0;
  }
  .pr-wrap .header {
    margin: 0 20px;
  }
  .pr-wrap .header .title p {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .pr-wrap .header .title span {
    font-size: 16px;
  }
  .pr-wrap .header .link {
    width: 100%;
  }
  .directors-wrap .director-box .director-header .name {
    font-size: 20px;
  }
  .directors-wrap .director-box .career {
    gap: 20px;
    flex-direction: column;
  }
}
@media (max-width: 360px) {
  .regulation-wrap .header .title {
    font-size: 20px;
  }
  .pr-wrap .header {
    margin: 0;
  }
}/*# sourceMappingURL=etc02.css.map */