@import "utility";

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid $border-color;

  .w-set {
    width: 100%;
    height: 95px;
  }

  .hd-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    .hd-logo {
      flex: 0 0 auto;
      width: 134px;
      height: 40px;

      .logo-link {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url("../images/sub/logo.svg") no-repeat center;
        background-size: 100% auto;
      }
    }

    .gnb-wrap {
      height: 100%;
      margin-left: 30px;

      .gnb {
        display: flex;
        align-items: center;
        height: 100%;

        >li {
          height: 100%;

          &:hover>a::after {
            transform: translateX(-50%) scaleX(1);
          }

          >a {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            padding: 40px 30px;
            font-size: 18px;

            &::after {
              content: '';
              position: absolute;
              bottom: 4px;
              left: 50%;
              width: 100%;
              max-width: calc(100% - 60px);
              height: 3px;
              background-color: $main-color;
              transform: translateX(-50%) scaleX(0);
              transition: transform 0.3s;
            }

            &.active {
              color: $main-color;

              &::after {
                transform: translateX(-50%) scaleX(1);
              }
            }
          }
        }
      }

      .sub-gnb-wrap {
        position: absolute;
        top: calc(100% - 1px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        width: 100%;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;

        &.on {
          opacity: 1;
          visibility: visible;

          .depth-wrap {
            display: flex;
          }

          .sub-gnb-bg {
            display: flex;
          }
        }

        .depth-wrap {
          display: none;
          width: 100%;
          max-width: 1400px;
          height: 100%;
          margin: 0 auto;
        }

        .depth2 {
          position: relative;
          z-index: 1;
          flex: 1;
          min-height: 275px;
          padding: 20px 20px 40px;
          border-right: 1px solid $border-color;

          &:first-child {
            border-left: 1px solid $border-color;
          }

          &:nth-child(n + 3) {
            background-color: #fff;
          }

          >li>a {
            display: inline-block;
            font-weight: 500;
            font-size: 18px;
            word-break: keep-all;

            &.active {
              color: $main-color;
            }
          }
        }

        .depth3 {
          >li {
            margin-top: 10px;

            &:first-child {
              margin-top: 20px;
            }

            &:hover {
              >a {
                color: $main-color;

                .depth-ico {
                  background-image: url("../images/common/select_arrow_blue.svg");
                }

                &.active .depth-ico {
                  transform: rotate(0);
                }
              }
            }

            a {
              display: flex;
              font-size: 16px;
              color: #666;
              word-break: keep-all;
              transition: color 0.3s;

              &::before {
                content: '·';
                display: inline-block;
                padding-right: 4px;
              }

              &.active {
                color: $main-color;

                .depth-ico {
                  background-image: url("../images/common/select_arrow_blue.svg");
                  transform: rotate(180deg);
                }
              }

              .depth-ico {
                align-self: center;
                width: 8px;
                height: 4px;
                margin-left: 5px;
                background: url("../images/common/select_arrow_gray.svg") no-repeat center;
                background-size: 8px auto;
                transition: 0.3s;
              }
            }
          }
        }

        .depth4 {
          height: 1px;
          padding: 0 20px;
          margin-top: 10px;
          background-color: $background-color;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in;

          &.on {
            height: auto;
            padding: 10px 20px 20px;
            opacity: 1;
            visibility: visible;

            li a {
              font-size: 16px;
            }
          }

          li {
            margin-top: 10px;

            a {
              font-size: 0;

              &::before {
                content: '-';
              }

              &:hover {
                color: $main-color;
              }

              &.active {
                color: $main-color;
              }
            }
          }
        }

        .sub-gnb-bg {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          align-items: flex-end;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          min-height: 275px;
          background-color: #fff;
        }
      }
    }

    .hd-utils {
      display: flex;
      align-items: center;
      margin-left: auto;

      .btn-consult {
        width: 90px;
        padding: 7px 18px;
        border: 1px solid #0635A4;
        border-radius: 17px;
        text-align: center;
        font-size: 15px;
        color: #0635A4;
      }

      .language-wrap {
        position: relative;
        margin-left: 20px;

        &.on {
          .current-lang::after {
            transform: rotate(180deg);
          }

          .option-list {
            opacity: 1;
            visibility: visible;
          }
        }

        .current-lang {
          padding: 5px 0 5px 26px;
          background: url("../images/common/hd_language.svg") no-repeat left center;
          background-size: 24px auto;
          @include font(600, 15px, #000);

          &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            margin-top: -3px;
            background: url("../images/common/more_arrow.svg") no-repeat center;
            background-size: 16px auto;
            transition: transform 0.3s;
          }
        }

        .option-list {
          position: absolute;
          top: calc(100% + 33px);
          left: 0;
          z-index: 10;
          width: 100px;
          padding: 10px 0;
          border: 1px solid $border-color;
          background-color: #fff;
          box-shadow: 0px 3px 6px #0000000F;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s linear;

          li {
            &:hover .option {
              color: $main-color;
            }

            .option {
              display: block;
              width: 100%;
              padding: 10px 0 7px;
              text-align: center;
              font-weight: 500;
              font-size: 15px;
              transition: all 0.35s;
              cursor: pointer;
            }
          }
        }
      }

      .btn-search {
        width: 24px;
        height: 24px;
        margin-left: 15px;
        background: url("../images/common/hd_search.svg") no-repeat center;
        background-size: 24px auto;
        font-size: 0;
      }

      .all-menu {
        position: relative;
        width: 24px;
        height: 24px;
        padding: 4px;
        margin-left: 20px;
        transition: all 0.4s;

        &.active {
          span {
            &:nth-of-type(1) {
              animation: active-menu-bar01 0.75s forwards;
            }

            &:nth-of-type(2) {
              opacity: 0;
            }

            &:nth-of-type(3) {
              animation: active-menu-bar02 0.75s forwards;
            }
          }
        }

        span {
          position: absolute;
          right: 4px;
          width: 16px;
          height: 2px;
          border-radius: 2px;
          background-color: #000000;
          transition: all 0.4s;

          &:nth-of-type(1) {
            top: 6px;
            animation: menu-bar01 0.75s forwards;
          }

          &:nth-of-type(2) {
            top: 11px;
            width: 11px;
            transition: all 0.25s 0.25s;
            opacity: 1;
          }

          &:nth-of-type(3) {
            bottom: 6px;
            animation: menu-bar02 0.75s forwards;
          }
        }
      }
    }
  }

  .hd-search-wrap {
    position: fixed;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;

    &.on {
      opacity: 1;
      visibility: visible;

      .search-wrap {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &::before {
      content: '';
      position: fixed;
      top: 96px;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: #22222299;
    }

    .hd-search {
      position: relative;
      padding: 30px 0 70px;
      border-top: 1px solid $border-color;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        min-height: 310px;
        background-color: #fff;
      }
    }

    .search-close {
      position: absolute;
      top: 0;
      right: 30px;
      width: 24px;
      height: 24px;
      background: url("../images/common/search_close.svg") no-repeat center;
      font-size: 0;
    }

    .title-wrap {
      position: relative;
      max-width: 1400px;
      padding-top: 60px;
      margin: 0 auto 40px;
      text-align: center;

      .title {
        @include font(700, 50px, #222);
      }
    }

    .search-wrap {
      max-width: 680px;
      margin: 0 auto;
      transform: translateY(-30px);
      opacity: 0;
      transition: 0.2s linear;

      .search-box .search-area .input-wrap input {
        padding: 0 70px 0 30px;
      }

      .popular-wrap {
        display: flex;
        align-items: center;
        gap: 60px;
        padding: 0 30px;
        margin-top: 20px;

        >p {
          font-weight: 600;
          font-size: 16px;
        }

        ul {
          display: flex;
          align-items: center;
          gap: 20px;

          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@keyframes menu-bar01 {
  0% {
    transform: translateY(5px) rotate(45deg);
  }

  50% {
    transform: translateY(5px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes menu-bar02 {
  0% {
    transform: translateY(-5px) rotate(-45deg);
  }

  50% {
    transform: translateY(-5px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(5px) rotate(0);
  }

  100% {
    transform: translateY(5px) rotate(45deg);
  }
}

@keyframes active-menu-bar02 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-5px) rotate(0);
  }

  100% {
    transform: translateY(-5px) rotate(-45deg);
  }
}

@media (max-width: 1400px) {
  #header {
    .w-set {
      padding: 0 16px;
    }

    .hd-wrap {
      .gnb-wrap {
        margin-left: 16px;

        .gnb>li>a {
          padding: 40px 20px;

          &::after {
            max-width: calc(100% - 40px);
          }
        }

        .sub-gnb-wrap .depth2 {
          &:nth-last-child(2) {
            background-color: #fff;
          }
        }
      }
    }
  }
}

@include laptop {
  #header {
    .w-set {
      height: 70px;
    }

    .hd-wrap {
      .hd-logo {
        width: 120px;
        height: 36px;
      }

      .gnb-wrap {
        display: none;
      }

      .hd-utils {
        .btn-consult {
          display: none;
        }

        .language-wrap {
          .option-list {
            top: calc(100% + 21px);
            padding: 10px 0;
          }
        }
      }
    }

    .hd-search-wrap {
      .hd-search {

        &::before,
        &::after {
          background-image: none;
        }
      }
    }
  }
}

@include mobile {
  #header {
    .w-set {
      height: 56px;
    }

    .hd-wrap {
      .hd-logo {
        width: 78px;
        height: 24px;
      }

      .hd-utils {
        .btn-consult {
          display: none;
        }

        .language-wrap {
          margin-left: 0;

          .current-lang {
            padding: 5px 0 5px 5px;
            background: none;
          }

          .option-list {
            top: calc(100% + 14px);
          }
        }
      }
    }

    .hd-search-wrap {
      .hd-search {
        padding: 50px 0 80px;

        &::before,
        &::after {
          height: 100%;
          min-height: auto;
        }
      }

      .search-close {
        top: -14px;
        right: 16px;
        width: 18px;
        height: 18px;
      }

      .title-wrap {
        padding: 0 16px;
        margin: 0 auto 20px;

        .title {
          line-height: 1.2;
          font-weight: 600;
          font-size: 26px;
        }
      }

      .search-wrap {
        padding: 0 28px;

        .search-box .search-area {
          .input-wrap input {
            height: 44px;
            padding: 0 40px 0 20px;
            line-height: 44px;
            font-size: 15px;
          }

          .btn-search {
            right: 20px;
            width: 20px;
            height: 20px;
            background-size: 18px;
          }
        }

        .popular-wrap {
          flex-direction: column;
          gap: 10px;
          padding: 0 20px;
          margin-top: 30px;
        }
      }
    }
  }
}

#footer {
  width: 100%;

  .ft-top {
    padding: 15px 0;
    border-bottom: 1px solid #626262;
    background-color: #232426;

    .w-set {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .link-list {
      a {
        @include font(300, 15px, #A8A8A8);

        &+a {
          margin-left: 30px;
        }

        b {
          font-weight: 700;
          color: #2EADE2;
        }
      }
    }

    .related-site {
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        padding: 18px 24px 17px;
        border: 1px solid #FFFFFF;
        @include font(500, 16px, #fff);

        &::after {
          content: '';
          width: 7px;
          height: 12px;
          background: url("../images/common/related_arrow.svg") no-repeat center;
        }
      }
    }
  }

  .ft-btm {
    padding: 20px 0 60px;
    background-color: #232426;

    .w-set {
      display: flex;
      gap: 50px;
    }

    .ft-logo {
      flex: 0 0 auto;
      width: 134px;
      height: 40px;

      .logo {
        width: 100%;
        height: 100%;
        background: url("../images/sub/ft_logo.svg") no-repeat center;
        background-size: 100% auto;
        font-size: 0;
      }
    }

    .info-wrap p {
      font-size: 15px;
      color: #E0E0E0;
      word-break: keep-all;
    }

    .copyright-wrap {
      margin-top: 20px;

      p {
        @include font(300, 15px, #A8A8A8);
        word-break: keep-all;

        span {
          color: #FFFFFF;
        }
      }
    }
  }
}

@include mobile {
  #footer {
    padding-top: 54px;

    .ft-top {
      position: relative;
      padding: 20px 0;

      .link-list {
        a {
          font-size: 14px;

          &+a {
            margin-left: 32px;
          }
        }
      }

      .related-site {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;

        a {
          width: 100%;
          color: #222222;
          border-color: $border-color;

          &::after {
            background-image: url("../images/common/related_arrow_black.svg");
          }
        }
      }
    }

    .ft-btm {
      padding: 30px 0 40px;

      .w-set {
        flex-direction: column;
        gap: 20px;
      }

      .ft-logo {
        width: 78px;
        height: 24px;
      }

      .info-wrap p {
        line-height: 1.4;
        font-size: 14px;
      }

      .copyright-wrap {
        margin-top: 15px;

        p {
          font-size: 14px;
        }
      }
    }
  }
}

// aside
.aside-bg {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.46;
  &.on {
    display: block;
  }
}

#aside-wrap {
  position: fixed;
  z-index: 1010;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: 0.3s;
  opacity: 0;
  overflow-y: auto;
  @include scroll;
  &.on {
    top: 0;
    opacity: 1;
  }
  .aside-header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #EEF5FA;
    .login-wrap {
      display: flex;
      align-items: center;
      gap: 14px;
      .link {
        font-weight: 500;
        font-size: 16px;
      }
      .line {
        width: 1px;
        height: 10px;
        background-color: #BCBCBC;
      }
    }
  }
  #sitemap {
    max-width: 1312px;
    padding: 0 16px;
    margin: 0 auto;
    > ul {
      display: flex;
      gap: 25px;
      padding: 150px 0 60px;
      li {
        &.dep1 {
          flex: 1;
          .dep1-tit {
            display: block;
            padding: 23px 26px 23px 24px;
            margin-bottom: 30px;
            border-radius: 3px;
            background: #F8F8F8 url("../images/common/sitemap_arrow.svg") no-repeat right 20px center;
            background-size: 6px auto;
            font-weight: 600;
            font-size: 20px;
          }
        }
        .dep2-ul > li {
          & > a {
            display: block;
            padding: 19px 16px;
            margin-top: 20px;
            border-radius: 3px;
            border: 1px solid #DDDDDD;
            background-color: #fff;
            font-weight: 500;
            font-size: 18px;
            transition: 0.3s;
            word-break: keep-all;
            &:hover {
              border-color: $main-color;
              color: $main-color;
            }
          }
        }
        .dep3-ul {
          padding: 20px 16px 0;
          & > li > a {
            display: block;
            padding: 5px 0;
            font-size: 16px;
            color: #666;
            word-break: keep-all;
            transition: 0.3s;
            &::before {
              content: "·";
              margin: 0 4px 0 0;
            }
            &:hover,
            &.active {
              color: $main-color;
            }
          }
        }
        .dep4-ul {
          padding: 0 10px;
          & > li > a {
            display: block;
            padding: 5px 0;
            font-size: 16px;
            color: #888888;
            word-break: keep-all;
            transition: 0.3s;
            &::before {
              content: "-";
              margin: 0 4px 0 0;
            }
            &:hover,
            &.active {
              color: $main-color;
            }
          }
        }
      }
    }
  }
}

@include tablet {
  .aside-bg {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.46;
    &.on {
      display: block;
    }
  }
  #aside-wrap {
    top: 0;
    left: auto;
    right: -100%;
    max-width: 360px;
    padding-top: 70px;
    overflow-y: initial;
    @include nscroll;
    &.on {
      right: 0;
    }
    .aside-body {
      height: calc(100vh - 71px);
      background-image: linear-gradient(to right, #274694 126px, #fff 126px);
      overflow-y: auto;
      @include scroll;
    }
    #sitemap {
      height: 100%;
      padding: 0;
      > ul {
        position: relative;
        display: block;
        gap: 0;
        height: 100%;
        padding: 0;
        li {
          &.dep1 {
            &.on {
              .dep1-tit {
                background: #fff;
                color: #274694;
              }
            }
            .dep1-tit {
              width: 126px;
              padding: 20px 16px;
              margin-bottom: 0;
              border-radius: 0;
              border-bottom: 1px solid #fff;
              background: #274694;
              font-weight: 500;
              font-size: 16px;
              color: #fff;
            }
          }
          .dep2-wrap {
            display: none;
            background: #fff;
            position: absolute;
            right: 0;
            top: 0;
            width: calc(100% - 126px);
            height: 100%;
            &.on {
              display: block;
            }
          }
          .dep2-ul > li {
            &:has(.dep3-ul) > a {
              display: flex;
              justify-content: space-between;
              &::after {
                content: '';
                width: 18px;
                height: 18px;
                background: url("../images/common/m_sitemap_arrow.svg") no-repeat center;
                transform: rotate(180deg);
                transition: 0.4s;
              }
            }
            &.on:has(.dep3-ul) {
              & > a::after {
                transform: rotate(0);
              }
              .dep3-ul {
                opacity: 1;
              }
            }
            & > a {
              padding: 16px 14px;
              margin-top: 0;
              border-radius: 0;
              border: 0;
              background-color: #fff;
              font-size: 16px;
              &:hover {
                border-color: transparent;
                color: #222;
              }
            }
            .dep3-ul {
              height: 0;
              padding: 0;
              overflow: hidden;
              opacity: 0;
              transition: 0.3s;
              & > li > a {
                padding: 11px 19px;
                background-color: #F8F8F8;
                font-size: 15px;
                &::before {
                  content: "·";
                  margin: 0 4px 0 0;
                }
                &:hover,
                &.active {
                  color: #222;
                }
              }
            }
            .dep3-ul {
              height: 0;
              padding: 0;
              overflow: hidden;
              opacity: 0;
              transition: 0.3s;
              & > li > a {
                padding: 11px 19px;
                background-color: #F8F8F8;
                font-size: 15px;
                &:hover,
                &.active {
                  color: #222;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .aside-bg {
    top: 57px;
  }

  #aside-wrap {
    max-width: 100%;
    min-width: auto;
    padding-top: 56px;
    .aside-body {
      height: calc(100vh - 57px);
    }
  }
}