@charset "UTF-8";
#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dddddd;
}
#header.on {
  background: transparent;
  position: fixed;
  border: 0 none;
}
#header.on .hd-wrap .hd-logo .logo-link {
  background-image: url("../images/sub/logo_white.png");
}
#header.on .hd-wrap .gnb-wrap .gnb > li > a {
  color: #fff;
}
#header .w-set {
  width: 100%;
  height: 90px;
}
#header .hd-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
#header .hd-wrap .hd-logo {
  flex: 0 0 auto;
  width: 113px;
  height: 72px;
}
#header .hd-wrap .hd-logo .logo-link {
  transition: all 0.3s;
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../images/sub/logo.png") no-repeat center;
  background-size: 100% auto;
}
#header .hd-wrap .gnb-wrap {
  height: 100%;
  margin: 0 auto;
}
#header .hd-wrap .gnb-wrap .gnb {
  display: flex;
  align-items: center;
  height: 100%;
}
#header .hd-wrap .gnb-wrap .gnb > li {
  height: 100%;
}
#header .hd-wrap .gnb-wrap .gnb > li:hover > a::after {
  transform: translateX(-50%) scaleX(1);
}
#header .hd-wrap .gnb-wrap .gnb > li > a {
  transition: all 0.3s;
  color: #222;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  padding: 34px 30px;
  font-weight: 600;
  font-size: 20px;
}
#header .hd-wrap .gnb-wrap .gnb > li > a.active {
  color: #0f3b75;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  display: flex;
  padding: 0 calc(50% - 80rem);
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap.on {
  opacity: 1;
  visibility: visible;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap.on .depth-wrap {
  display: flex;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap.on .sub-gnb-bg {
  display: flex;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap.on .title-wrap {
  opacity: 1;
  position: relative;
  z-index: 100;
  width: 32rem;
  height: 100%;
  text-align: right;
  padding: 40px 40px 0 0;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap.on .title-wrap .title {
  font-size: 30px;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth-wrap {
  display: none;
  flex: 1;
  height: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 40px 0 20px 40px;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .title-wrap {
  opacity: 0;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth2 {
  flex: 1 1 calc(20% - 24px);
  max-width: calc(20% - 24px);
  margin-right: 24px;
  margin-bottom: 24px;
  position: relative;
  z-index: 1;
  min-height: 100px;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth2:nth-child(n+3) {
  background-color: #fff;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth2 > li > a {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  word-break: keep-all;
  border: 1px solid #dddddd;
  border-radius: 10px;
  width: 100%;
  padding: 5px 50px 5px 20px;
  height: 56px;
  line-height: 1.2;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth2 > li > a::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/common/gnb_link.svg") no-repeat center/14px;
  transition: all 0.3s;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth2 > li > a.active {
  background: linear-gradient(95deg, #2b408e 0%, #306aaa 100%);
  box-shadow: 4px 4px 25px rgba(0, 120, 237, 0.4);
  color: #fff;
  font-weight: 700;
  border: none;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth2 > li > a.active::after {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../images/common/gnb_link_on.svg");
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth3 > li {
  margin-top: 10px;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth3 > li:first-child {
  margin-top: 20px;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth3 > li:hover > a {
  color: #0f3b75;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth3 > li:hover > a .depth-ico {
  background-image: url("../images/common/select_arrow_blue.svg");
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth3 > li:hover > a.active .depth-ico {
  transform: rotate(0);
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth3 > li a {
  display: flex;
  font-size: 16px;
  color: #666;
  word-break: keep-all;
  transition: color 0.3s;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth3 > li a::before {
  content: "·";
  display: inline-block;
  padding-right: 4px;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth3 > li a.active {
  color: #0f3b75;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth3 > li a.active .depth-ico {
  background-image: url("../images/common/select_arrow_blue.svg");
  transform: rotate(180deg);
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth3 > li a .depth-ico {
  align-self: center;
  width: 8px;
  height: 4px;
  margin-left: 5px;
  background: url("../images/common/select_arrow_gray.svg") no-repeat center;
  background-size: 8px auto;
  transition: 0.3s;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth4 {
  height: 1px;
  padding: 0 20px;
  margin-top: 10px;
  background-color: #f8f8f8;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth4.on {
  height: auto;
  padding: 10px 20px 20px;
  opacity: 1;
  visibility: visible;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth4.on li a {
  font-size: 16px;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth4 li {
  margin-top: 10px;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth4 li a {
  font-size: 0;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth4 li a::before {
  content: "-";
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth4 li a:hover {
  color: #0f3b75;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth4 li a.active {
  color: #0f3b75;
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .sub-gnb-bg {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 275px;
  background-color: #fff;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
#header .hd-wrap .gnb-wrap .sub-gnb-wrap .sub-gnb-bg::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(50% - 80rem + 32rem);
  height: 100%;
  background: #f8f8fa;
  border-radius: 0 0 10rem 0;
}
#header .hd-wrap .hd-utils {
  display: flex;
  align-items: center;
}
#header .hd-wrap .hd-utils .btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174px;
  height: 40px;
  background: linear-gradient(114deg, #0f3b75 0%, #254d82 100%);
  border-radius: 20px;
  font-size: 0;
  text-indent: -9999em;
  transition: all 0.3s;
}
#header .hd-wrap .hd-utils .btn-link::after {
  content: "";
  display: block;
  width: 126px;
  height: 13px;
  background: url("../images/sub/logo_dmcbiz.svg") no-repeat center/100% auto;
}
#header .hd-wrap .hd-utils .all-menu {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-left: 16px;
  transition: all 0.4s;
}
#header .hd-wrap .hd-utils .all-menu.active span:nth-of-type(1) {
  animation: active-menu-bar01 0.75s forwards;
}
#header .hd-wrap .hd-utils .all-menu.active span:nth-of-type(2) {
  opacity: 0;
}
#header .hd-wrap .hd-utils .all-menu.active span:nth-of-type(3) {
  animation: active-menu-bar02 0.75s forwards;
}
#header .hd-wrap .hd-utils .all-menu span {
  position: absolute;
  right: 4px;
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background-color: #000000;
  transition: all 0.4s;
}
#header .hd-wrap .hd-utils .all-menu span:nth-of-type(1) {
  top: 6px;
  animation: menu-bar01 0.75s forwards;
}
#header .hd-wrap .hd-utils .all-menu span:nth-of-type(2) {
  top: 11px;
  width: 11px;
  transition: all 0.25s 0.25s;
  opacity: 1;
}
#header .hd-wrap .hd-utils .all-menu span:nth-of-type(3) {
  bottom: 6px;
  animation: menu-bar02 0.75s forwards;
}

@keyframes menu-bar01 {
  0% {
    transform: translateY(5px) rotate(45deg);
  }
  50% {
    transform: translateY(5px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar02 {
  0% {
    transform: translateY(-5px) rotate(-45deg);
  }
  50% {
    transform: translateY(-5px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(5px) rotate(0);
  }
  100% {
    transform: translateY(5px) rotate(45deg);
  }
}
@keyframes active-menu-bar02 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-5px) rotate(0);
  }
  100% {
    transform: translateY(-5px) rotate(-45deg);
  }
}
@media screen and (min-width: 1024px) {
  #header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth2 > li > a:hover {
    background: linear-gradient(95deg, #2b408e 0%, #306aaa 100%);
    box-shadow: 4px 4px 25px rgba(0, 120, 237, 0.4);
    color: #fff;
    font-weight: 700;
    border: none;
  }
  #header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth2 > li > a:hover::after {
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url("../images/common/gnb_link_on.svg");
  }
}
@media (max-width: 1400px) {
  #header .w-set {
    padding: 0 16px;
  }
  #header .hd-wrap .gnb-wrap {
    margin-left: 16px;
  }
  #header .hd-wrap .gnb-wrap .gnb > li > a {
    padding: 40px 20px;
  }
  #header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth2:nth-last-child(2) {
    background-color: #fff;
  }
}
@media only screen and (max-width: 1240px) {
  #header .w-set {
    height: 70px;
  }
  #header .hd-wrap .hd-logo {
    width: 120px;
    height: 36px;
  }
  #header .hd-wrap .gnb-wrap {
    display: none;
  }
  #header .hd-wrap .hd-utils {
    margin-left: auto;
  }
}
@media only screen and (max-width: 768px) {
  #header .w-set {
    height: 56px;
  }
  #header .hd-wrap .hd-logo {
    width: 78px;
    height: 24px;
  }
  #header .hd-wrap .hd-utils .btn-link {
    width: 110px;
    height: 34px;
  }
  #header .hd-wrap .hd-utils .btn-link::after {
    width: 88.2px;
    height: 9.1px;
  }
}
#footer .ft-top {
  background-color: #232426;
}
#footer .ft-top .w-set {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
#footer .ft-top .link-list a {
  color: #fff;
  font-size: 16px;
}
#footer .ft-top .link-list a + a {
  margin-left: 30px;
}
#footer .ft-top .link-list a b {
  font-weight: 700;
  color: #fff;
  font-size: 16px;
}
#footer .ft-btm {
  padding: 36px 0 60px;
  background-color: #232426;
}
#footer .ft-btm .w-set {
  display: flex;
  justify-content: space-between;
}
#footer .ft-btm .info-wrap .info-row {
  display: flex;
  gap: 36px;
  margin-bottom: 14px;
}
#footer .ft-btm .info-wrap .info-text {
  font-size: 15px;
  color: #e0e0e0;
  word-break: keep-all;
}
#footer .ft-btm .copyright-wrap {
  margin-top: 50px;
}
#footer .ft-btm .copyright-wrap p {
  font-size: 14px;
  line-height: 1.4;
  color: #afafaf;
  word-break: keep-all;
}
#footer .ft-btm .ft-logo {
  flex: 0 0 auto;
  width: 113px;
  height: 72px;
}
#footer .ft-btm .ft-logo .logo {
  width: 100%;
  height: 100%;
  background: url("../images/sub/logo_white.png") no-repeat center/cover;
  font-size: 0;
}
#footer .ft-btm .sns-list {
  margin-top: 14px;
  margin-right: -3px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
#footer .ft-btm .sns-list [class*=sns-] {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999em;
  background: url("../images/sub/sns_blog.png") no-repeat center/cover;
}
#footer .ft-btm .sns-list .sns-dmcbiz {
  background-image: url("../images/sub/sns_dmcbiz.svg");
}
#footer .ft-btm .sns-list .sns-youtube {
  background-image: url("../images/sub/sns_youtube.png");
}

@media only screen and (max-width: 1240px) {
  #footer .ft-btm .w-set {
    gap: 30px;
  }
  #footer .ft-btm .right-wrap {
    flex-shrink: 0;
  }
  #footer .ft-btm .info-wrap .info-row {
    flex-wrap: wrap;
    gap: 14px;
  }
}
@media only screen and (max-width: 768px) {
  #footer .ft-top .link-list a {
    font-size: 14px;
  }
  #footer .ft-top .link-list a + a {
    margin-left: 32px;
  }
  #footer .ft-top .link-list a b {
    font-size: 14px;
  }
  #footer .ft-btm {
    padding: 30px 0 40px;
  }
  #footer .ft-btm .w-set {
    flex-direction: column-reverse;
    gap: 20px;
  }
  #footer .ft-btm .right-wrap {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
  #footer .ft-btm .info-wrap p {
    line-height: 1.4;
    font-size: 14px;
  }
  #footer .ft-btm .copyright-wrap {
    margin-top: 15px;
  }
  #footer .ft-btm .ft-logo {
    width: 90.4px;
    height: 57.6px;
  }
  #footer .ft-btm .sns-list {
    margin: 0;
  }
  #footer .ft-btm .sns-list [class*=sns-] {
    width: 34px;
    height: 34px;
  }
}
.aside-bg {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.46;
}
.aside-bg.on {
  display: block;
}

#aside-wrap {
  position: fixed;
  z-index: 1010;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: 0.3s;
  opacity: 0;
  overflow-y: auto;
}
#aside-wrap::-webkit-scrollbar {
  width: 4px;
  background: none;
}
#aside-wrap::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 60px;
  background: #efefef;
}
#aside-wrap.on {
  top: 0;
  opacity: 1;
}
#aside-wrap .aside-header {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #eef5fa;
}
#aside-wrap .aside-header .login-wrap {
  display: flex;
  align-items: center;
  gap: 14px;
}
#aside-wrap .aside-header .login-wrap .link {
  font-weight: 500;
  font-size: 16px;
}
#aside-wrap .aside-header .login-wrap .line {
  width: 1px;
  height: 10px;
  background-color: #bcbcbc;
}
#aside-wrap #sitemap {
  max-width: 1312px;
  padding: 0 16px;
  margin: 0 auto;
}
#aside-wrap #sitemap > ul {
  display: flex;
  gap: 25px;
  padding: 150px 0 60px;
}
#aside-wrap #sitemap > ul li.dep1 {
  flex: 1;
}
#aside-wrap #sitemap > ul li.dep1 .dep1-tit {
  display: block;
  padding: 23px 26px 23px 24px;
  margin-bottom: 30px;
  border-radius: 3px;
  background: #f8f8f8 url("../images/common/sitemap_arrow.svg") no-repeat right 20px center;
  background-size: 6px auto;
  font-weight: 600;
  font-size: 20px;
}
#aside-wrap #sitemap > ul li .dep2-ul > li > a {
  display: block;
  padding: 19px 16px;
  margin-top: 20px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  background-color: #fff;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s;
  word-break: keep-all;
}
#aside-wrap #sitemap > ul li .dep2-ul > li > a:hover {
  border-color: #0f3b75;
  color: #0f3b75;
}
#aside-wrap #sitemap > ul li .dep3-ul {
  padding: 20px 16px 0;
}
#aside-wrap #sitemap > ul li .dep3-ul > li > a {
  display: block;
  padding: 5px 0;
  font-size: 16px;
  color: #666;
  word-break: keep-all;
  transition: 0.3s;
}
#aside-wrap #sitemap > ul li .dep3-ul > li > a::before {
  content: "·";
  margin: 0 4px 0 0;
}
#aside-wrap #sitemap > ul li .dep3-ul > li > a:hover, #aside-wrap #sitemap > ul li .dep3-ul > li > a.active {
  color: #0f3b75;
}
#aside-wrap #sitemap > ul li .dep4-ul {
  padding: 0 10px;
}
#aside-wrap #sitemap > ul li .dep4-ul > li > a {
  display: block;
  padding: 5px 0;
  font-size: 16px;
  color: #888888;
  word-break: keep-all;
  transition: 0.3s;
}
#aside-wrap #sitemap > ul li .dep4-ul > li > a::before {
  content: "-";
  margin: 0 4px 0 0;
}
#aside-wrap #sitemap > ul li .dep4-ul > li > a:hover, #aside-wrap #sitemap > ul li .dep4-ul > li > a.active {
  color: #0f3b75;
}

@media only screen and (max-width: 1023px) {
  .aside-bg {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.46;
  }
  .aside-bg.on {
    display: block;
  }
  #aside-wrap {
    top: 0;
    left: auto;
    right: -100%;
    max-width: 360px;
    padding-top: 70px;
    overflow-y: initial;
    overflow: visible;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #aside-wrap::-webkit-scrollbar {
    display: none;
  }
  #aside-wrap.on {
    right: 0;
  }
  #aside-wrap .aside-body {
    height: calc(100vh - 71px);
    background-image: linear-gradient(to right, #274694 126px, #fff 126px);
    overflow-y: auto;
  }
  #aside-wrap .aside-body::-webkit-scrollbar {
    width: 4px;
    background: none;
  }
  #aside-wrap .aside-body::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 60px;
    background: #efefef;
  }
  #aside-wrap #sitemap {
    height: 100%;
    padding: 0;
  }
  #aside-wrap #sitemap > ul {
    position: relative;
    display: block;
    gap: 0;
    height: 100%;
    padding: 0;
  }
  #aside-wrap #sitemap > ul li.dep1.on .dep1-tit {
    background: #fff;
    color: #274694;
  }
  #aside-wrap #sitemap > ul li.dep1 .dep1-tit {
    width: 126px;
    padding: 20px 16px;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: #274694;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
  }
  #aside-wrap #sitemap > ul li .dep2-wrap {
    display: none;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 126px);
    height: 100%;
  }
  #aside-wrap #sitemap > ul li .dep2-wrap.on {
    display: block;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li:has(.dep3-ul) > a {
    display: flex;
    justify-content: space-between;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li:has(.dep3-ul) > a::after {
    content: "";
    width: 18px;
    height: 18px;
    background: url("../images/common/m_sitemap_arrow.svg") no-repeat center;
    transform: rotate(180deg);
    transition: 0.4s;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li.on:has(.dep3-ul) > a::after {
    transform: rotate(0);
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li.on:has(.dep3-ul) .dep3-ul {
    opacity: 1;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li > a {
    padding: 16px 14px;
    margin-top: 0;
    border-radius: 0;
    border: 0;
    background-color: #fff;
    font-size: 16px;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li > a:hover {
    border-color: transparent;
    color: #222;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li .dep3-ul {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li .dep3-ul > li > a {
    padding: 11px 19px;
    background-color: #f8f8f8;
    font-size: 15px;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li .dep3-ul > li > a::before {
    content: "·";
    margin: 0 4px 0 0;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li .dep3-ul > li > a:hover, #aside-wrap #sitemap > ul li .dep2-ul > li .dep3-ul > li > a.active {
    color: #222;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li .dep3-ul {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li .dep3-ul > li > a {
    padding: 11px 19px;
    background-color: #f8f8f8;
    font-size: 15px;
  }
  #aside-wrap #sitemap > ul li .dep2-ul > li .dep3-ul > li > a:hover, #aside-wrap #sitemap > ul li .dep2-ul > li .dep3-ul > li > a.active {
    color: #222;
  }
}
@media only screen and (max-width: 768px) {
  .aside-bg {
    top: 57px;
  }
  #aside-wrap {
    max-width: 100%;
    min-width: auto;
    padding-top: 56px;
  }
  #aside-wrap .aside-body {
    height: calc(100vh - 57px);
  }
}
.go-top {
  position: fixed;
  bottom: 10%;
  right: 100px;
  z-index: 1000;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: url(../images/common/go_top.svg) no-repeat center;
  font-size: 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1019607843);
}

@media only screen and (max-width: 1023px) {
  .go-top {
    bottom: 10%;
    right: 16px;
    width: 50px;
    height: 50px;
    background-size: 140%;
  }
}