@import "utility";

#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid $border-color;
  &.on {
    background: transparent;
    position: fixed;
    border: 0 none;
    .hd-wrap .hd-logo .logo-link {
      background-image: url("../images/sub/logo_white.png");
    }
    .hd-wrap .gnb-wrap .gnb > li > a {
      color: #fff;
    }
  }
  .w-set {
    width: 100%;
    height: 90px;
  }
  .hd-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    .hd-logo {
      flex: 0 0 auto;
      width: 113px;
      height: 72px;
      .logo-link {
        transition: all 0.3s;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url("../images/sub/logo.png") no-repeat center;
        background-size: 100% auto;
      }
    }
    .gnb-wrap {
      height: 100%;
      margin: 0 auto;
      .gnb {
        display: flex;
        align-items: center;
        height: 100%;
        > li {
          height: 100%;
          &:hover > a::after {
            transform: translateX(-50%) scaleX(1);
          }
          > a {
            transition: all 0.3s;
            color: #222;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            padding: 34px 30px;
            font-weight: 600;
            font-size: 20px;
            // &::after {
            //   content: "";
            //   position: absolute;
            //   bottom: 1px;
            //   left: 50%;
            //   width: 100%;
            //   max-width: calc(100% - 60px);
            //   height: 3px;
            //   background-color: $main-color;
            //   transform: translateX(-50%) scaleX(0);
            //   transition: transform 0.3s;
            // }
            &.active {
              color: $main-color;
              // &::after {
              //   transform: translateX(-50%) scaleX(1);
              // }
            }
          }
        }
      }
      .sub-gnb-wrap {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s linear;
        display: flex;
        padding: 0 calc(50% - 80rem);
        &.on {
          opacity: 1;
          visibility: visible;
          border-top: 1px solid $border-color;
          border-bottom: 1px solid $border-color;
          .depth-wrap {
            display: flex;
          }
          .sub-gnb-bg {
            display: flex;
          }
          .title-wrap {
            opacity: 1;
            position: relative;
            z-index: 100;
            width: 32rem;
            height: 100%;
            text-align: right;
            padding: 40px 40px 0 0;
            .title {
              font-size: 30px;
            }
          }
        }
        .depth-wrap {
          display: none;
          // width: 100%;
          // max-width: 1400px;
          flex: 1;
          height: 100%;
          margin: 0 auto;
          flex-wrap: wrap;
          padding: 40px 0 20px 40px;
        }
        .title-wrap {
          opacity: 0;
        }
        .depth2 {
          flex: 1 1 calc(100% / 5 - 24px);
          max-width: calc(100% / 5 - 24px);
          margin-right: 24px;
          margin-bottom: 24px;
          position: relative;
          z-index: 1;
          min-height: 100px;
          &:nth-child(n + 3) {
            background-color: #fff;
          }
          > li > a {
            position: relative;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 18px;
            word-break: keep-all;
            border: 1px solid $border-color;
            border-radius: 10px;
            width: 100%;
            padding: 5px 50px 5px 20px;
            height: 56px;
            line-height: 1.2;
            &::after {
              content: "";
              width: 30px;
              height: 30px;
              border-radius: 50%;
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
              background: url("../images/common/gnb_link.svg") no-repeat center/14px;
              transition: all 0.3s;
            }
            &.active {
              background: linear-gradient(95deg, #2b408e 0%, #306aaa 100%);
              box-shadow: 4px 4px 25px rgba(0, 120, 237, 0.4);
              color: #fff;
              font-weight: 700;
              border: none;
              &::after {
                background-color: rgba(255, 255, 255, 0.2);
                background-image: url("../images/common/gnb_link_on.svg");
              }
            }
          }
        }
        .depth3 {
          > li {
            margin-top: 10px;
            &:first-child {
              margin-top: 20px;
            }
            &:hover {
              > a {
                color: $main-color;
                .depth-ico {
                  background-image: url("../images/common/select_arrow_blue.svg");
                }
                &.active .depth-ico {
                  transform: rotate(0);
                }
              }
            }
            a {
              display: flex;
              font-size: 16px;
              color: #666;
              word-break: keep-all;
              transition: color 0.3s;
              &::before {
                content: "·";
                display: inline-block;
                padding-right: 4px;
              }
              &.active {
                color: $main-color;
                .depth-ico {
                  background-image: url("../images/common/select_arrow_blue.svg");
                  transform: rotate(180deg);
                }
              }
              .depth-ico {
                align-self: center;
                width: 8px;
                height: 4px;
                margin-left: 5px;
                background: url("../images/common/select_arrow_gray.svg") no-repeat center;
                background-size: 8px auto;
                transition: 0.3s;
              }
            }
          }
        }
        .depth4 {
          height: 1px;
          padding: 0 20px;
          margin-top: 10px;
          background-color: $background-color;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-in;
          &.on {
            height: auto;
            padding: 10px 20px 20px;
            opacity: 1;
            visibility: visible;
            li a {
              font-size: 16px;
            }
          }
          li {
            margin-top: 10px;
            a {
              font-size: 0;
              &::before {
                content: "-";
              }
              &:hover {
                color: $main-color;
              }
              &.active {
                color: $main-color;
              }
            }
          }
        }
        .sub-gnb-bg {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          align-items: flex-end;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          min-height: 275px;
          background-color: #fff;
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: calc(50% - 80rem + 32rem);
            height: 100%;
            background: #f8f8fa;
            border-radius: 0 0 10rem 0;
          }
        }
      }
    }
    .hd-utils {
      display: flex;
      align-items: center;
      .btn-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 174px;
        height: 40px;
        background: linear-gradient(114deg, #0f3b75 0%, #254d82 100%);
        border-radius: 20px;
        font-size: 0;
        text-indent: -9999em;
        transition: all 0.3s;
        &::after {
          content: "";
          display: block;
          width: 126px;
          height: 13px;
          background: url("../images/sub/logo_dmcbiz.svg") no-repeat center/100% auto;
        }
      }
      .all-menu {
        position: relative;
        width: 24px;
        height: 24px;
        padding: 4px;
        margin-left: 16px;
        transition: all 0.4s;
        &.active {
          span {
            &:nth-of-type(1) {
              animation: active-menu-bar01 0.75s forwards;
            }
            &:nth-of-type(2) {
              opacity: 0;
            }
            &:nth-of-type(3) {
              animation: active-menu-bar02 0.75s forwards;
            }
          }
        }
        span {
          position: absolute;
          right: 4px;
          width: 16px;
          height: 2px;
          border-radius: 2px;
          background-color: #000000;
          transition: all 0.4s;
          &:nth-of-type(1) {
            top: 6px;
            animation: menu-bar01 0.75s forwards;
          }
          &:nth-of-type(2) {
            top: 11px;
            width: 11px;
            transition: all 0.25s 0.25s;
            opacity: 1;
          }
          &:nth-of-type(3) {
            bottom: 6px;
            animation: menu-bar02 0.75s forwards;
          }
        }
      }
    }
  }
}
@keyframes menu-bar01 {
  0% {
    transform: translateY(5px) rotate(45deg);
  }
  50% {
    transform: translateY(5px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar02 {
  0% {
    transform: translateY(-5px) rotate(-45deg);
  }
  50% {
    transform: translateY(-5px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(5px) rotate(0);
  }
  100% {
    transform: translateY(5px) rotate(45deg);
  }
}
@keyframes active-menu-bar02 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-5px) rotate(0);
  }
  100% {
    transform: translateY(-5px) rotate(-45deg);
  }
}

@include only-pc {
  #header .hd-wrap .hd-utils .btn-link {
    &:hover {
    }
  }
  #header .hd-wrap .gnb-wrap .sub-gnb-wrap .depth2 > li > a {
    &:hover {
      background: linear-gradient(95deg, #2b408e 0%, #306aaa 100%);
      box-shadow: 4px 4px 25px rgba(0, 120, 237, 0.4);
      color: #fff;
      font-weight: 700;
      border: none;
      &::after {
        background-color: rgba(255, 255, 255, 0.2);
        background-image: url("../images/common/gnb_link_on.svg");
      }
    }
  }
}

@media (max-width: 1400px) {
  #header {
    .w-set {
      padding: 0 16px;
    }
    .hd-wrap {
      .gnb-wrap {
        margin-left: 16px;
        .gnb > li > a {
          padding: 40px 20px;
          // &::after {
          //   max-width: calc(100% - 40px);
          // }
        }
        .sub-gnb-wrap .depth2 {
          &:nth-last-child(2) {
            background-color: #fff;
          }
        }
      }
    }
  }
}
@include laptop {
  #header {
    .w-set {
      height: 70px;
    }
    .hd-wrap {
      .hd-logo {
        width: 120px;
        height: 36px;
      }
      .gnb-wrap {
        display: none;
      }
      .hd-utils {
        margin-left: auto;
      }
    }
  }
}
@include mobile {
  #header {
    .w-set {
      height: 56px;
    }
    .hd-wrap {
      .hd-logo {
        width: 78px;
        height: 24px;
      }
      .hd-utils .btn-link {
        width: 110px;
        height: 34px;
        &::after {
          width: calc(126px * 0.7);
          height: calc(13px * 0.7);
        }
      }
    }
  }
}

#footer {
  .ft-top {
    background-color: #232426;
    .w-set {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 26px;
      padding-bottom: 22px;
      border-bottom: 1px solid rgba(#fff, 0.4);
    }
    .link-list {
      a {
        color: #fff;
        font-size: 16px;
        & + a {
          margin-left: 30px;
        }
        b {
          font-weight: 700;
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
  .ft-btm {
    padding: 36px 0 60px;
    background-color: #232426;
    .w-set {
      display: flex;
      justify-content: space-between;
    }
    .info-wrap {
      .info-row {
        display: flex;
        gap: 36px;
        margin-bottom: 14px;
      }
      .info-text {
        font-size: 15px;
        color: #e0e0e0;
        word-break: keep-all;
      }
    }
    .copyright-wrap {
      margin-top: 50px;
      p {
        font-size: 14px;
        line-height: 1.4;
        color: #afafaf;
        word-break: keep-all;
      }
    }
    .ft-logo {
      flex: 0 0 auto;
      width: 113px;
      height: 72px;
      .logo {
        width: 100%;
        height: 100%;
        background: url("../images/sub/logo_white.png") no-repeat center/cover;
        font-size: 0;
      }
    }
    .sns-list {
      margin-top: 14px;
      display: flex;
      justify-content: flex-end;
      gap: 16px;
      [class*="sns-"] {
        display: block;
        width: 40px;
        height: 40px;
        font-size: 0;
        text-indent: -9999em;
        background: url("../images/sub/sns_blog.png") no-repeat center/cover;
      }
      .sns-youtube {
        background-image: url("../images/sub/sns_youtube.png");
      }
    }
  }
}
@include laptop {
  #footer {
    .ft-btm {
      .w-set {
        gap: 30px;
      }
      .right-wrap {
        flex-shrink: 0;
      }
      .info-wrap .info-row {
        flex-wrap: wrap;
        gap: 14px;
      }
    }
  }
}
@include mobile {
  #footer {
    .ft-top {
      .link-list {
        a {
          font-size: 14px;
          & + a {
            margin-left: 32px;
          }
          b {
            font-size: 14px;
          }
        }
      }
    }
    .ft-btm {
      padding: 30px 0 40px;
      .w-set {
        flex-direction: column-reverse;
        gap: 20px;
      }
      .right-wrap {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
      }
      .info-wrap p {
        line-height: 1.4;
        font-size: 14px;
      }
      .copyright-wrap {
        margin-top: 15px;
      }
      .ft-logo {
        width: calc(113px * 0.8);
        height: calc(72px * 0.8);
      }
      .sns-list {
        margin: 0;
        [class*="sns-"] {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}

// aside
.aside-bg {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.46;
  &.on {
    display: block;
  }
}
#aside-wrap {
  position: fixed;
  z-index: 1010;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: 0.3s;
  opacity: 0;
  overflow-y: auto;
  @include scroll;
  &.on {
    top: 0;
    opacity: 1;
  }
  .aside-header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #eef5fa;
    .login-wrap {
      display: flex;
      align-items: center;
      gap: 14px;
      .link {
        font-weight: 500;
        font-size: 16px;
      }
      .line {
        width: 1px;
        height: 10px;
        background-color: #bcbcbc;
      }
    }
  }
  #sitemap {
    max-width: 1312px;
    padding: 0 16px;
    margin: 0 auto;
    > ul {
      display: flex;
      gap: 25px;
      padding: 150px 0 60px;
      li {
        &.dep1 {
          flex: 1;
          .dep1-tit {
            display: block;
            padding: 23px 26px 23px 24px;
            margin-bottom: 30px;
            border-radius: 3px;
            background: #f8f8f8 url("../images/common/sitemap_arrow.svg") no-repeat right 20px center;
            background-size: 6px auto;
            font-weight: 600;
            font-size: 20px;
          }
        }
        .dep2-ul > li {
          & > a {
            display: block;
            padding: 19px 16px;
            margin-top: 20px;
            border-radius: 3px;
            border: 1px solid #dddddd;
            background-color: #fff;
            font-weight: 500;
            font-size: 18px;
            transition: 0.3s;
            word-break: keep-all;
            &:hover {
              border-color: $main-color;
              color: $main-color;
            }
          }
        }
        .dep3-ul {
          padding: 20px 16px 0;
          & > li > a {
            display: block;
            padding: 5px 0;
            font-size: 16px;
            color: #666;
            word-break: keep-all;
            transition: 0.3s;
            &::before {
              content: "·";
              margin: 0 4px 0 0;
            }
            &:hover,
            &.active {
              color: $main-color;
            }
          }
        }
        .dep4-ul {
          padding: 0 10px;
          & > li > a {
            display: block;
            padding: 5px 0;
            font-size: 16px;
            color: #888888;
            word-break: keep-all;
            transition: 0.3s;
            &::before {
              content: "-";
              margin: 0 4px 0 0;
            }
            &:hover,
            &.active {
              color: $main-color;
            }
          }
        }
      }
    }
  }
}
@include tablet {
  .aside-bg {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.46;
    &.on {
      display: block;
    }
  }
  #aside-wrap {
    top: 0;
    left: auto;
    right: -100%;
    max-width: 360px;
    padding-top: 70px;
    overflow-y: initial;
    @include nscroll;
    &.on {
      right: 0;
    }
    .aside-body {
      height: calc(100vh - 71px);
      background-image: linear-gradient(to right, #274694 126px, #fff 126px);
      overflow-y: auto;
      @include scroll;
    }
    #sitemap {
      height: 100%;
      padding: 0;
      > ul {
        position: relative;
        display: block;
        gap: 0;
        height: 100%;
        padding: 0;
        li {
          &.dep1 {
            &.on {
              .dep1-tit {
                background: #fff;
                color: #274694;
              }
            }
            .dep1-tit {
              width: 126px;
              padding: 20px 16px;
              margin-bottom: 0;
              border-radius: 0;
              border-bottom: 1px solid #fff;
              background: #274694;
              font-weight: 500;
              font-size: 16px;
              color: #fff;
            }
          }
          .dep2-wrap {
            display: none;
            background: #fff;
            position: absolute;
            right: 0;
            top: 0;
            width: calc(100% - 126px);
            height: 100%;
            &.on {
              display: block;
            }
          }
          .dep2-ul > li {
            &:has(.dep3-ul) > a {
              display: flex;
              justify-content: space-between;
              &::after {
                content: "";
                width: 18px;
                height: 18px;
                background: url("../images/common/m_sitemap_arrow.svg") no-repeat center;
                transform: rotate(180deg);
                transition: 0.4s;
              }
            }
            &.on:has(.dep3-ul) {
              & > a::after {
                transform: rotate(0);
              }
              .dep3-ul {
                opacity: 1;
              }
            }
            & > a {
              padding: 16px 14px;
              margin-top: 0;
              border-radius: 0;
              border: 0;
              background-color: #fff;
              font-size: 16px;
              &:hover {
                border-color: transparent;
                color: #222;
              }
            }
            .dep3-ul {
              height: 0;
              padding: 0;
              overflow: hidden;
              opacity: 0;
              transition: 0.3s;
              & > li > a {
                padding: 11px 19px;
                background-color: #f8f8f8;
                font-size: 15px;
                &::before {
                  content: "·";
                  margin: 0 4px 0 0;
                }
                &:hover,
                &.active {
                  color: #222;
                }
              }
            }
            .dep3-ul {
              height: 0;
              padding: 0;
              overflow: hidden;
              opacity: 0;
              transition: 0.3s;
              & > li > a {
                padding: 11px 19px;
                background-color: #f8f8f8;
                font-size: 15px;
                &:hover,
                &.active {
                  color: #222;
                }
              }
            }
          }
        }
      }
    }
  }
}
@include mobile {
  .aside-bg {
    top: 57px;
  }
  #aside-wrap {
    max-width: 100%;
    min-width: auto;
    padding-top: 56px;
    .aside-body {
      height: calc(100vh - 57px);
    }
  }
}
