.main-content .title-area .btn-more {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}
.main-content .title-area .btn-more::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../images/common/btn_view.svg);
  margin: -3px 0 0 2px;
  vertical-align: middle;
}
.main-content .main-visual {
  position: relative;
  height: 100vh;
}
.main-content .main-visual .swiper,
.main-content .main-visual .swiper-wrapper,
.main-content .main-visual .swiper-slide {
  height: 100%;
}
.main-content .main-visual .swiper-slide {
  position: relative;
}
.main-content .main-visual .swiper-slide a {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.main-content .main-visual .swiper-slide .img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #000;
  opacity: 0.24;
}
.main-content .main-visual .swiper-slide .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .main-visual .swiper-slide .txt-box {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.main-content .main-visual .swiper-slide .txt-box::before {
  content: "";
  display: block;
  width: 50px;
  height: 283px;
  background: url("../images/sub/main_visual_before.svg") no-repeat center/cover;
  flex-shrink: 0;
}
.main-content .main-visual .swiper-slide .txt-box::after {
  content: "";
  display: block;
  width: 50px;
  height: 283px;
  background: url("../images/sub/main_visual_after.svg") no-repeat center/cover;
  flex-shrink: 0;
}
.main-content .main-visual .swiper-slide .txt-box .txt {
  color: #fff;
  font-size: 62px;
  line-height: 1.2;
}
.main-content .main-visual .swiper-slide .txt-box .txt strong {
  color: #fff;
}
.main-content .main-visual .swiper-slide .txt-box .txt-en {
  display: block;
  color: #fff;
  font-family: "Outfit", sans-serif;
  margin-top: 16px;
  font-size: 24px;
  line-height: 1.2;
}
.main-content .main-visual .swiper-control {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 36%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content .main-visual .swiper-control .swiper-count {
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
}
.main-content .main-visual .swiper-control .swiper-count span {
  font-size: 16px;
  color: #fff;
}
.main-content .main-visual .swiper-control .swiper-count .active-num {
  font-weight: 700;
}
.main-content .main-visual .swiper-control .pagination {
  position: relative;
  flex: 0 0 auto;
  max-width: 160px;
  height: 2px;
  z-index: 11;
  background: #fff;
  margin-top: 0;
  margin-left: 8px;
}
.main-content .main-visual .swiper-control .pagination .swiper-pagination-progressbar-fill {
  background-color: #134769;
}
.main-content .main-visual .swiper-control .swiper-button {
  margin-left: 10px;
  font-size: 0;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  background: url("../images/common/swiper_prev.svg") no-repeat center/cover;
}
.main-content .main-visual .swiper-control .swiper-button.next {
  margin-left: 2px;
  background-image: url("../images/common/swiper_next.svg");
}
.main-content .main-visual .swiper-control .pause, .main-content .main-visual .swiper-control .play {
  margin-left: 12px;
  font-size: 0;
  flex: 0 0 auto;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/common/swiper_pause.svg") no-repeat center;
}
.main-content .main-visual .swiper-control .play {
  background-image: url("../images/common/swiper_play.svg");
}
.main-content .main-section {
  margin: 100px 0;
}
.main-content .main-section.business-section {
  margin: 0;
  padding: 100px 0;
  background: #d0e8ff url("../images/sub/main_bg1.png") no-repeat center/cover;
}
.main-content .swiper-navi {
  display: flex;
  gap: 16px;
}
.main-content .swiper-navi button {
  font-size: 0;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}
.main-content .swiper-navi .swiper-button {
  background-image: url("../images/common/ico/arrow_left.svg");
}
.main-content .swiper-navi .swiper-button.next {
  background-image: url("../images/common/ico/arrow_right.svg");
}
.main-content .swiper-navi .swiper-button.swiper-button-disabled {
  opacity: 0.4;
}
.main-content .swiper-navi .pause, .main-content .swiper-navi .main-visual .swiper-control .play, .main-content .main-visual .swiper-control .swiper-navi .play {
  background-image: url("../images/common/ico/swiper_pause02.svg");
}
.main-content .swiper-navi .play {
  background-image: url("../images/common/ico/swiper_play02.svg");
}
.main-content .menu-wrap {
  position: absolute;
  width: 100%;
  max-width: 1100px;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}
.main-content .menu-wrap .menu-list {
  display: flex;
  justify-content: space-between;
}
.main-content .menu-wrap .menu-list li [class*=menu] {
  display: block;
  text-align: center;
}
.main-content .menu-wrap .menu-list li [class*=menu]::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto 12px;
  background: url("../images/sub/main_menu1.svg") no-repeat center/cover;
  transition: all 0.3s;
}
.main-content .menu-wrap .menu-list li [class*=menu] .txt {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.main-content .menu-wrap .menu-list li .menu01::before {
  background-image: url("../images/sub/main_menu1.svg");
}
.main-content .menu-wrap .menu-list li .menu02::before {
  background-image: url("../images/sub/main_menu2.svg");
}
.main-content .menu-wrap .menu-list li .menu03::before {
  background-image: url("../images/sub/main_menu3.svg");
}
.main-content .menu-wrap .menu-list li .menu04::before {
  background-image: url("../images/sub/main_menu4.svg");
}
.main-content .menu-wrap .menu-list li .menu05::before {
  background-image: url("../images/sub/main_menu5.svg");
}
.main-content .business-wrap {
  overflow: hidden;
}
.main-content .business-wrap .title-area {
  text-align: center;
  margin-bottom: 60px;
}
.main-content .business-wrap .title-area .title {
  font-weight: 600;
  font-size: 40px;
}
.main-content .business-wrap .title-area .desc {
  margin-top: 12px;
  font-size: 18px;
  color: #666;
}
.main-content .business-wrap .business-slide {
  position: relative;
  margin: -14px;
}
.main-content .business-wrap .business-slide .swiper {
  padding: 14px;
}
.main-content .business-wrap .business-slide .swiper .swiper-slide:not(.swiper-slide-active)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.main-content .business-wrap .business-slide .swiper .swiper-slide:not(.swiper-slide-active) .swiper-count {
  display: none;
}
.main-content .business-wrap .swiper-navi {
  width: 100%;
  max-width: 65%;
  margin: 0 auto;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-content .business-wrap .swiper-navi .swiper-button {
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  z-index: 100;
  width: 54px;
  height: 54px;
  background: url("../images/sub/main_swiper_prev.png") no-repeat center;
  font-size: 0;
}
.main-content .business-wrap .swiper-navi .swiper-button.next {
  left: auto;
  right: 0;
  background-image: url("../images/sub/main_swiper_next.png");
}
.main-content .business-wrap .business-item {
  display: flex;
  height: 420px;
}
.main-content .business-wrap .business-item .img {
  flex: 0.6;
  aspect-ratio: 1.58;
  display: block;
  overflow: hidden;
  position: relative;
}
.main-content .business-wrap .business-item .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .business-wrap .business-item .text-box {
  background: #fff;
  flex: 0.4;
  padding: 60px 20px 60px 40px;
  position: relative;
}
.main-content .business-wrap .business-item .text-box .label {
  color: #20497f;
  font-weight: 600;
  font-size: 18px;
}
.main-content .business-wrap .business-item .text-box .desc {
  margin-top: 10px;
  color: #666;
  font-size: 18px;
  word-break: keep-all;
}
.main-content .business-wrap .business-item .text-box .title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.4;
}
.main-content .business-wrap .business-item .text-box .btn-view {
  position: absolute;
  left: 40px;
  bottom: 60px;
  width: 125px;
  height: 50px;
  line-height: 50px;
  background: #0f3b75;
  color: #fff;
  text-align: center;
  font-size: 15px;
  transition: all 0.3s;
}
.main-content .business-wrap .business-item .text-box .swiper-count {
  position: absolute;
  right: 20px;
  bottom: 60px;
  display: flex;
  align-items: center;
}
.main-content .business-wrap .business-item .text-box .swiper-count .active-num {
  font-weight: 700;
  font-size: 16px;
  color: #4d86d1;
}
.main-content .business-wrap .business-item .text-box .swiper-count .all-num {
  font-size: 14px;
  color: #999;
}
.main-content .business-wrap .business-item .text-box .swiper-count .all-num::before {
  content: "/";
  margin: 0 4px;
}
.main-content .board-wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main-content .board-wrap .title-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}
.main-content .board-wrap .title-area .title {
  font-weight: 700;
  font-size: 36px;
}
.main-content .board-wrap .notice-wrap {
  flex: 1;
  max-width: 700px;
}
.main-content .board-wrap .notice-wrap .title-area {
  border-bottom: 2px solid #000;
}
.main-content .board-wrap .notice-wrap .notice-list li {
  padding: 18px 0;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.main-content .board-wrap .notice-wrap .notice-list li:first-child {
  display: flex;
  gap: 24px;
}
.main-content .board-wrap .notice-wrap .notice-list li:first-child .text-area {
  flex: 1;
  min-width: 0;
}
.main-content .board-wrap .notice-wrap .notice-list li:first-child .text-area .title {
  padding-left: 0;
  font-size: 22px;
  color: #222;
}
.main-content .board-wrap .notice-wrap .notice-list li:first-child .text-area .title::before {
  content: none;
}
.main-content .board-wrap .notice-wrap .notice-list .date .day {
  line-height: 1;
  font-weight: 700;
  font-size: 60px;
}
.main-content .board-wrap .notice-wrap .notice-list .date .month {
  line-height: 1;
  font-weight: 700;
  font-size: 18px;
  color: #999;
}
.main-content .board-wrap .notice-wrap .notice-list .text-editor {
  margin-top: 18px;
  max-height: 52px;
  color: #666;
  font-weight: 500;
  font-size: 20px;
}
.main-content .board-wrap .notice-wrap .notice-list .text-editor * {
  color: #666 !important;
  font-weight: 400;
  font-size: 20px !important;
  line-height: 1.4;
}
.main-content .board-wrap .notice-wrap .notice-list .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding-left: 23px;
  font-weight: 500;
  font-size: 20px;
  color: #666;
}
.main-content .board-wrap .notice-wrap .notice-list .title::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #666;
  position: absolute;
  left: 0;
  top: 12px;
}
.main-content .board-wrap .popup-wrap {
  flex: 1;
  max-width: 600px;
}
.main-content .board-wrap .popup-wrap .title-area .title {
  font-family: "Outfit", sans-serif;
}
.main-content .board-wrap .popup-wrap .title-area .swiper-control {
  display: flex;
  align-items: center;
}
.main-content .board-wrap .popup-wrap .title-area .swiper-control .swiper-button {
  font-size: 0;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  background: url("../images/sub/main_swiper_prev_dark.svg") no-repeat center/14px auto;
}
.main-content .board-wrap .popup-wrap .title-area .swiper-control .swiper-button.next {
  background-image: url("../images/sub/main_swiper_next_dark.svg");
}
.main-content .board-wrap .popup-wrap .title-area .swiper-control .swiper-count {
  margin: 0 6px;
  font-size: 0;
}
.main-content .board-wrap .popup-wrap .title-area .swiper-control .swiper-count [class*=-num] {
  font-size: 22px;
}
.main-content .board-wrap .popup-wrap .title-area .swiper-control .swiper-count .active-num {
  font-weight: 600;
}
.main-content .board-wrap .popup-wrap .title-area .swiper-control .swiper-count .all-num {
  color: #999;
}
.main-content .board-wrap .popup-wrap .title-area .swiper-control .swiper-count .all-num::before {
  content: "/";
  margin: 0 4px;
}
.main-content .board-wrap .popup-wrap .img {
  border-radius: 20px;
  aspect-ratio: 1.68;
  display: block;
  overflow: hidden;
  position: relative;
}
.main-content .board-wrap .popup-wrap .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content .board-wrap .popup-wrap .img img {
  transition: all 0.3s;
}

#mainPopupBg {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

#mainPopup {
  position: fixed;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 380px;
}
#mainPopup .mainPopup-wrap {
  position: relative;
}
#mainPopup .swiper-pagination-lock {
  display: block;
}
#mainPopup .swiper-navi {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -50px auto 0;
  z-index: 10;
}
#mainPopup .swiper-navi .swiper-button {
  width: 60px;
  height: 60px;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px auto;
  position: absolute;
  z-index: 10;
}
#mainPopup .swiper-navi .swiper-button.prev {
  background-image: url("../images/common/main_popup_prev.svg");
  left: -81px;
}
#mainPopup .swiper-navi .swiper-button.next {
  background-image: url("../images/common/main_popup_next.svg");
  right: -81px;
}
#mainPopup .swiper-navi .swiper-button.swiper-button-lock, #mainPopup .swiper-navi .swiper-button.swiper-button-disabled {
  display: block;
  opacity: 0.5;
  cursor: auto;
}
#mainPopup .swiper-count {
  width: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-size: 16px;
}
#mainPopup .swiper-count span {
  color: #fff;
}
#mainPopup .swiper-count span:first-child {
  font-weight: 500;
}
#mainPopup .swiper-count em {
  margin: 0 4px;
  color: #fff;
}
#mainPopup .swiper {
  position: relative;
  overflow: hidden;
}
#mainPopup .swiper .swiper-slide {
  max-width: 380px;
}
#mainPopup .swiper .popup-item {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 132%;
  overflow: hidden;
  pointer-events: none;
}
#mainPopup .swiper .popup-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#mainPopup .mainPop-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  margin-top: 25px;
}
#mainPopup .mainPop-menu .checkbox {
  flex: 0 0 auto;
}
#mainPopup .mainPop-menu .checkbox .label {
  color: #fff;
}
#mainPopup .mainPop-menu .checkbox .label::before {
  border-radius: 3px;
}
#mainPopup .mainPop-menu .checkbox input:checked + .label:before {
  background: #0042a6 url("../images/common/ico_chkbox_on.svg") no-repeat center;
}
#mainPopup .mainPop-menu .mp-close {
  flex: 0 0 auto;
  min-width: 60px;
  font-size: 16px;
  color: #fff;
  padding-right: 30px;
  background: url("../images/common/main_popup_close.svg") no-repeat right center;
  background-size: 26px auto;
}

@media screen and (min-width: 1024px) {
  .main-content .title-area .btn-more:hover::after {
    transition: all 0.3s;
    transform: rotate(90deg);
  }
  .main-content .menu-wrap .menu-list li [class*=menu]:hover::before {
    transform: rotateY(180deg);
  }
  .main-content .board-wrap .notice-wrap .notice-list li:hover .title {
    transition: all 0.3s;
    color: #0f3b75 !important;
  }
  .main-content .board-wrap .popup-wrap .img:hover img {
    transition: all 0.3s;
    transform: scale(1.1);
  }
}
@media screen and (max-width: 1440px) {
  .main-content .board-wrap {
    justify-content: space-around;
  }
  .main-content .board-wrap .notice-wrap,
  .main-content .board-wrap .popup-wrap {
    max-width: 580px;
  }
}
@media only screen and (max-width: 1240px) {
  .main-content .main-visual .swiper-slide .txt-box {
    padding: 0 16px 160px;
  }
  .main-content .main-visual .swiper-slide .txt-box .txt {
    font-size: 50px;
  }
  .main-content .main-section {
    margin: 60px 0;
  }
  .main-content .main-section.business-section {
    padding: 60px 0;
  }
  .main-content .menu-wrap .menu-list li [class*=menu] {
    padding: 20px 0;
  }
  .main-content .board-wrap {
    flex-direction: column;
    gap: 60px;
  }
  .main-content .board-wrap .notice-wrap,
  .main-content .board-wrap .popup-wrap {
    max-width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .main-content .main-visual {
    margin-top: 56px;
    height: 347px;
  }
  .main-content .main-visual .swiper-control {
    top: auto;
    margin-top: 0;
    bottom: 103px;
  }
  .main-content .main-visual .swiper-control .pagination {
    gap: 10px;
    margin-right: 10px;
  }
  .main-content .main-visual .swiper-control .pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }
  .main-content .main-visual .swiper-control .pagination .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
  }
  .main-content .main-visual .swiper-control .pagination .swiper-pagination-bullet-active::after {
    width: 24px;
    height: 24px;
  }
  .main-content .main-visual .swiper-control .pause, .main-content .main-visual .swiper-control .play {
    background-size: 7px auto;
  }
  .main-content .main-visual .swiper-control .play {
    background-size: 11px auto;
  }
  .main-content .main-visual .swiper-slide .txt-box {
    padding-bottom: 40px;
  }
  .main-content .main-visual .swiper-slide .txt-box .txt {
    font-size: 24px;
  }
  .main-content .main-section {
    margin: 60px 0;
  }
  .main-content .main-section.business-section {
    padding: 60px 0;
  }
  .main-content .main-section.business-section .tit-area {
    margin-bottom: 24px;
  }
  .main-content .swiper-navi {
    gap: 8px;
  }
  .main-content .swiper-navi button {
    width: 28px;
    height: 28px;
  }
  .main-content .swiper-navi .swiper-button {
    background-size: 14px;
  }
  .main-content .swiper-navi .pause, .main-content .swiper-navi .main-visual .swiper-control .play, .main-content .main-visual .swiper-control .swiper-navi .play {
    background-size: 7px auto;
  }
  .main-content .swiper-navi .play {
    background-size: 11px auto;
  }
  .main-content .menu-wrap .menu-list {
    gap: 14px;
    flex-wrap: wrap;
  }
  .main-content .menu-wrap .menu-list li {
    flex: 0 0 auto;
    width: calc(33.3333333333% - 10px);
  }
  .main-content .menu-wrap .menu-list li [class*=menu]::before {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .main-content .menu-wrap .menu-list li [class*=menu] {
    height: auto;
    padding: 22px 0 16px;
  }
  .main-content .menu-wrap .menu-list li [class*=menu]::before {
    margin-bottom: 6px;
  }
  .main-content .menu-wrap .menu-list li [class*=menu] .txt {
    font-size: 14px;
  }
  .main-content .board-wrap {
    gap: 40px;
  }
  .main-content .board-wrap .title-area .title {
    font-size: 24px;
  }
  .main-content .board-wrap .notice-wrap .notice-list li:first-child {
    gap: 16px;
  }
  .main-content .board-wrap .notice-wrap .notice-list li:first-child .text-area .title {
    font-size: 18px;
  }
  .main-content .board-wrap .notice-wrap .notice-list .date .day {
    font-size: 48px;
  }
  .main-content .board-wrap .notice-wrap .notice-list .date .month {
    font-size: 15px;
  }
  .main-content .board-wrap .notice-wrap .notice-list .text-editor {
    margin-top: 8px;
    max-height: 42px;
    padding-left: 10px;
    font-size: 16px;
    max-height: 20px;
  }
  .main-content .board-wrap .notice-wrap .notice-list .text-editor * {
    font-size: 16px !important;
  }
  .main-content .board-wrap .notice-wrap .notice-list .title {
    font-size: 16px;
    padding-left: 12px;
  }
  .main-content .board-wrap .notice-wrap .notice-list .title::before {
    top: 8px;
  }
  .main-content .board-wrap .popup-wrap .title-area .swiper-control .swiper-button {
    background-size: 10px auto;
  }
  .main-content .board-wrap .popup-wrap .title-area .swiper-control .swiper-count {
    margin: 0 4px;
  }
  .main-content .board-wrap .popup-wrap .title-area .swiper-control .swiper-count [class*=-num] {
    font-size: 20px;
  }
}