.sub-content {
  padding: 0 0 120px;
}

.cont-btm {
  padding: 80px 0 0;
}

.text-editor {
  max-height: 24px;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.4;
}
.text-editor strong {
  font-weight: 400;
}
.text-editor img {
  display: none !important;
}
.text-editor p:has(img) {
  display: none;
}

.introduce-wrap .cont-top.type-bg {
  background-image: url("../images/sub/bg_manage.jpg");
}

.cont-top .title-wrap {
  margin-top: 30px;
  text-align: center;
}
.cont-top .title-wrap .title {
  font-weight: 700;
  font-size: 48px;
  color: #222;
}
.cont-top .title-wrap .text {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
  color: #222;
}
.cont-top .search-wrap {
  margin-top: 50px;
}
.cont-top.type-bg {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}
.cont-top.type-bg .sub-nav .location-wrap .location {
  color: #fff;
}
.cont-top.type-bg .sub-nav .location-wrap .location.on {
  font-weight: 400;
  color: #fff;
}
.cont-top.type-bg .sub-nav .location-wrap .location.home {
  background-image: url("../images/common/location_home_white.svg");
}
.cont-top.type-bg .sub-nav .function-wrap .func.share .btn-share {
  background-image: url("../images/common/func_share_white.svg");
}
.cont-top.type-bg .sub-nav .function-wrap .func.print .btn-print {
  background-image: url("../images/common/func_print_white.svg");
}
.cont-top.type-bg .title-wrap {
  margin-top: 50px;
}
.cont-top.type-bg .title-wrap .title {
  width: 100%;
  color: #fff;
}
.cont-top.type-bg .title-wrap .text {
  color: #fff;
}

.sub-nav {
  height: 50px;
  padding: 14px 0;
}
.sub-nav .w-set {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-nav .location-wrap .location {
  display: inline-block;
  font-size: 14px;
  color: #888;
}
.sub-nav .location-wrap .location.on {
  font-weight: 600;
  color: #222;
}
.sub-nav .location-wrap .location.home {
  vertical-align: middle;
  padding: 8px;
  background: url("../images/common/location_home.svg") no-repeat center;
  font-size: 0;
}
.sub-nav .location-wrap .location:not(.home)::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 10px;
  margin: 0 8px 0 6px;
  background: url("../images/common/location_arrow.svg") no-repeat center;
}
.sub-nav .function-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sub-nav .function-wrap .func {
  position: relative;
}
.sub-nav .function-wrap .func.share .btn-share {
  background-image: url("../images/common/func_share.svg");
}
.sub-nav .function-wrap .func.print {
  display: flex;
  align-items: center;
  gap: 20px;
}
.sub-nav .function-wrap .func.print::before {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #dddddd;
}
.sub-nav .function-wrap .func.print .btn-print {
  background-image: url("../images/common/func_print.svg");
}
.sub-nav .function-wrap .func > a,
.sub-nav .function-wrap .func button {
  display: block;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px auto;
  font-size: 0;
}
.sub-nav .function-wrap .share-wrap {
  display: none;
  position: absolute;
  top: 30px;
  right: 7px;
  z-index: 10;
  width: 356px;
  padding: 26px 25px 20px;
  background-color: #fff;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.1019607843);
}
.sub-nav .function-wrap .share-wrap.on {
  display: block;
}
.sub-nav .function-wrap .share-wrap .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  background: url("../images/common/ico_close_gray.svg") no-repeat center;
  background-size: 16px auto;
  font-size: 0;
}
.sub-nav .function-wrap .share-wrap .share-list {
  display: flex;
  gap: 20px;
}
.sub-nav .function-wrap .share-wrap .share-list li.copy a::before {
  border: 1px solid #dddddd;
  background-image: url("../images/common/share_copy.svg");
}
.sub-nav .function-wrap .share-wrap .share-list li.kakao a::before {
  background-color: #fae100;
  background-image: url("../images/common/share_kakao.svg");
}
.sub-nav .function-wrap .share-wrap .share-list li.facebook a::before {
  background-color: #0866ff;
  background-image: url("../images/common/share_facebook.svg");
}
.sub-nav .function-wrap .share-wrap .share-list li.instagram a::before {
  background-image: url("../images/common/share_instagram.svg");
}
.sub-nav .function-wrap .share-wrap .share-list li a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 5px;
  text-align: center;
}
.sub-nav .function-wrap .share-wrap .share-list li a::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 48px auto;
}
.sub-nav .function-wrap .share-wrap .share-list li a span {
  font-size: 14px;
}

.search-wrap .search-box {
  display: flex;
  align-items: center;
  max-width: 680px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid #0f3b75;
  overflow: hidden;
}
.search-wrap .search-box .select-area {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  width: 168px;
}
.search-wrap .search-box .select-area::after {
  content: "";
  width: 1px;
  height: 24px;
  background-color: #dddddd;
}
.search-wrap .search-box .select-area select {
  width: 100%;
  height: 56px;
  padding: 0 32px 0 30px;
  border: 0;
  background: url("../images/common/select_arrow.svg") no-repeat right 20px center;
  line-height: 58px;
  font-size: 18px;
}
.search-wrap .search-box .search-area {
  position: relative;
  flex: 1;
  width: 100%;
}
.search-wrap .search-box .search-area .input-wrap input {
  height: 56px;
  padding: 0 70px 0 20px;
  border: 0;
  line-height: 56px;
  font-size: 18px;
}
.search-wrap .search-box .search-area .btn-search {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 1;
  width: 30px;
  height: 30px;
  background: url("../images/common/search_btn.svg") no-repeat center;
  background-size: 24px;
  font-size: 0;
}

.result-wrap {
  padding-top: 50px;
}
.result-wrap .result-list {
  padding-top: 110px;
}
.result-wrap .result-list strong.c-primary {
  font-weight: 600;
}
.result-wrap .result-list .result-txt {
  margin-bottom: 100px;
  font-size: 24px;
  line-height: 1.3;
}
.result-wrap .result-list .list-btm .result-box {
  padding: 30px 30px 50px;
  border-radius: 10px;
  border: 1px solid #dddddd;
}
.result-wrap .result-list .list-btm .result-box:not(:last-child) {
  margin-bottom: 50px;
}
.result-wrap .result-list .list-btm .result-box .result-top {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
}
.result-wrap .result-list .list-btm .result-box .result-top .result-tit {
  font-weight: 500;
  font-size: 20px;
}
.result-wrap .result-list .list-btm .result-box .result-top .result-tit span {
  font-size: 16px;
}
.result-wrap .result-list .list-btm .result-box .result-top .more-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  font-weight: 500;
  font-size: 15px;
}
.result-wrap .result-list .list-btm .result-box .result-top .more-btn::after {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../images/common/more_btn.svg") no-repeat center;
  background-size: 16px auto;
}
.result-wrap .result-list .list-btm .result-box .result-btm {
  padding-top: 40px;
}
.result-wrap .result-list .list-btm .result-box .result-btm .result-item {
  display: block;
  font-size: 16px;
}
.result-wrap .result-list .list-btm .result-box .result-btm .result-item:not(:last-child) {
  margin-bottom: 20px;
}
.result-wrap .result-list .list-btm .result-box .result-btm .result-item .item-tit {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
}
.result-wrap .result-list .list-btm .result-box .result-btm .result-item .item-txt {
  margin-bottom: 10px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.survey-wrap {
  margin: 60px auto;
}
.survey-wrap .survey-cont {
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
}
.survey-wrap .survey-top {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px 30px 24px;
  border-bottom: 1px solid #dddddd;
}
.survey-wrap .survey-top::before {
  content: "";
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff url("../images/common/survey_img.svg") no-repeat center;
  background-size: 24px auto;
}
.survey-wrap .survey-top .text-wrap p {
  font-weight: 600;
  font-size: 20px;
}
.survey-wrap .survey-top .text-wrap span {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}
.survey-wrap .survey-btm {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 24px 30px;
}
.survey-wrap .survey-btm .grade-wrap {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.survey-wrap .survey-btm .grade-wrap .label {
  gap: 0;
}
.survey-wrap .survey-btm .grade-wrap .label.grade1 .i-emotion {
  background-image: url("../images/common/survey_grade1.svg");
}
.survey-wrap .survey-btm .grade-wrap .label.grade2 .i-emotion {
  background-image: url("../images/common/survey_grade2.svg");
}
.survey-wrap .survey-btm .grade-wrap .label.grade3 .i-emotion {
  background-image: url("../images/common/survey_grade3.svg");
}
.survey-wrap .survey-btm .grade-wrap .label.grade4 .i-emotion {
  background-image: url("../images/common/survey_grade4.svg");
}
.survey-wrap .survey-btm .grade-wrap .label.grade5 .i-emotion {
  background-image: url("../images/common/survey_grade5.svg");
}
.survey-wrap .survey-btm .grade-wrap .label::before {
  flex: 0 0 auto;
}
.survey-wrap .survey-btm .grade-wrap .label .i-emotion {
  width: 20px;
  height: 20px;
  margin: 0 6px 0 10px;
  background-repeat: no-repeat;
  background-position: center;
}
.survey-wrap .survey-btm .comment-wrap {
  flex: 1;
}
.survey-wrap .survey-btm .comment-wrap .input-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.survey-wrap .survey-btm .comment-wrap .input-wrap label {
  flex: 1;
}
.survey-wrap .survey-btm .comment-wrap .input-wrap label input {
  width: 100%;
  height: 40px;
  line-height: 38px;
}
.survey-wrap .survey-btm .comment-wrap .input-wrap .btn {
  flex: 0 0 auto;
}

.tab-list {
  display: flex;
  gap: 16px;
}
.tab-list a,
.tab-list button {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  color: #666;
  font-size: 20px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.0784313725);
  border-radius: 10px;
  padding: 0 70px;
}
.tab-list a.on,
.tab-list button.on {
  background: linear-gradient(95deg, #2b408e 0%, #306aaa 100%);
  color: #fbfbfb;
  font-size: 22px;
}
.tab-list a.on::after,
.tab-list button.on::after {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  background: url("../images/sub/accordion_active_arrow.svg") no-repeat center/cover;
  position: absolute;
  right: 40px;
}

.introduce-wrap .charter-wrap {
  padding: 70px 60px;
  background-color: #f4f6fa;
}
.introduce-wrap .charter-wrap .cont-wrap {
  padding: 40px;
  background-color: #fff;
  border: 10px solid #f4f6fa;
  outline: 24px solid #fff;
}
.introduce-wrap .charter-wrap .cont-wrap .title-wrap {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.introduce-wrap .charter-wrap .cont-wrap .title-wrap .title span {
  display: block;
}
.introduce-wrap .charter-wrap .cont-wrap .title-wrap .title span:first-child {
  font-weight: 500;
  font-size: 30px;
}
.introduce-wrap .charter-wrap .cont-wrap .title-wrap .title span:last-child {
  font-weight: 700;
  font-size: 48px;
}
.introduce-wrap .charter-wrap .cont-wrap .title-wrap::before, .introduce-wrap .charter-wrap .cont-wrap .title-wrap::after {
  content: "";
  max-width: 43px;
  max-height: 103px;
  width: 43px;
  height: 103px;
  background-size: cover;
  background-repeat: no-repeat;
}
.introduce-wrap .charter-wrap .cont-wrap .title-wrap::before {
  background-image: url("../images/common/laurel_left.svg");
}
.introduce-wrap .charter-wrap .cont-wrap .title-wrap::after {
  background-image: url("../images/common/laurel_right.svg");
}
.introduce-wrap .charter-wrap .cont-wrap .text-wrap {
  margin-top: 40px;
  text-align: center;
}
.introduce-wrap .charter-wrap .cont-wrap .text-wrap p {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  word-break: keep-all;
}
.introduce-wrap .charter-wrap .cont-wrap .charter-list {
  margin-top: 80px;
}
.introduce-wrap .charter-wrap .cont-wrap .charter-list li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
}
.introduce-wrap .charter-wrap .cont-wrap .charter-list li::after {
  content: "";
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, transparent 20%, #dddddd 20%);
  background-size: 10px 1px;
  background-position: bottom;
  background-repeat: repeat-x;
}
.introduce-wrap .charter-wrap .cont-wrap .charter-list li strong {
  flex: 0 0 auto;
  font-weight: 700;
  font-size: 30px;
  color: #0f3b75;
}
.introduce-wrap .charter-wrap .cont-wrap .charter-list li span {
  flex: 1;
  font-weight: 500;
  font-size: 20px;
  color: #333;
  word-break: keep-all;
}
.introduce-wrap .charter-wrap .sub-txt-wrap {
  position: relative;
  padding: 60px 20px 0 20px;
  text-align: center;
  word-break: break-all;
}
.introduce-wrap .charter-wrap .sub-txt-wrap p {
  font-size: 20px;
}

.board-wrap .info-area {
  display: flex;
  align-items: center;
  gap: 10px;
}
.board-wrap .info-area span {
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 14px;
  color: #666;
}
.board-wrap .info-area span.hits {
  background-image: url("../images/common/ico_hit_gray.svg");
}
.board-wrap .info-area span.date {
  background-image: url("../images/common/ico_calendar_gray.svg");
}
.board-wrap .info-area span.line {
  width: 1px;
  height: 10px;
  padding-left: 0;
  background-color: #dddddd;
}
.board-wrap .board-list .list-wrap {
  margin-top: 60px;
}
.board-wrap .board-list .list-wrap .list-top {
  margin-bottom: 20px;
}
.board-wrap .board-list .list-wrap .list-top .total-count {
  font-size: 16px;
}
.board-wrap .board-list .list-wrap .list-top .total-count span {
  padding: 0 4px;
  font-weight: 600;
  font-size: 16px;
  color: #0f3b75;
}
.board-wrap .board-list .table-wrap .item-img {
  position: relative;
}
.board-wrap .board-list .table-wrap .item-img .imgbox {
  display: block;
  display: block;
  position: relative;
  overflow: hidden;
}
.board-wrap .board-list .table-wrap .item-img .imgbox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.board-wrap .board-list .table-wrap .item-img .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.board-wrap .board-list .table-wrap.type-line .list-row {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
  transition: background-color 0.3s;
}
.board-wrap .board-list .table-wrap.type-line .list-row.table-title {
  height: 70px;
  border-top: 1px solid #707070;
}
.board-wrap .board-list .table-wrap.type-line .list-row.table-title > div {
  font-weight: 500;
  font-size: 20px;
}
.board-wrap .board-list .table-wrap.type-line .list-row:not(.table-title):hover {
  background-color: #f9f9f9;
}
.board-wrap .board-list .table-wrap.type-line .list-row:not(.table-title) .title {
  text-align: left;
}
.board-wrap .board-list .table-wrap.type-line .list-row:not(.table-title) .title a {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 30px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}
.board-wrap .board-list .table-wrap.type-line .list-row > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.board-wrap .board-list .table-wrap.type-line .list-row .no {
  width: 80px;
}
.board-wrap .board-list .table-wrap.type-line .list-row .no .i-notice {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background: url("../images/common/ico_notice.svg") no-repeat center;
  background-size: 19px auto;
  font-size: 0;
}
.board-wrap .board-list .table-wrap.type-line .list-row .date {
  width: 170px;
}
.board-wrap .board-list .table-wrap.type-line .list-row .views {
  width: 125px;
}
.board-wrap .board-list .table-wrap.type-news {
  border-top: 3px solid #707070;
}
.board-wrap .board-list .table-wrap.type-news .list-row {
  display: flex;
  gap: 50px;
  padding: 40px 0;
  border-bottom: 1px solid #707070;
}
.board-wrap .board-list .table-wrap.type-news .list-row .item-img {
  flex: 0 0 auto;
  width: 260px;
  height: 360px;
  border: 1px solid #dddddd;
}
.board-wrap .board-list .table-wrap.type-news .list-row .item-img .imgbox img {
  object-position: top;
}
.board-wrap .board-list .table-wrap.type-news .list-row .item-img .download-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: rgba(22, 27, 75, 0.8);
  text-align: center;
}
.board-wrap .board-list .table-wrap.type-news .list-row .item-img .download-wrap .pdf-down {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  line-height: 56px;
  font-size: 20px;
  color: #fff;
}
.board-wrap .board-list .table-wrap.type-news .list-row .item-img .download-wrap .pdf-down::after {
  content: "";
  width: 28px;
  height: 28px;
  background: url("../images/common/ico_down_white.svg") no-repeat right center;
  background-size: 28px auto;
}
.board-wrap .board-list .table-wrap.type-news .list-row .text-wrap {
  display: flex;
  flex-direction: column;
}
.board-wrap .board-list .table-wrap.type-news .list-row .text-wrap .text-area .text-box {
  position: relative;
}
.board-wrap .board-list .table-wrap.type-news .list-row .text-wrap .text-area .text-box .tit a {
  word-break: keep-all;
  font-weight: 700;
  font-size: 28px;
}
.board-wrap .board-list .table-wrap.type-news .list-row .text-wrap .text-area .text-box .text {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 18px;
  color: #666666;
}
.board-wrap .board-list .table-wrap.type-news .list-row .text-wrap .info-area {
  margin-top: auto;
}
.board-wrap .board-list .table-wrap.type-news .list-row .text-wrap .info-area span {
  font-size: 16px;
}
.board-wrap .board-list .table-wrap.type-gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 400px));
  justify-content: space-between;
  gap: 40px 20px;
}
.board-wrap .board-list .table-wrap.type-gallery .list-row .item-img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  border: 1px solid #dddddd;
  overflow: hidden;
  transition: 0.3s;
}
.board-wrap .board-list .table-wrap.type-gallery .list-row .item-img:hover {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1019607843);
}
.board-wrap .board-list .table-wrap.type-gallery .list-row .item-img:hover .imgbox {
  transform: scale(1.1);
}
.board-wrap .board-list .table-wrap.type-gallery .list-row .item-img .imgbox {
  background: #f8f8f8 url("../images/sub/no_image.svg") no-repeat center;
  transition: 0.3s;
}
.board-wrap .board-list .table-wrap.type-gallery .list-row .text-wrap .text-area {
  margin-top: 20px;
}
.board-wrap .board-list .table-wrap.type-gallery .list-row .text-wrap .text-area .text-box .tit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  font-size: 20px;
}
.board-wrap .board-list .table-wrap.type-gallery .list-row .text-wrap .info-area {
  margin-top: 30px;
}
.board-wrap .board-view {
  margin-top: 40px;
}
.board-wrap .board-view .btn-wrap {
  margin-top: 40px;
}
.board-wrap .board-view .btn-wrap .btn {
  width: 285px;
  height: 70px;
  line-height: 66px;
  font-weight: 500;
  font-size: 20px;
}
.board-wrap .board-view .view-wrap {
  padding: 0 0 20px;
  border-bottom: 1px solid #e2e2e2;
  border-radius: 0;
}
.board-wrap .board-view .view-top {
  border-top: 2px solid #222;
}
.board-wrap .board-view .view-top .tit {
  padding: 28px 20px;
  font-weight: 500;
  font-size: 20px;
  word-break: keep-all;
}
.board-wrap .board-view .view-top .info-area {
  justify-content: flex-end;
  padding: 20px;
  border-top: 1px solid #707070;
}
.board-wrap .board-view .view-cont {
  padding: 30px 20px 50px;
  border-top: 1px solid #e2e2e2;
  font-size: 16px;
}
.board-wrap .board-view .view-cont p {
  line-height: 1.4;
  word-break: keep-all;
}
.board-wrap .board-view .view-attachment .attachment {
  padding: 0 20px;
}
.board-wrap .board-view .view-attachment .attachment:first-child {
  padding-top: 20px;
  border-top: 1px solid #e2e2e2;
}
.board-wrap .board-view .view-attachment .attachment + .attachment {
  margin-top: 5px;
}
.board-wrap .board-view .view-attachment .attachment a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
}
.board-wrap .board-view .view-attachment .attachment a::before, .board-wrap .board-view .view-attachment .attachment a::after {
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.board-wrap .board-view .view-attachment .attachment a::before {
  background-image: url("../images/common/ico_attach.svg");
}
.board-wrap .board-view .view-attachment .attachment a::after {
  background-image: url("../images/common/ico_down.svg");
}

@media (min-width: 769px) {
  .tab-wrap .tab-select {
    display: none;
  }
  .tab-wrap .select-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .tab-wrap .tab {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    color: #666;
    font-size: 20px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.0784313725);
    border-radius: 10px;
  }
  .tab-wrap .tab.on {
    background: linear-gradient(95deg, #2b408e 0%, #306aaa 100%);
    color: #fbfbfb;
    font-weight: 600;
  }
  .tab-wrap .tab.on::after {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background: url("../images/sub/accordion_active_arrow.svg") no-repeat center/cover;
    position: absolute;
    right: 40px;
  }
}
@media only screen and (max-width: 1240px) {
  .cont-top .title-wrap .title {
    font-size: 40px;
  }
  .cont-top .title-wrap .text {
    font-size: 20px;
  }
  .cont-top.type-bg {
    height: 230px;
    background-size: cover;
  }
  .cont-top.type-bg .title-wrap {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 0;
    text-align: center;
  }
  .cont-top.type-bg .title-wrap .title {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-size: 36px;
  }
  .cont-top.type-bg .title-wrap .text {
    display: none;
  }
  .survey-wrap .survey-top {
    padding: 20px;
  }
  .survey-wrap .survey-top::before {
    width: 50px;
    height: 50px;
    background-size: 24px auto;
  }
  .survey-wrap .survey-top .text-wrap p {
    font-size: 18px;
  }
  .survey-wrap .survey-top .text-wrap span {
    font-size: 14px;
  }
  .survey-wrap .survey-btm {
    flex-wrap: wrap;
    gap: 16px 20px;
    padding: 20px;
  }
  .survey-wrap .survey-btm .grade-wrap {
    gap: 20px;
  }
  .survey-wrap .survey-btm .grade-wrap .label {
    font-size: 15px;
  }
  .survey-wrap .survey-btm .comment-wrap .input-wrap {
    gap: 10px;
  }
  .survey-wrap .survey-btm .comment-wrap .input-wrap label input {
    min-width: 400px;
  }
  .board-wrap .board-list .list-wrap {
    margin-top: 40px;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row:not(.table-title):hover {
    background-color: #fff;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row.table-title > div {
    font-size: 16px;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row > div {
    font-size: 16px;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row .date {
    width: 150px;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row .views {
    width: 100px;
  }
  .board-wrap .board-view .view-top .tit {
    padding: 20px 0;
  }
  .board-wrap .board-view .view-top .info-area {
    padding: 16px;
  }
}
@media only screen and (max-width: 1023px) {
  .tab-wrap .tab {
    font-size: 16px;
    height: 50px;
  }
  .tab-wrap .tab.on::after {
    right: 14px;
    width: 20px;
    height: 20px;
  }
  .introduce-wrap .charter-wrap {
    padding: 30px;
  }
  .introduce-wrap .charter-wrap .cont-wrap {
    border: 10px solid #f4f6fa;
    outline: 10px solid #fff;
  }
  .introduce-wrap .charter-wrap .cont-wrap .title-wrap .title span:first-child {
    font-size: 26px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .title-wrap .title span:last-child {
    font-size: 36px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .title-wrap::before, .introduce-wrap .charter-wrap .cont-wrap .title-wrap::after {
    width: 36px;
    height: 85px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .text-wrap {
    margin-top: 30px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .text-wrap p {
    font-size: 20px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .charter-list {
    margin-top: 40px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .charter-list li strong {
    font-size: 24px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .charter-list li span {
    font-size: 18px;
  }
  .introduce-wrap .charter-wrap .sub-txt-wrap {
    padding-top: 30px;
  }
  .introduce-wrap .charter-wrap .sub-txt-wrap p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .tab-wrap {
    position: relative;
  }
  .tab-wrap .tab-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #dddddd;
    border-top: 2px solid #0f3b75;
    background-color: #fff;
    font-weight: 600;
    font-size: 16px;
    color: #0f3b75;
    text-align: left;
    line-height: 48px;
  }
  .tab-wrap .tab-select::after {
    content: "";
    width: 18px;
    height: 18px;
    background: url("../images/common/select_arrow.svg") no-repeat center;
    transition: 0.3s;
  }
  .tab-wrap .tab-select.on::after {
    transform: rotate(180deg);
  }
  .tab-wrap .tab-select.on + .tab-inner {
    opacity: 1;
  }
  .tab-wrap .tab-inner {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    z-index: 100;
    border: 1px solid #dddddd;
    overflow: hidden;
    opacity: 0;
    transition: all 0.35s;
  }
  .tab-wrap .tab-inner .select-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .tab-wrap .tab-inner .tab {
    position: relative;
    flex: 1;
    width: 100%;
    height: 50px;
    line-height: 48px;
    background-color: rgba(248, 248, 248, 0.8);
    padding: 0 15px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #333;
    text-align: left;
  }
  .tab-wrap .tab-inner .tab:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
  }
  .tab-wrap .tab-inner .tab span {
    font-size: 20px;
  }
  .cont-top {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
  .cont-top.type-bg {
    position: relative;
    margin-bottom: 100px;
  }
  .cont-top.type-bg .m-title {
    font-weight: 600;
    font-size: 20px;
    color: #161b4b;
  }
  .cont-top.type-bg .title-wrap {
    height: 100%;
  }
  .cont-top.type-bg .title-wrap .title {
    top: 50%;
  }
  .cont-top.type-bg .sub-nav {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    width: calc(100% - 32px);
    height: auto;
    padding: 26px 0 20px;
  }
  .cont-top.type-bg .sub-nav .w-set {
    align-items: flex-start;
    flex-direction: column;
  }
  .cont-top.type-bg .sub-nav .location-wrap {
    margin-top: 10px;
  }
  .cont-top.type-bg .sub-nav .location-wrap .location {
    color: #666;
  }
  .cont-top.type-bg .sub-nav .location-wrap .location.on {
    font-weight: 600;
    color: #222;
  }
  .cont-top.type-bg .sub-nav .location-wrap .location.home {
    background-image: url("../images/common/location_home.svg");
  }
  .cont-top.type-bg .sub-nav .function-wrap {
    top: 26px;
    right: 0;
  }
  .cont-top.type-bg .sub-nav .function-wrap .func.share .btn-share {
    background-image: url("../images/common/func_share.svg");
  }
  .cont-top .title-wrap {
    margin-top: 20px;
  }
  .cont-top .title-wrap .title {
    font-weight: 600;
    font-size: 26px;
  }
  .cont-top .sub-nav {
    order: 1;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
  }
  .cont-top .sub-nav .w-set {
    padding: 0;
  }
  .cont-top .sub-nav .home {
    pointer-events: none;
  }
  .cont-top .sub-nav .function-wrap {
    position: absolute;
    top: 20px;
    right: 16px;
  }
  .cont-top .sub-nav .function-wrap .share-wrap {
    top: 40px;
    right: 0;
    width: 277px;
    padding: 20px 12px;
  }
  .cont-top .sub-nav .function-wrap .share-wrap .btn-close {
    background-size: 14px auto;
  }
  .cont-top .sub-nav .function-wrap .share-wrap .share-list {
    gap: 10px;
  }
  .cont-top .sub-nav .function-wrap .share-wrap .share-list li a {
    gap: 4px;
  }
  .cont-top .sub-nav .function-wrap .share-wrap .share-list li a::before {
    width: 40px;
    height: 40px;
    background-size: 40px auto;
  }
  .cont-top .sub-nav .function-wrap .share-wrap .share-list li a span {
    font-size: 10px;
  }
  .cont-top .search-wrap {
    order: 1;
    margin-top: 30px;
  }
  .cont-top .search-wrap .search-box {
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
    padding: 16px;
    background-color: #f8f8f8;
    border-radius: 0;
    border: 1px solid #dddddd;
  }
  .cont-top .search-wrap .select-area {
    width: 100%;
  }
  .cont-top .search-wrap .select-area::after {
    display: none;
  }
  .cont-top .search-wrap .select-area select {
    height: 36px;
    padding: 0 24px 0 10px;
    border-radius: 0;
    border: 1px solid #dddddd;
    background-position: right 10px center;
    background-size: 12px auto;
    background-color: #fff;
    line-height: 34px;
    font-size: 14px;
  }
  .cont-top .search-wrap .search-area .input-wrap input {
    width: calc(100% - 22px);
    height: 36px;
    padding: 0 10px;
    border-radius: 0;
    border: 1px solid #dddddd;
    line-height: 34px;
    font-size: 14px;
  }
  .cont-top .search-wrap .search-area .btn-search {
    position: static;
    transform: translateY(0);
    width: 100%;
    height: 36px;
    margin-top: 8px;
    background: #333333;
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
  .result-wrap {
    padding-top: 10px;
  }
  .result-wrap .result-list {
    padding-top: 30px;
  }
  .result-wrap .result-list .result-txt {
    margin-bottom: 60px;
    font-size: 18px;
    text-align: center;
  }
  .result-wrap .result-list .list-btm .result-box {
    padding: 20px 0 0;
    border-radius: 0;
    border: 0;
  }
  .result-wrap .result-list .list-btm .result-box:not(:last-child) {
    margin-bottom: 50px;
  }
  .result-wrap .result-list .list-btm .result-box .result-top .result-tit {
    font-size: 20px;
  }
  .result-wrap .result-list .list-btm .result-box .result-btm {
    padding-top: 30px;
  }
  .result-wrap .result-list .list-btm .result-box .result-btm .result-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .result-wrap .result-list .list-btm .result-box .result-btm .result-item .item-tit {
    margin-bottom: 10px;
    text-decoration: underline;
  }
  .survey-wrap .survey-top {
    gap: 10px;
  }
  .survey-wrap .survey-top::before {
    width: 40px;
    height: 40px;
    background-size: 20px auto;
  }
  .survey-wrap .survey-btm {
    flex-wrap: wrap;
    gap: 16px 20px;
  }
  .survey-wrap .survey-btm .grade-wrap {
    gap: 16px;
    width: 100%;
  }
  .survey-wrap .survey-btm .grade-wrap .label {
    gap: 10px;
  }
  .survey-wrap .survey-btm .grade-wrap .label .i-emotion {
    display: none;
  }
  .survey-wrap .survey-btm .comment-wrap .input-wrap label input {
    min-width: auto;
  }
  .introduce-wrap .charter-wrap {
    padding: 10px;
  }
  .introduce-wrap .charter-wrap .cont-wrap {
    padding: 30px 16px 40px;
    border: 0;
    outline: 0;
  }
  .introduce-wrap .charter-wrap .cont-wrap .title-wrap {
    gap: 12px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .title-wrap .title span:first-child {
    font-size: 11px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .title-wrap .title span:last-child {
    font-size: 20px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .title-wrap::before, .introduce-wrap .charter-wrap .cont-wrap .title-wrap::after {
    width: 22px;
    height: 50px;
    background-size: 100% auto;
  }
  .introduce-wrap .charter-wrap .cont-wrap .text-wrap {
    margin-top: 24px;
    text-align: left;
  }
  .introduce-wrap .charter-wrap .cont-wrap .text-wrap br {
    display: none;
  }
  .introduce-wrap .charter-wrap .cont-wrap .text-wrap p {
    font-size: 16px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .charter-list {
    margin-top: 16px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .charter-list li {
    align-items: flex-start;
  }
  .introduce-wrap .charter-wrap .cont-wrap .charter-list li strong {
    font-size: 20px;
  }
  .introduce-wrap .charter-wrap .cont-wrap .charter-list li span {
    font-size: 15px;
  }
  .introduce-wrap .charter-wrap .sub-txt-wrap {
    padding-top: 15px;
  }
  .introduce-wrap .charter-wrap .sub-txt-wrap p {
    font-size: 15px;
  }
  .board-wrap .board-list .list-wrap {
    margin-top: 20px;
  }
  .board-wrap .board-list .list-wrap .list-top {
    margin-bottom: 10px;
  }
  .board-wrap .board-list .list-wrap .list-top .total-count {
    font-size: 15px;
  }
  .board-wrap .board-list .list-wrap .list-top .total-count span {
    font-size: 15px;
  }
  .board-wrap .board-list .table-wrap.type-line {
    border-top: 1px solid #707070;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 20px 0;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row.table-title {
    display: none;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row:not(.is-notice) .title:has(.new-ico) a {
    max-width: calc(100% - 30px);
  }
  .board-wrap .board-list .table-wrap.type-line .list-row:not(.table-title) .title {
    width: 100%;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row:not(.table-title) .title a {
    max-width: calc(100% - 20px);
  }
  .board-wrap .board-list .table-wrap.type-line .list-row.is-notice .title a {
    max-width: calc(100% - 30px);
    padding-left: 26px;
    background: url("../images/common/ico_notice.svg") no-repeat left center;
    background-size: 16px auto;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row > div {
    display: block;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row .no {
    display: none;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row .title {
    width: 100%;
    height: auto;
    padding-left: 0;
    line-height: 1.2;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row .date,
  .board-wrap .board-list .table-wrap.type-line .list-row .views {
    width: auto;
    margin-top: 5px;
    font-size: 14px;
    color: #666;
  }
  .board-wrap .board-list .table-wrap.type-line .list-row .date {
    margin-right: 16px;
  }
  .board-wrap .board-view .btn-wrap .btn {
    width: 150px;
    height: 50px;
    line-height: 46px;
    font-size: 18px;
  }
  .board-wrap .board-view .view-top .tit {
    font-size: 18px;
  }
  .board-wrap .board-view .view-top .info-area {
    justify-content: flex-start;
    padding: 16px 0;
  }
  .board-wrap .board-view .view-cont {
    padding: 20px 0;
  }
  .board-wrap .board-view .view-attachment .attachment a {
    font-size: 15px;
  }
  .board-wrap .board-view .view-attachment .attachment a::before, .board-wrap .board-view .view-attachment .attachment a::after {
    width: 18px;
    height: 18px;
    background-size: 18px auto;
  }
}
@media (max-width: 500px) {
  .survey-wrap .survey-btm .grade-wrap .radiobox {
    min-width: 100px;
  }
}