@import "utility";

.sub-content {
    padding: 0 0 200px;
}

.ck-content {
    p {
        font-weight: inherit;
        color: inherit;
    }
}

// 에디터 출력
.text-editor {
    max-height: 24px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.4;
    strong {
        font-weight: 400;
    }
    img {
        display: none !important;
    }
    p:has(img) {
        display: none;
    }
}

// 컨텐츠 상단
.cont-top {
    .title-wrap {
        margin-top: 30px;
        text-align: center;
        .title {
            @include font(700, 48px, #222);
        }
        .text {
            margin-top: 30px;
            @include font(600, 24px, #222);
        }
    }
    .search-wrap {
        margin-top: 50px;
    }
    &.type-bg {
        width: 100%;
        height: 250px;
        background-image: url("../images/sub/bg_manage.jpg");
        background-repeat: no-repeat;
        background-position: center;
        .sub-nav {
            .location-wrap {
                .location {
                    color: #fff;

                    &.on {
                        font-weight: 400;
                        color: #fff;
                    }

                    &.home {
                        background-image: url("../images/common/location_home_white.svg");
                    }
                }
            }
            .function-wrap {
                .func {
                    &.share .btn-share {
                        background-image: url("../images/common/func_share_white.svg");
                    }

                    &.print .btn-print {
                        background-image: url("../images/common/func_print_white.svg");
                    }
                }
            }
        }
        .title-wrap {
            margin-top: 50px;
            .title {
                width: 100%;
                color: #fff;
            }
            .text {
                color: #fff;
            }
        }
    }
}

// 상단 로케이션
.sub-nav {
    height: 50px;
    padding: 14px 0;
    .w-set {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .location-wrap {
        .location {
            display: inline-block;
            font-size: 14px;
            color: #888;
            &.on {
                font-weight: 600;
                color: #222;
            }
            &.home {
                vertical-align: middle;
                padding: 8px;
                background: url("../images/common/location_home.svg") no-repeat center;
                font-size: 0;
            }
            &:not(.home)::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 5px;
                height: 10px;
                margin: 0 8px 0 6px;
                background: url("../images/common/location_arrow.svg") no-repeat center;
            }
        }
    }

    .function-wrap {
        display: flex;
        align-items: center;
        gap: 20px;
        .func {
            position: relative;
            &.share {
                .btn-share {
                    background-image: url("../images/common/func_share.svg");
                }
            }
            &.print {
                display: flex;
                align-items: center;
                gap: 20px;
                &::before {
                    content: "";
                    width: 1px;
                    height: 15px;
                    background-color: #dddddd;
                }

                .btn-print {
                    background-image: url("../images/common/func_print.svg");
                }
            }
            > a,
            button {
                display: block;
                width: 21px;
                height: 21px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 21px auto;
                font-size: 0;
            }
        }
        .share-wrap {
            display: none;
            position: absolute;
            top: 30px;
            right: 7px;
            z-index: 10;
            width: 356px;
            padding: 26px 25px 20px;
            background-color: #fff;
            box-shadow: 1px 0 6px #0000001a;
            &.on {
                display: block;
            }
            .btn-close {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 16px;
                height: 16px;
                background: url("../images/common/ico_close_gray.svg") no-repeat center;
                background-size: 16px auto;
                font-size: 0;
            }
            .share-list {
                display: flex;
                gap: 20px;
                li {
                    &.copy a::before {
                        border: 1px solid #dddddd;
                        background-image: url("../images/common/share_copy.svg");
                    }
                    &.kakao a::before {
                        background-color: #fae100;
                        background-image: url("../images/common/share_kakao.svg");
                    }
                    &.facebook a::before {
                        background-color: #0866ff;
                        background-image: url("../images/common/share_facebook.svg");
                    }
                    &.instagram a::before {
                        background-image: url("../images/common/share_instagram.svg");
                    }
                    a {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        gap: 10px;
                        padding: 0 5px;
                        text-align: center;
                        &::before {
                            content: "";
                            display: block;
                            width: 48px;
                            height: 48px;
                            margin: 0 auto;
                            border-radius: 50%;
                            background-repeat: no-repeat;
                            background-position: top center;
                            background-size: 48px auto;
                        }
                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

// 컨텐츠 하단
.cont-btm {
    padding: 80px 0 0;
}

// 게시판류 검색
.search-wrap {
    .search-box {
        display: flex;
        align-items: center;
        max-width: 680px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 30px;
        border: 2px solid $main-color;
        overflow: hidden;
        .select-area {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            width: 168px;
            &::after {
                content: "";
                width: 1px;
                height: 24px;
                background-color: #dddddd;
            }
            select {
                width: 100%;
                height: 56px;
                padding: 0 32px 0 30px;
                border: 0;
                background: url("../images/common/select_arrow.svg") no-repeat right 20px center;
                line-height: 58px;
                font-size: 18px;
            }
        }
        .search-area {
            position: relative;
            flex: 1;
            width: 100%;
            .input-wrap {
                input {
                    height: 56px;
                    padding: 0 70px 0 20px;
                    border: 0;
                    line-height: 56px;
                    font-size: 18px;
                }
            }
            .btn-search {
                position: absolute;
                top: 50%;
                right: 30px;
                transform: translateY(-50%);
                z-index: 1;
                width: 30px;
                height: 30px;
                background: url("../images/common/search_btn.svg") no-repeat center;
                background-size: 24px;
                font-size: 0;
            }
        }
    }
}

// 통합검색
.result-wrap {
    padding-top: 50px;
    .result-list {
        padding-top: 110px;
        strong.c-primary {
            font-weight: 600;
        }
        .result-txt {
            margin-bottom: 100px;
            font-size: 24px;
            line-height: 1.3;
        }
        .list-btm {
            .result-box {
                padding: 30px 30px 50px;
                border-radius: 10px;
                border: 1px solid #dddddd;
                &:not(:last-child) {
                    margin-bottom: 50px;
                }
                .result-top {
                    display: flex;
                    align-items: center;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #dddddd;
                    .result-tit {
                        font-weight: 500;
                        font-size: 20px;
                        span {
                            font-size: 16px;
                        }
                    }
                    .more-btn {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-left: auto;
                        font-weight: 500;
                        font-size: 15px;
                        &::after {
                            content: "";
                            width: 16px;
                            height: 16px;
                            background: url("../images/common/more_btn.svg") no-repeat center;
                            background-size: 16px auto;
                        }
                    }
                }
                .result-btm {
                    padding-top: 40px;
                    .result-item {
                        display: block;
                        font-size: 16px;
                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }
                        .item-tit {
                            margin-bottom: 15px;
                            font-weight: 500;
                            font-size: 18px;
                        }
                        .item-txt {
                            margin-bottom: 10px;
                            @include ellipsis(2);
                        }
                    }
                }
            }
        }
    }
}

// 만족도 조사
.survey-wrap {
    margin: 60px auto;
    .survey-cont {
        background-color: $background-color;
        border: 1px solid $border-color;
    }
    .survey-top {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 30px 30px 24px;
        border-bottom: 1px solid $border-color;
        &::before {
            content: "";
            flex: 0 0 auto;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: #fff url("../images/common/survey_img.svg") no-repeat center;
            background-size: 24px auto;
        }
        .text-wrap {
            p {
                font-weight: 600;
                font-size: 20px;
            }
            span {
                display: inline-block;
                margin-top: 10px;
                font-size: 16px;
            }
        }
    }
    .survey-btm {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 24px 30px;
        .grade-wrap {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            .label {
                gap: 0;
                @for $i from 1 through 5 {
                    &.grade#{$i} {
                        .i-emotion {
                            background-image: url("../images/common/survey_grade#{$i}.svg");
                        }
                    }
                }
                &::before {
                    flex: 0 0 auto;
                }
                .i-emotion {
                    width: 20px;
                    height: 20px;
                    margin: 0 6px 0 10px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        .comment-wrap {
            flex: 1;
            .input-wrap {
                display: flex;
                align-items: center;
                gap: 20px;
                label {
                    flex: 1;
                    input {
                        width: 100%;
                        height: 40px;
                        line-height: 38px;
                    }
                }
                .btn {
                    flex: 0 0 auto;
                }
            }
        }
    }
}

// 탭버튼
.tab-list {
    display: flex;
    gap: 16px;
    a,
    button {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 64px;
        color: #666;
        font-size: 20px;
        box-shadow: 0px 3px 12px #00000014;
        border-radius: 10px;
        padding: 0 70px;
        &.on {
            background: linear-gradient(95deg, #2b408e 0%, #306aaa 100%);
            color: #fbfbfb;
            font-size: 22px;
            &::after {
                content: "";
                display: block;
                width: 26px;
                height: 26px;
                background: url("../images/sub/accordion_active_arrow.svg") no-repeat center/cover;
                position: absolute;
                right: 40px;
            }
        }
    }
}

//KIND 소개
.charter-wrap {
    padding: 70px 60px;
    background-color: #f4f6fa;
    .cont-wrap {
        padding: 40px;
        background-color: #fff;
        border: 10px solid #f4f6fa;
        outline: 24px solid #fff;
        .title-wrap {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            .title {
                span {
                    display: block;

                    &:first-child {
                        font-weight: 500;
                        font-size: 30px;
                    }

                    &:last-child {
                        font-weight: 700;
                        font-size: 48px;
                    }
                }
            }
            &::before,
            &::after {
                content: "";
                max-width: 43px;
                max-height: 103px;
                width: 43px;
                height: 103px;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &::before {
                background-image: url("../images/common/laurel_left.svg");
            }

            &::after {
                background-image: url("../images/common/laurel_right.svg");
            }
        }
        .text-wrap {
            margin-top: 40px;
            text-align: center;
            p {
                font-weight: 500;
                font-size: 28px;
                line-height: 1.5;
                word-break: keep-all;
            }
        }
        .charter-list {
            margin-top: 80px;
            li {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
                padding-top: 20px;
                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-image: linear-gradient(to right, transparent 20%, $border-color 20%);
                    background-size: 10px 1px;
                    background-position: bottom;
                    background-repeat: repeat-x;
                }
                strong {
                    flex: 0 0 auto;
                    @include font(700, 30px, $main-color);
                }
                span {
                    flex: 1;
                    @include font(500, 20px, #333);
                    word-break: keep-all;
                }
            }
        }
    }
    .sub-txt-wrap {
        position: relative;
        padding: 60px 20px 0 20px;
        text-align: center;
        word-break: break-all;
        p {
            font-size: 20px;
        }
    }
}

// 게시판 테이블 UI
.table-wrap {
    // 라인형
    &.type-line {
        .list-row {
            display: table;
            table-layout: fixed;
            width: 100%;
            height: 70px;
            border-bottom: 1px solid $border-color;
            background-color: #fff;
            transition: background-color 0.3s;
            &.table-title {
                height: 70px;
                border-top: 1px solid #707070;
                & > div {
                    font-weight: 500;
                    font-size: 20px;
                }
            }
            &:not(.table-title) {
                &:hover {
                    background-color: #f9f9f9;
                }
                .title {
                    text-align: left;
                    a {
                        // width: 100%;
                        display: inline-block;
                        vertical-align: middle;
                        max-width: calc(100% - 30px);
                        @include ellipsis(1);
                        font-weight: 500;
                    }
                }
            }
            & > div {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                font-size: 20px;
            }
            .no {
                width: 80px;
                .i-notice {
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin: 0 auto;
                    background: url("../images/common/ico_notice.svg") no-repeat center;
                    background-size: 19px auto;
                    font-size: 0;
                }
            }
            .date {
                width: 170px;
            }
            .views {
                width: 125px;
            }
        }
    }
    // 목록형
    &.type-news {
        border-top: 3px solid #707070;
        .list-row {
            display: flex;
            gap: 50px;
            padding: 40px 0;
            border-bottom: 1px solid #707070;
            .item-img {
                flex: 0 0 auto;
                width: 260px;
                height: 360px;
                border: 1px solid $border-color;
                .imgbox img {
                    object-position: top;
                }
                .download-wrap {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 56px;
                    background-color: rgba(#161b4b, 0.8);
                    text-align: center;
                    .pdf-down {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        width: 100%;
                        height: 100%;
                        line-height: 56px;
                        font-size: 20px;
                        color: #fff;
                        &::after {
                            content: "";
                            width: 28px;
                            height: 28px;
                            background: url("../images/common/ico_down_white.svg") no-repeat right center;
                            background-size: 28px auto;
                        }
                    }
                }
            }
            .text-wrap {
                display: flex;
                flex-direction: column;
                .text-area {
                    .text-box {
                        position: relative;
                        .tit {
                            a {
                                word-break: keep-all;
                                font-weight: 700;
                                font-size: 28px;
                            }
                        }
                        .text {
                            margin-top: 30px;
                            line-height: 1.5;
                            font-size: 18px;
                            color: #666666;
                        }
                    }
                }
                .info-area {
                    margin-top: auto;
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    // 갤러리형
    &.type-gallery {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: space-between;
        gap: 40px 20px;
        .list-row {
            .item-img {
                width: 100%;
                // height: 400px;
                border-radius: 20px;
                border: 1px solid $border-color;
                overflow: hidden;
                transition: 0.3s;
                &:hover {
                    box-shadow: 0 3px 20px #0000001a;
                    .imgbox {
                        transform: scale(1.1);
                    }
                }
                .imgbox {
                    background: $background-color url("../images/sub/no_image.svg") no-repeat center;
                    transition: 0.3s;
                }
            }
            .text-wrap {
                .text-area {
                    margin-top: 20px;
                    .text-box .tit {
                        @include ellipsis(1);
                        font-weight: 500;
                        font-size: 20px;
                    }
                }
                .info-area {
                    margin-top: 30px;
                }
            }
        }
    }
}

// 알림 소식
.board-wrap {
    // 조회수, 작성일
    .info-area {
        display: flex;
        align-items: center;
        gap: 10px;
        span {
            padding-left: 28px;
            background-repeat: no-repeat;
            background-position: left center;
            font-size: 14px;
            color: #666;
            &.hits {
                background-image: url("../images/common/ico_hit_gray.svg");
            }
            &.date {
                background-image: url("../images/common/ico_calendar_gray.svg");
            }
            &.line {
                width: 1px;
                height: 10px;
                padding-left: 0;
                background-color: $border-color;
            }
        }
    }
    .board-list {
        .list-wrap {
            margin-top: 60px;
            .list-top {
                margin-bottom: 20px;
                .total-count {
                    font-size: 16px;
                    span {
                        padding: 0 4px;
                        @include font(600, 16px, $main-color);
                    }
                }
            }
        }
        .table-wrap {
            .item-img {
                position: relative;
                .imgbox {
                    display: block;
                    @include imgBox(100%);
                }
            }
        }
    }
    .board-view {
        margin-top: 40px;
        .btn-wrap {
            margin-top: 40px;
            .btn {
                width: 285px;
                height: 70px;
                line-height: 66px;
                font-weight: 500;
                font-size: 20px;
            }
        }
        .view-wrap {
            padding: 0 0 20px;
            border-bottom: 1px solid #e2e2e2;
            border-radius: 0;
        }
        .view-top {
            border-top: 2px solid #222;
            .tit {
                padding: 28px 20px;
                font-weight: 500;
                font-size: 20px;
                word-break: keep-all;
            }
            .info-area {
                justify-content: flex-end;
                padding: 20px;
                border-top: 1px solid #707070;
            }
        }
        .view-cont {
            padding: 30px 20px 50px;
            border-top: 1px solid #e2e2e2;
            font-size: 16px;
            p {
                line-height: 1.4;
                word-break: keep-all;
            }
        }
        .view-attachment {
            .attachment {
                padding: 0 20px;
                &:first-child {
                    padding-top: 20px;
                    border-top: 1px solid #e2e2e2;
                }
                & + .attachment {
                    margin-top: 5px;
                }
                a {
                    display: inline-flex;
                    align-items: center;
                    gap: 5px;
                    padding: 5px 0;
                    &::before,
                    &::after {
                        content: "";
                        width: 20px;
                        height: 20px;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    &::before {
                        background-image: url("../images/common/ico_attach.svg");
                    }
                    &::after {
                        background-image: url("../images/common/ico_down.svg");
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) {
    //모바일 탭
    .tab-wrap {
        margin-bottom: 80px;
        .tab-select {
            display: none;
        }
        .select-list {
            display: flex;
            align-items: center;
            gap: 16px;
        }
        .tab {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 64px;
            color: #666;
            font-size: 20px;
            box-shadow: 0px 3px 12px #00000014;
            border-radius: 10px;
            &.on {
                background: linear-gradient(95deg, #2b408e 0%, #306aaa 100%);
                color: #fbfbfb;
                font-weight: 600;
                &::after {
                    content: "";
                    display: block;
                    width: 26px;
                    height: 26px;
                    background: url("../images/sub/accordion_active_arrow.svg") no-repeat center/cover;
                    position: absolute;
                    right: 40px;
                }
            }
        }
    }
}

@include laptop {
    // 컨텐츠 상단
    .cont-top {
        .title-wrap {
            // height: 260px;
            background-size: cover;
            .title {
                font-size: 40px;
            }
            .text {
                font-size: 20px;
            }
        }
        &.type-bg {
            height: 230px;
            background-size: cover;
            .title-wrap {
                position: relative;
                width: 100%;
                height: calc(100% - 50px);
                margin-top: 0;
                text-align: center;
                .title {
                    position: absolute;
                    top: calc(50% - 25px);
                    left: 0;
                    right: 0;
                    transform: translateY(-50%);
                    font-size: 36px;
                }
                .text {
                    display: none;
                }
            }
        }
    }

    // 만족도 조사
    .survey-wrap {
        .survey-top {
            padding: 20px;
            &::before {
                width: 50px;
                height: 50px;
                background-size: 24px auto;
            }
            .text-wrap {
                p {
                    font-size: 18px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
        .survey-btm {
            flex-wrap: wrap;
            gap: 16px 20px;
            padding: 20px;
            .grade-wrap {
                gap: 20px;
                .label {
                    font-size: 15px;
                }
            }
            .comment-wrap {
                .input-wrap {
                    gap: 10px;
                    label input {
                        min-width: 400px;
                    }
                }
            }
        }
    }

    // 알림 소식
    .board-wrap {
        .board-list {
            .list-wrap {
                margin-top: 40px;
            }
            // 게시판 테이블 UI
            .table-wrap {
                // 라인형
                &.type-line {
                    .list-row {
                        &:not(.table-title):hover {
                            background-color: #fff;
                        }
                        &.table-title > div {
                            font-size: 16px;
                        }
                        & > div {
                            font-size: 16px;
                        }
                        .date {
                            width: 150px;
                        }
                        .views {
                            width: 100px;
                        }
                    }
                }
            }
        }
        .board-view {
            .view-top {
                .tit {
                    padding: 20px 0;
                }
                .info-area {
                    padding: 16px;
                }
            }
        }
    }
}

@include tablet {
    .sub-content {
        padding: 0 0 120px;
    }

    // 컨텐츠 하단
    .cont-btm {
        padding: 30px 0 0;
    }

    //모바일 탭
    .tab-wrap {
        margin-bottom: 40px;
        .tab {
            font-size: 16px;
            height: 50px;
            &.on::after {
                right: 14px;
                width: 20px;
                height: 20px;
            }
        }
    }

    // 게시판 테이블 UI
    .table-wrap {
        // 라인형
        &.type-line {
            .list-row {
                &:not(.table-title) {
                    &:has(.new-ico) {
                        .title > a {
                            max-width: calc(90% - 10px);
                        }
                        .i-lock {
                            & + a {
                                max-width: calc(90% - 40px);
                            }
                        }
                    }
                    .i-lock {
                        width: 22px;
                        height: 22px;
                        margin-right: 4px;
                        & + a {
                            max-width: calc(90% - 26px);
                        }
                    }
                    .status span {
                        max-width: 100px;
                        font-size: 15px;
                    }
                }
                .no {
                    width: 60px;
                }
                .category {
                    width: 110px;
                }
                .period {
                    width: 240px;
                }
                .survey {
                    width: 130px;
                }
                .company,
                .method {
                    width: 130px;
                    & + .date {
                        width: 130px;
                    }
                }
            }
        }
        // 뉴스레터
        &.type-news {
            border-top: 1px solid #707070;
            // 보도자료
            &.type-small {
                .list-row {
                    gap: 30px;
                    .item-img {
                        width: 340px;
                    }
                    .text-wrap {
                        max-width: calc(100% - 390px);
                    }
                }
            }
            .list-row {
                gap: 30px;
                padding: 30px 0;
                .item-img {
                    width: 240px;
                    .download-wrap {
                        .pdf-down {
                            font-size: 18px;
                            &::after {
                                width: 24px;
                                height: 24px;
                                background-size: 24px auto;
                            }
                        }
                    }
                }
                .text-wrap {
                    max-width: calc(100% - 270px);
                    .text-area .text-box {
                        .tit {
                            a {
                                font-size: 24px;
                            }
                        }
                        .text {
                            margin-top: 24px;
                            font-size: 16px;
                        }
                    }
                    .info-area span {
                        font-size: 15px;
                    }
                }
            }
        }
        // 갤러리형
        &.type-gallery {
            gap: 40px 20px;
            .list-row {
                .item-img {
                    &:hover {
                        box-shadow: none;
                        .imgbox img {
                            transform: scale(1);
                        }
                    }
                }
                .text-wrap .text-area .text-box .tit {
                    font-size: 18px;
                }
            }
        }
    }

    //KIND 소개
    .charter-wrap {
        padding: 30px;
        .cont-wrap {
            border: 10px solid #f4f6fa;
            outline: 10px solid #fff;
            .title-wrap {
                .title {
                    span {
                        &:first-child {
                            font-size: 26px;
                        }
                        &:last-child {
                            font-size: 36px;
                        }
                    }
                }

                &::before,
                &::after {
                    width: 36px;
                    height: 85px;
                }
            }
            .text-wrap {
                margin-top: 30px;
                p {
                    font-size: 20px;
                }
            }
            .charter-list {
                margin-top: 40px;
                li {
                    strong {
                        font-size: 24px;
                    }
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
        .sub-txt-wrap {
            padding-top: 30px;
            p {
                font-size: 18px;
            }
        }
    }
}

@include mobile {
    //모바일 탭
    .tab-wrap {
        position: relative;
        .tab-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            padding: 0 15px;
            border: 1px solid #dddddd;
            border-top: 2px solid $main-color;
            background-color: #fff;
            @include font(600, 16px, $main-color);
            text-align: left;
            line-height: 48px;
            &::after {
                content: "";
                width: 18px;
                height: 18px;
                background: url("../images/common/select_arrow.svg") no-repeat center;
                transition: 0.3s;
            }
            &.on {
                &::after {
                    transform: rotate(180deg);
                }
                & + .tab-inner {
                    opacity: 1;
                }
            }
        }
        .tab-inner {
            position: absolute;
            top: calc(100% - 1px);
            left: 0;
            right: 0;
            z-index: 100;
            // height: 0;
            // padding: 0;
            border: 1px solid #dddddd;
            overflow: hidden;
            opacity: 0;
            transition: all 0.35s;
            .select-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .tab {
                position: relative;
                flex: 1;
                width: 100%;
                height: 50px;
                line-height: 48px;
                background-color: rgba(#f8f8f8, 0.8);
                padding: 0 15px;
                text-align: center;
                font-weight: 600;
                font-size: 16px;
                color: #333;
                text-align: left;
                &:not(:last-of-type) {
                    border-bottom: 1px solid #ddd;
                }
                span {
                    font-size: 20px;
                }
            }
        }
    }

    // 컨텐츠 상단
    .cont-top {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        &.type-bg {
            position: relative;
            margin-bottom: 100px;
            .m-title {
                @include font(600, 20px, #161b4b);
            }
            .title-wrap {
                height: 100%;
                .title {
                    top: 50%;
                }
            }
            .sub-nav {
                position: absolute;
                bottom: 0;
                transform: translateY(100%);
                width: calc(100% - 32px);
                height: auto;
                padding: 26px 0 20px;
                .w-set {
                    align-items: flex-start;
                    flex-direction: column;
                }
                .location-wrap {
                    margin-top: 10px;
                    .location {
                        color: #666;
                        &.on {
                            font-weight: 600;
                            color: #222;
                        }
                        &.home {
                            background-image: url("../images/common/location_home.svg");
                        }
                    }
                }
                .function-wrap {
                    top: 26px;
                    right: 0;
                    .func {
                        &.share {
                            .btn-share {
                                background-image: url("../images/common/func_share.svg");
                            }
                        }
                    }
                }
            }
        }
        .title-wrap {
            margin-top: 20px;
            .title {
                font-weight: 600;
                font-size: 26px;
            }
        }
        .sub-nav {
            order: 1;
            padding: 10px 0;
            border-bottom: 1px solid $border-color;
            .w-set {
                padding: 0;
            }
            .home {
                pointer-events: none;
            }
            .function-wrap {
                position: absolute;
                top: 20px;
                right: 16px;
                .share-wrap {
                    top: 40px;
                    right: 0;
                    width: 277px;
                    padding: 20px 12px;
                    .btn-close {
                        background-size: 14px auto;
                    }
                    .share-list {
                        gap: 10px;
                        li {
                            a {
                                gap: 4px;
                                &::before {
                                    width: 40px;
                                    height: 40px;
                                    background-size: 40px auto;
                                }
                                span {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .search-wrap {
            order: 1;
            margin-top: 30px;
            .search-box {
                flex-direction: column;
                gap: 8px;
                max-width: 100%;
                padding: 16px;
                background-color: $background-color;
                border-radius: 0;
                border: 1px solid $border-color;
            }
            .select-area {
                width: 100%;
                &::after {
                    display: none;
                }
                select {
                    height: 36px;
                    padding: 0 24px 0 10px;
                    border-radius: 0;
                    border: 1px solid $border-color;
                    background-position: right 10px center;
                    background-size: 12px auto;
                    background-color: #fff;
                    line-height: 34px;
                    font-size: 14px;
                }
            }
            .search-area {
                .input-wrap {
                    input {
                        width: calc(100% - 22px);
                        height: 36px;
                        padding: 0 10px;
                        border-radius: 0;
                        border: 1px solid $border-color;
                        line-height: 34px;
                        font-size: 14px;
                    }
                }
                .btn-search {
                    position: static;
                    transform: translateY(0);
                    width: 100%;
                    height: 36px;
                    margin-top: 8px;
                    background: #333333;
                    text-align: center;
                    font-size: 15px;
                    color: #fff;
                }
            }
        }
    }

    // 통합검색
    .result-wrap {
        padding-top: 10px;
        .result-list {
            padding-top: 30px;
            .result-txt {
                margin-bottom: 60px;
                font-size: 18px;
                text-align: center;
            }
            .list-btm {
                .result-box {
                    padding: 20px 0 0;
                    border-radius: 0;
                    border: 0;
                    &:not(:last-child) {
                        margin-bottom: 50px;
                    }
                    .result-top {
                        .result-tit {
                            font-size: 20px;
                        }
                    }
                    .result-btm {
                        padding-top: 30px;
                        .result-item {
                            &:not(:last-child) {
                                margin-bottom: 30px;
                            }
                            .item-tit {
                                margin-bottom: 10px;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    // 만족도 조사
    .survey-wrap {
        .survey-top {
            gap: 10px;
            &::before {
                width: 40px;
                height: 40px;
                background-size: 20px auto;
            }
        }
        .survey-btm {
            flex-wrap: wrap;
            gap: 16px 20px;
            .grade-wrap {
                gap: 16px;
                width: 100%;
                .label {
                    gap: 10px;
                    .i-emotion {
                        display: none;
                    }
                }
            }
            .comment-wrap {
                .input-wrap {
                    label input {
                        min-width: auto;
                    }
                }
            }
        }
    }

    // 게시판 테이블 UI
    .table-wrap {
        // 라인형
        &.type-line {
            border-top: 1px solid #707070;
            .list-row {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
                height: auto;
                padding: 20px 0;
                &.table-title {
                    display: none;
                }
                &:not(.is-notice) .title:has(.new-ico) {
                    max-width: calc(100% - 9px);
                    a {
                        max-width: calc(100% - 30px);
                    }
                }
                &:not(.table-title) {
                    &:has(.new-ico) {
                        .title > a {
                            max-width: calc(100% - 30px);
                        }
                        .i-lock {
                            & + a {
                                max-width: calc(100% - 54px);
                            }
                        }
                    }
                    & > div:not(.no, .title, .category) {
                        color: #666;
                    }
                    .title {
                        order: 1;
                        width: 100%;
                        height: auto;
                        max-width: calc(100% - 20px);
                        padding: 0;
                        line-height: 1.2;
                        font-size: 16px;
                        > a,
                        > p {
                            max-width: 100%;
                        }
                    }
                    .i-lock {
                        width: 22px;
                        height: 22px;
                        margin-right: 2px;
                        background-size: 22px auto;
                        & + a {
                            max-width: calc(100% - 36px);
                        }
                    }
                    .category {
                        font-weight: 500;
                    }
                    .status {
                        width: 90px;
                        span {
                            width: 100%;
                            height: 28px;
                            font-size: 15px;
                        }
                    }
                }
                &.is-notice {
                    .title {
                        max-width: calc(100% - 9px);
                        a {
                            max-width: calc(100% - 30px);
                            padding-left: 26px;
                            background: url("../images/common/ico_notice.svg") no-repeat left center;
                            background-size: 16px auto;
                        }
                    }
                    .status {
                        display: none;
                    }
                }
                & > div {
                    display: block;
                    font-size: 14px;
                    &:not(.no, .title, .status, .attachment) {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        &::after {
                            content: "";
                            width: 1px;
                            height: 10px;
                            background-color: #ddd;
                        }
                        &:last-of-type::after {
                            display: none;
                        }
                    }
                }
                .no {
                    display: none;
                }
                .date,
                .period,
                .survey,
                .views,
                .category,
                .company,
                .method {
                    order: 2;
                    width: auto;
                }
                .survey {
                    width: 100%;
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
        // 뉴스레터
        &.type-news {
            // 보도자료
            &.type-small {
                .list-row {
                    gap: 25px;
                    .item-img {
                        width: 280px;
                    }
                    .text-wrap {
                        max-width: calc(100% - 305px);
                    }
                }
            }
            .list-row {
                gap: 25px;
                padding: 20px 0;
                .item-img {
                    width: 200px;
                    .imgbox {
                        background-size: 160px auto;
                    }
                    .download-wrap {
                        height: 44px;
                        .pdf-down {
                            line-height: 44px;
                            &::after {
                                width: 20px;
                                height: 20px;
                                background-size: 20px auto;
                            }
                        }
                    }
                }
                .text-wrap {
                    max-width: calc(100% - 245px);
                    .text-area .text-box {
                        .tit {
                            a {
                                font-weight: 500;
                                font-size: 18px;
                            }
                        }
                        .text {
                            margin-top: 16px;
                            font-size: 16px;
                            line-height: 1.6;
                        }
                    }
                    .info-area span {
                        font-size: 14px;
                    }
                }
            }
        }
        // 갤러리형
        &.type-gallery {
            grid-template-columns: repeat(2, minmax(160px, 400px));
            gap: 40px 16px;
            .list-row {
                .text-wrap {
                    .text-area {
                        margin-top: 25px;
                        .text-box .tit {
                            font-size: 18px;
                        }
                    }
                    .info-area {
                        gap: 8px;
                        span {
                            background-size: 20px auto;
                            font-size: 14px;
                            line-height: 20px;
                            &:not(.line) {
                                padding-left: 24px;
                            }
                        }
                    }
                }
            }
        }
    }

    //KIND 소개
    .charter-wrap {
        padding: 10px;
        .cont-wrap {
            padding: 30px 16px 40px;
            border: 0;
            outline: 0;
            .title-wrap {
                gap: 12px;
                .title {
                    span {
                        &:first-child {
                            font-size: 11px;
                        }
                        &:last-child {
                            font-size: 20px;
                        }
                    }
                }
                &::before,
                &::after {
                    width: 22px;
                    height: 50px;
                    background-size: 100% auto;
                }
            }
            .text-wrap {
                margin-top: 24px;
                text-align: left;
                br {
                    display: none;
                }
                p {
                    font-size: 16px;
                }
            }
            .charter-list {
                margin-top: 16px;
                li {
                    align-items: flex-start;
                    strong {
                        font-size: 20px;
                    }
                    span {
                        font-size: 15px;
                    }
                }
            }
        }
        .sub-txt-wrap {
            padding-top: 15px;
            p {
                font-size: 15px;
            }
        }
    }

    // 알림 소식
    .board-wrap {
        .board-list {
            .list-wrap {
                margin-top: 20px;
                .list-top {
                    margin-bottom: 10px;
                    .total-count {
                        font-size: 15px;
                        span {
                            font-size: 15px;
                        }
                    }
                }
            }
            // 게시판 테이블 UI
            .table-wrap {
                // 라인형
                &.type-line {
                    border-top: 1px solid #707070;
                    .list-row {
                        display: flex;
                        flex-wrap: wrap;
                        height: auto;
                        padding: 20px 0;
                        &.table-title {
                            display: none;
                        }
                        &:not(.is-notice) .title:has(.new-ico) {
                            a {
                                max-width: calc(100% - 30px);
                            }
                        }
                        &:not(.table-title) {
                            .title {
                                width: 100%;
                                a {
                                    max-width: calc(100% - 20px);
                                }
                            }
                        }
                        &.is-notice {
                            .title {
                                a {
                                    max-width: calc(100% - 30px);
                                    padding-left: 26px;
                                    background: url("../images/common/ico_notice.svg") no-repeat left center;
                                    background-size: 16px auto;
                                }
                            }
                        }
                        & > div {
                            display: block;
                        }
                        .no {
                            display: none;
                        }
                        .title {
                            width: 100%;
                            height: auto;
                            padding-left: 0;
                            line-height: 1.2;
                        }
                        .date,
                        .views {
                            width: auto;
                            margin-top: 5px;
                            font-size: 14px;
                            color: #666;
                        }
                        .date {
                            margin-right: 16px;
                        }
                    }
                }
            }
        }

        .board-view {
            .btn-wrap {
                .btn {
                    width: 150px;
                    height: 50px;
                    line-height: 46px;
                    font-size: 18px;
                }
            }
            .view-top {
                .tit {
                    font-size: 18px;
                }
                .info-area {
                    justify-content: flex-start;
                    padding: 16px 0;
                }
            }
            .view-cont {
                padding: 20px 0;
            }
            .view-attachment {
                .attachment {
                    a {
                        font-size: 15px;
                        &::before,
                        &::after {
                            width: 18px;
                            height: 18px;
                            background-size: 18px auto;
                        }
                    }
                }
            }
        }
    }
}

@include minMobile {
    // 게시판 테이블 UI
    .table-wrap {
        // 갤러리형
        &.type-gallery {
            display: flex;
            flex-direction: column;
            border-top: 1px solid #707070;
            .list-row:first-child {
                padding-top: 40px;
            }
        }
        // 뉴스레터
        &.type-news {
            // 보도자료
            &.type-small {
                .list-row {
                    .item-img {
                        width: 100%;
                    }
                    .text-wrap {
                        max-width: 100%;
                    }
                }
            }
            .list-row {
                flex-direction: column;
                padding: 40px 0 0;
                border-bottom: 0;
                .item-img {
                    width: 220px;
                    margin: 0 auto;
                }
                .text-wrap {
                    max-width: 100%;
                    .info-area {
                        margin-top: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    // 만족도 조사
    .survey-wrap {
        .survey-btm {
            .grade-wrap {
                .radiobox {
                    min-width: 100px;
                }
            }
        }
    }
}
