<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<main layout:fragment="content">
    <div class="main-content">
        <div class="main-visual">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <th:block th:if="${main == null or main.size() eq 0}">
                        <div class="swiper-slide">
                            <a href="#">
                                <div class="img">
                                    <!-- pc용 이미지 -->
                                    <img src="../images/dummy2/a_02.png" alt="" class="">
                                    <!-- 모바일용 이미지 -->
                                    <img src="../images/dummy2/main_visual_slide1_m.png" alt="" class="hide-pc">
                                </div>
                                <div class="txt-box">
                                    <p class="txt">고객만족을 위한 노력<br><strong
                                            style="font-weight: 700;color: #80DFDB;">소통과 성공을 위한 파트너</strong>로<br>새롭게
                                        함께 합니다.</p>
                                </div>
                            </a>
                        </div>
                    </th:block>
                    <th:block th:unless="${main == null or main.size() eq 0}">
                        <div class="swiper-slide" th:each="main : ${main}">
                            <a th:href="${main.linkUrl}">
                                <div class="img">
                                    <!-- pc용 이미지 -->
                                    <img th:src="@{/api/v1/attachment/{uuid}(uuid = ${main.pcImage.uuid})}" alt="" class="">
                                    <!-- 모바일용 이미지 -->
                                    <img th:src="@{/api/v1/attachment/{uuid}(uuid = ${main.mobileImage.uuid})}" alt="" class="hide-pc">
                                </div>
                                <div class="txt-box">
                                    <p class="txt">고객만족을 위한 노력<br><strong
                                            style="font-weight: 700;color: #80DFDB;">소통과 성공을 위한 파트너</strong>로<br>새롭게
                                        함께 합니다.</p>
                                </div>
                            </a>
                        </div>
                    </th:block>
                    <!-- <div class="swiper-slide">
                        <a href="#">
                            <div class="img">
                                <img src="../images/dummy2/a_03.png" alt="" class="">
                                <img src="../images/dummy2/main_visual_slide1_m.png" alt="" class="hide-pc">
                            </div>
                            <div class="txt-box">
                                <p class="txt">웹비즈크리에이티브가<br><strong
                                        style="font-weight: 700;color: #80DFDB;">한국중소벤처기업유통원</strong>으로<br>새롭게
                                    출범합니다.</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="img">
                                <img src="../images/dummy2/a_04.png" alt="" class="">
                                <img src="../images/dummy2/main_visual_slide1_m.png" alt="" class="hide-pc">
                            </div>
                            <div class="txt-box">
                                <p class="txt">웹비즈크리에이티브가<br><strong
                                        style="font-weight: 700;color: #80DFDB;">한국중소벤처기업유통원</strong>으로<br>새롭게
                                    출범합니다.</p>
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="w-set">
                <div class="swiper-control">
                    <div class="pagination"></div>
                </div>
            </div>
            <div class="scroll">Scroll Down</div>
        </div>
        <div class="main-section promotion-section">
            <div class="w-set">
                <div class="promotion-wrap">
                    <div class="tit-wrap">
                        <h3 class="tit-en">WCRM</h3>
                        <div class="tit-area">
                            <div class="tit-left">
                                <h3 class="tit">
                                    <strong>웹비즈</strong>홍보배너
                                </h3>
                            </div>
                            <div class="line"></div>
                            <div class="tit-right">
                                <div class="swiper-navi">
                                    <button type="button" class="swiper-button prev">이전</button>
                                    <button type="button" class="pause">정지</button>
                                    <button type="button" class="play">재생</button>
                                    <button type="button" class="swiper-button next">다음</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="promotion-swiper">
                        <div class="swiper promotion01">
                            <div class="swiper-wrapper" >
                                <div class="swiper-slide" th:each="promotion1 : ${promotion1}">
                                    <a th:href="${promotion1.linkUrl}" class="img">
                                        <img th:src="@{/api/v1/attachment/{uuid}(uuid = ${promotion1.pcImage.uuid})}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper promotion02">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" th:each="promotion2 : ${promotion2}">
                                    <a th:href="${promotion2.linkUrl}" class="img">
                                        <img th:src="@{/api/v1/attachment/{uuid}(uuid = ${promotion2.pcImage.uuid})}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-wrap">
                    <ul class="menu-list">
                        <li>
                            <a href="/survey" class="menu01">
                                <div class="txt-box">
                                    <p class="txt">설문조사</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/survey" class="menu02">
                                <div class="txt-box">
                                    <p class="txt">만족도조사</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/pages/12" class="menu03">
                                <div class="txt-box">
                                    <p class="txt">FAQ</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/pages/7" class="menu04">
                                <div class="txt-box">
                                    <p class="txt">기관소개</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="menu05">
                                <div class="txt-box">
                                    <p class="txt">문의</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-set">
            <div class="main-section">
                <div class="board-wrap" th:if="${notice != null}">
                    <div class="tit-wrap">
                        <h3 class="tit-en">WCRM</h3>
                        <div class="tit-area">
                            <div class="tit-left">
                                <h3 class="tit">
                                    <strong>웹비즈</strong>알림
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="tab-contents">
                        <div class="board-area">
                            <ul class="board-list">
                                <li th:each="notice : ${notice}">
                                    <a th:href="@{/pages/{menuId}(menuId = ${notice.menuId}, id = ${notice.id}, menuMode = ${T(webbizz.crm.domain.menu.enumset.MenuMode).READ}, q = ${queryString})}" class="board">
                                        <span class="tag" th:text="${notice.boardName}">공지</span>
                                        <p class="tit" th:text="${notice.title}">타이틀</p>
                                        <p class="date" th:text="${#temporals.format(notice.createdAt, 'yyyy. MM. dd')}">2024. 09. 06</p>
                                    </a>
                                </li>
                                <!--<li>
                                    <a href="#" class="board">
                                        <span class="tag">공지</span>
                                        <p class="tit">[모집] 큐텐(위메프·티몬·인터파크·AK몰), 알렛츠 정산지연 피해 기업의 이커머스 플랫폼 진출지원 소상공인,
                                            중소기업 모집</p>
                                        <p class="date">2024. 09. 06</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="board">
                                        <span class="tag type-b">입찰</span>
                                        <p class="tit">행복한백화점 전단·포스터 기획 및 제작 용역</p>
                                        <p class="date">2024. 09. 06</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="board">
                                        <span class="tag type-r">채용</span>
                                        <p class="tit">[공고] 2024년 상반기 중소기업유통 센터 경력직 채용 공고</p>
                                        <p class="date">2024. 09. 06</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="board">
                                        <span class="tag">공지</span>
                                        <p class="tit">[모집] 큐텐(위메프·티몬·인터파크·AK몰), 알렛츠 정산지연 피해 기업의 이커머스 플랫폼 진출지원 소상공인,
                                            중소기업 모집</p>
                                        <p class="date">2024. 09. 06</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="board">
                                        <span class="tag">공지</span>
                                        <p class="tit">[모집] 큐텐(위메프·티몬·인터파크·AK몰), 알렛츠 정산지연 피해 기업의 이커머스 플랫폼 진출지원 소상공인,
                                            중소기업 모집</p>
                                        <p class="date">2024. 09. 06</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="board">
                                        <span class="tag type-b">입찰</span>
                                        <p class="tit">행복한백화점 전단·포스터 기획 및 제작 용역</p>
                                        <p class="date">2024. 09. 06</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="board">
                                        <span class="tag type-r">채용</span>
                                        <p class="tit">[공고] 2024년 상반기 중소기업유통 센터 경력직 채용 공고</p>
                                        <p class="date">2024. 09. 06</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="board">
                                        <span class="tag">공지</span>
                                        <p class="tit">[모집] 큐텐(위메프·티몬·인터파크·AK몰), 알렛츠 정산지연 피해 기업의 이커머스 플랫폼 진출지원 소상공인,
                                            중소기업 모집</p>
                                        <p class="date">2024. 09. 06</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="board">
                                        <span class="tag">공지</span>
                                        <p class="tit">[모집] 큐텐(위메프·티몬·인터파크·AK몰), 알렛츠 정산지연 피해 기업의 이커머스 플랫폼 진출지원 소상공인,
                                            중소기업 모집</p>
                                        <p class="date">2024. 09. 06</p>
                                    </a>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-section">
                <div class="news-wrap">
                    <div class="tit-wrap" th:if="${news != null}">
                        <h3 class="tit-en">WCRM</h3>
                        <div class="tit-area">
                            <div class="tit-left">
                                <h3 class="tit">
                                    <strong>웹비즈</strong>뉴스
                                </h3>
                            </div>
  <!--                          <div class="tit-right">
                                <a href="#" class="btn-more">더보기</a>
                            </div>-->
                        </div>
                    </div>
                    <div class="news-area"  th:if="${news != null}">
                        <th:block th:each="news : ${news}">
                            <a th:href="@{/pages/{menuId}(menuId = ${news.menuId}, id = ${news.id}, menuMode = ${T(webbizz.crm.domain.menu.enumset.MenuMode).READ}, q = ${queryString})}" class="news">
                                <div class="img">
                                    <img th:src="@{/api/v1/attachment/{uuid}(uuid = ${news.images[0].uuid})}" alt="">
                                </div>
                                <span class="tag" th:text="${news.boardName}">뉴스</span>
                                <p class="tit" th:text="${news.title}">웹비즈크리에이티브, 민족 명절 추석 맞아 관내 소 외된 이웃에게 기부금 전달</p>
                                <p class="date" th:text="${#temporals.format(news.createdAt, 'yyyy. MM. dd')}">24.08.28</p>
                            </a>
                        </th:block>
                        <!--<a href="#" class="news">
                            <div class="img">
                                <img src="../images/dummy2/news2.png" alt="">
                            </div>
                            <span class="tag">뉴스</span>
                            <p class="tit">웹비즈크리에이티브, 민족 명절 추석 맞아 관내 소 외된 이웃에게 기부금 전달</p>
                            <p class="date">24.08.28</p>
                        </a>
                        <a href="#" class="news">
                            <div class="img">
                                <img src="../images/dummy2/news3.png" alt="">
                            </div>
                            <span class="tag">뉴스</span>
                            <p class="tit">웹비즈크리에이티브, 민족 명절 추석 맞아 관내 소 외된 이웃에게 기부금 전달</p>
                            <p class="date">24.08.28</p>
                        </a>
                        <a href="#" class="news">
                            <div class="img">
                                <img src="../images/dummy2/news4.png" alt="">
                            </div>
                            <span class="tag">뉴스</span>
                            <p class="tit">웹비즈크리에이티브, 민족 명절 추석 맞아 관내 소 외된 이웃에게 기부금 전달</p>
                            <p class="date">24.08.28</p>
                        </a>-->
                    </div>
                    <div class="sns-area">
                        <div class="sns-block">
                            <div class="tit-area">
                                <h4 class="tit">유튜브</h4>
                                <div class="tit-right">
                                    <a href="#" class="sns-youtube">유튜브</a>
                                </div>
                            </div>
                            <a href="#" class="video-wrap">
                                <i class="i-youtube"></i>
                                <img src="../images/dummy2/main_youtube.png" alt="">
                            </a>
                        </div>
                        <div class="sns-block">
                            <div class="tit-area">
                                <h4 class="tit">블로그&인스타그램</h4>
                                <div class="tit-right">
                                    <a href="#" class="sns-blog">유튜브</a>
                                    <a href="#" class="sns-instagram">인스타그램</a>
                                </div>
                            </div>
                            <ul class="post-list">
                                <li>
                                    <a href="#" class="post">
                                        <div class="img">
                                            <img src="../images/dummy2/sns1.png" alt="">
                                        </div>
                                        <span class="tag">Blog</span>
                                        <p class="tit">웹비즈크리에이티브 뜯어보기 - 공공데이터 를 알아봅시다 1편</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="post">
                                        <div class="img">
                                            <img src="../images/dummy2/sns2.png" alt="">
                                        </div>
                                        <span class="tag type-i">Instagram</span>
                                        <p class="tit">웹비즈크리에이티브 뜯어보기 - 공공데이터 를 알아봅시다 1편</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="mainPopupBg"></div>
    <div id="mainPopup">
        <div class="mainPopup-wrap">
            <div class="swiper-navi">
                <button type="button" class="swiper-button prev">이전</button>
                <button type="button" class="swiper-button next">다음</button>
            </div>
            <div class="swiper-count hide-pc"></div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="popup-item">
                            <img src="../images/dummy/main_popup.png" alt="" class="hide-m">
                            <img src="../images/dummy/main_popup.png" alt="" class="hide-pc">
                        </a>
                    </div>
                </div>
            </div>
            <div class="mainPop-menu">
                <div class="checkbox">
                    <label for="mpCloseDay">
                        <input type="checkbox" id="mpCloseDay">
                        <div class="label">오늘 하루 열지 않기</div>
                    </label>
                </div>
                <span class="line hide-pc"></span>
                <button type="button" class="mp-close">닫기</button>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            // 메인 팝업
            let handleStorage = {
                // 스토리지에 데이터 쓰기(이름, 만료일)
                setStorage: function (name, exp) {
                    // 만료 시간 구하기(exp를 ms단위로 변경)
                    let date = new Date();
                    date = date.setTime(date.getTime() + exp * 24 * 60 * 60 * 1000);

                    // 로컬 스토리지에 저장하기
                    // (값을 따로 저장하지 않고 만료 시간을 저장)
                    localStorage.setItem(name, date)
                },
                // 스토리지 읽어오기
                getStorage: function (name) {
                    let now = new Date();
                    now = now.setTime(now.getTime());
                    // 현재 시각과 스토리지에 저장된 시각을 각각 비교하여
                    // 시간이 남아 있으면 true, 아니면 false 리턴
                    return parseInt(localStorage.getItem(name)) > now
                }
            };

            let popupSlides = document.querySelectorAll('#mainPopup .swiper .swiper-slide');

            if (!handleStorage.getStorage('popupShowTime')) {
                // Display the popup
                document.querySelector('#mainPopupBg').style.display = '';
                document.querySelector('#mainPopup').style.display = '';
                document.body.style.overflow = 'hidden';

                const mainPopSwiper = new Swiper('#mainPopup .swiper', {
                    autoplay: true,
                    speed: 800,
                    loop : true,
                    autoHeight : true,
                    pagination: {
                        el: '#mainPopup .swiper-count',
                        type: 'fraction',
                        // 갯수 표현 마크업
                        renderFraction: function (currentClass, totalClass) {
                            return `<span class="${currentClass}"></span>` +
                                `<em>/</em>` +
                                `<span class="${totalClass}"></span>`;
                        }
                    },
                    navigation: {
                        nextEl: '#mainPopup .swiper-navi .next',
                        prevEl: '#mainPopup .swiper-navi .prev',
                    },
                });
                if (popupSlides.length === 1) {
                    document.querySelector('#mainPopup .swiper-count').style.display = 'none';
                    document.querySelector('#mainPopup .swiper-navi').style.display = 'none';
                }

                // 일반 닫기 이벤트
                let checkbox = document.getElementById("mpCloseDay");
                document.querySelector('.mp-close').addEventListener('click', () => {
                    document.querySelector('#mainPopupBg').remove();
                    document.querySelector('#mainPopup').remove();
                    document.body.style.overflow = 'initial';

                    // 그만보기 체크
                    if (window.innerWidth > 768 && checkbox.checked) {
                        // 하루동안 보지 않게 세팅
                        handleStorage.setStorage('popupShowTime', 1);
                    }
                });

                document.querySelector('#mainPopup .checkbox > label').addEventListener('click', () => {
                    // 그만보기 체크
                    if (window.innerWidth < 769) {
                        // 하루동안 보지 않게 세팅
                        handleStorage.setStorage('popupShowTime', 1);
                        document.querySelector('#mainPopupBg').remove();
                        document.querySelector('#mainPopup').remove();
                        document.body.style.overflow = 'initial';
                    }
                });
            }   else {
                document.querySelector('#mainPopupBg').remove();
                document.querySelector('#mainPopup').remove();
                document.body.style.overflow = 'initial';
            }

            //메인배너 슬라이드
            const mainSlide = new Swiper('.main-visual .swiper', {
                slidesPerView: 1,
                loop: true,
                speed: 2500,
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false,
                }
            });

            //홍보배너1 슬라이드
            const promotionSlide01 = new Swiper('.promotion-wrap .swiper.promotion01', {
                slidesPerView: 1,
                loop: true,
                speed: 2500,
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: '.promotion-wrap .swiper-navi .next',
                    prevEl: '.promotion-wrap .swiper-navi .prev',
                },
                on: {
                    init: function () {
                        const swiper = this;
                        const playButton = document.querySelector(".promotion-wrap .play");
                        const pauseButton = document.querySelector(".promotion-wrap .pause");

                        playButton.style.display = "none";

                        pauseButton.addEventListener("click", function () {
                            swiper.autoplay.stop();
                            playButton.style.display = "block";
                            pauseButton.style.display = "none";
                        });

                        playButton.addEventListener("click", function () {
                            swiper.autoplay.start();
                            playButton.style.display = "none";
                            pauseButton.style.display = "block";
                        });
                    },
                },
            });

            //홍보배너2 슬라이드
            const promotionSlide02 = new Swiper('.promotion-wrap .swiper.promotion02', {
                slidesPerView: 1,
                loop: true,
                speed: 2500,
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: '.promotion-wrap .swiper-navi .next',
                    prevEl: '.promotion-wrap .swiper-navi .prev',
                },
                on: {
                    init: function () {
                        const swiper = this;
                        const playButton = document.querySelector(".promotion-wrap .play");
                        const pauseButton = document.querySelector(".promotion-wrap .pause");

                        playButton.style.display = "none";

                        pauseButton.addEventListener("click", function () {
                            swiper.autoplay.stop();
                            playButton.style.display = "block";
                            pauseButton.style.display = "none";
                        });

                        playButton.addEventListener("click", function () {
                            swiper.autoplay.start();
                            playButton.style.display = "none";
                            pauseButton.style.display = "block";
                        });
                    },
                },
            });

        });
    </script>
</main>

</html>
