<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" id="footer" class="">
<!--    <div class="ft-top">-->
<!--        <div class="w-set">-->
<!--            <div class="link-list">-->
<!--                <a href="/privacy"><b>개인정보처리방침</b></a>-->
<!--                <a href="/">이용약관</a>-->
<!--            </div>-->
<!--            <div class="related-site">-->
<!--                <a href="#">유관사이트</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="ft-btm">
        <div class="w-set">
            <div class="left-wrap">
                <div class="info-wrap">
                    <div class="info-row">
                        <p class="info-text">대표자 : 고홍석</p>
                        <p class="info-text">사업자등록번호 : 105-82-17331</p>
                        <p class="info-text">주소 : 03925 서울특별시 마포구 월드컵북로 402 KGIT센터 9층</p>
                    </div>
                    <div class="info-row">
                        <p class="info-text">대표전화 : 02-6393-5659</p>
                        <p class="info-text">팩스 : 02-6393-5665</p>
                        <p class="info-text">이메일 : manager@dmcnf.org</p>
                    </div>
                </div>
                <div class="copyright-wrap">
                    <p>Copyright©2023 by DMC Network Foundation All Rights Reserved.</p>
                </div>
            </div>
            <div class="right-wrap">
                <h1 class="ft-logo">
                    <p class="logo">DMC산학진흥재단</p>
                </h1>
                <ul class="sns-list">
                    <!-- <li>
                         <a href="https://blog.naver.com/dmcnetwork" class="sns-blog" target="_blank">네이버 블로그</a>
                    </li> -->
                    <li>
                        <a href="https://www.dmcbiz.org/" class="sns-dmcbiz">일자리혁신플랫폼</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@dmctv5337" class="sns-youtube" target="_blank">유튜브</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</html>
