<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" id="header" class="main"
        th:with="localeGroupId = ${#locale.language eq 'ko' ? 1 : 2},
                 menuGroupId = ${localeGroupId eq menuPage.menu.groupId ? menuPage.menu.groupId : localeGroupId}">
    <div class="w-set">
        <div class="hd-wrap">
            <h1 class="hd-logo">
                <a href="/" class="logo-link">
                    <span class="is-blind">webbizz</span>
                </a>
            </h1>
            <div class="gnb-wrap">
                <ul class="gnb">
                    <th:block th:with="menuPage = ${menuPage}"
                              th:each="depth1 : ${@menuService.getMenuHierarchy(menuGroupId)}">
                        <li>
                            <a th:href="@{${depth1.link}}"
                               th:classappend="${depth1.getActiveClass(menuPage)}"
                               th:target="${depth1.target}"
                               th:text="${depth1.name}">
                            </a>
                            <div class="sub-gnb-wrap" th:if="${depth1.hasChildren()}">
                                <div class="depth-wrap">
                                    <ul class="depth2" th:each="depth2 : ${depth1.children}">
                                        <li>
                                            <a th:href="@{${depth2.link}}"
                                               th:classappend="${depth2.getActiveClass(menuPage)}"
                                               th:target="${depth2.target}"
                                               th:text="${depth2.name}">
                                            </a>
                                            <ul class="depth3" th:if="${depth2.hasChildren()}">
                                                <li th:each="depth3 : ${depth2.children}">
                                                    <a th:href="@{${depth3.link}}"
                                                       th:classappend="${depth3.getActiveClass(menuPage)}"
                                                       th:target="${depth3.target}">
                                                        <th:block th:text="${depth3.name}" />
                                                        <i class="depth-ico" th:if="${depth3.hasChildren()}"></i>
                                                    </a>
                                                    <ul class="depth4" th:if="${depth3.hasChildren()}">
                                                        <li th:each="depth4 : ${depth3.children}">
                                                            <a th:href="@{${depth4.link}}"
                                                               th:classappend="${depth4.getActiveClass(menuPage)}"
                                                               th:target="${depth4.target}"
                                                               th:text="${depth4.name}">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="sub-gnb-bg"></div>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
            <div class="hd-utils">
                <button type="button" class="btn-search">검색</button>
                <button class="all-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
    <div class="header-bg"></div>
    <div class="hd-search-wrap">
        <div class="hd-search">
            <div class="title-wrap">
                <h2 class="title">통합검색</h2>
                <button type="button" class="search-close">닫기</button>
            </div>
            <div class="search-wrap">
                <form action="/search">
                    <div class="search-box">
                        <div class="search-area">
                            <div class="input-wrap">
                                <label for="">
                                    <input type="text" name="text" placeholder="검색어를 입력해 주세요.">
                                </label>
                                <button type="submit" class="btn-search">검색</button>
                            </div>
                        </div>
                    </div>
<!--                    <div class="popular-wrap">-->
<!--                        <p>인기검색어</p>-->
<!--                        <ul>-->
<!--                            <li><a href="#" class="word"># PPP</a></li>-->
<!--                            <li><a href="#" class="word"># 해외인프라</a></li>-->
<!--                            <li><a href="#" class="word"># 도시개발사업</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </form>
            </div>
        </div>
    </div>
</header>

</html>
