<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>회원 관리 &gt; 활동 회원</title>
</head>

<aside layout:fragment="lnb" th:replace="~{fragments/lnb_member :: lnb}"></aside>
<section layout:fragment="content">
    <div class="level">
        <div class="level-left">
            <!-- 제목 -->
            <h2 class="title is-4">활동 회원</h2>
        </div>
        <div class="level-right">
            <!-- 브레드크럼 -->
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <div>
                            <span class="icon is-small">
                                <i class="fas fa-home" aria-hidden="true"></i>
                            </span>
                            <span>홈</span>
                        </div>
                    </li>
                    <li><div>회원 관리</div></li>
                    <li class="is-active"><div>활동 회원</div></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- 검색 필터 -->
    <form class="box">
        <table class="table is-fullwidth search-table">
            <colgroup>
                <col style="width: 10%;" />
                <col style="width: auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <th>키워드</th>
                    <td>
                        <div class="field is-grouped">
                            <div class="control">
                                <label class="select">
                                    <select name="searchField" th:field="*{condition.searchField}">
                                        <option value="all">전체</option>
                                        <option value="loginId">아이디</option>
                                        <option value="realName">이름</option>
                                        <option value="mobileNumber">휴대폰 번호</option>
                                    </select>
                                </label>
                            </div>
                            <div class="control">
                                <label>
                                    <input type="text" name="searchText" placeholder="검색어" class="input"
                                           th:field="*{condition.searchText}" />
                                </label>
                            </div>
                            <div class="control">
                                <button class="button is-dark">
                                        <span class="icon">
                                            <i class="ri-search-line" aria-hidden="true"></i>
                                        </span>
                                    <span>검색</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>가입일</th>
                    <td>
                        <div class="field has-addons datepicker-range">
                            <div class="control has-icons-left">
                                <label>
                                    <input type="text" name="startDate" placeholder="시작일" class="input"
                                           th:field="*{condition.startDate}" />
                                    <span class="icon is-left">
                                            <i class="fa-regular fa-calendar" aria-hidden="true"></i>
                                        </span>
                                </label>
                            </div>
                            <div class="control">
                                <span class="button is-static">~</span>
                            </div>
                            <div class="control has-icons-left">
                                <label>
                                    <input type="text" name="endDate" placeholder="종료일" class="input"
                                           th:field="*{condition.endDate}" />
                                    <span class="icon is-left">
                                            <i class="fa-regular fa-calendar" aria-hidden="true"></i>
                                        </span>
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <!-- <form class="box fixed-grid">
        <div class="grid">
            <div class="cell is-col-span-2 is-col-span-1-desktop">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <span class="label">키워드</span>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <div class="control">
                                <label class="select">
                                    <select name="searchField" th:field="*{condition.searchField}">
                                        <option value="all">전체</option>
                                        <option value="loginId">아이디</option>
                                        <option value="realName">이름</option>
                                        <option value="mobileNumber">휴대폰 번호</option>
                                    </select>
                                </label>
                            </div>
                            <div class="control is-expanded">
                                <label>
                                    <input type="text" name="searchText" placeholder="검색어" class="input"
                                           th:field="*{condition.searchText}" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell is-col-span-2 is-col-span-1-desktop">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <span class="label">가입일</span>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons datepicker-range">
                            <div class="control has-icons-left">
                                <label>
                                    <input type="text" name="startDate" placeholder="시작일" class="input"
                                           th:field="*{condition.startDate}" />
                                    <span class="icon is-left">
                                        <i class="fa-regular fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </label>
                            </div>
                            <div class="control">
                                <span class="button is-static">~</span>
                            </div>
                            <div class="control has-icons-left">
                                <label>
                                    <input type="text" name="endDate" placeholder="종료일" class="input"
                                           th:field="*{condition.endDate}" />
                                    <span class="icon is-left">
                                        <i class="fa-regular fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell is-col-span-2">
                <div class="buttons is-centered">
                    <button type="submit" class="button is-dark">
                        <span class="icon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        <span>검색</span>
                    </button>
                </div>
            </div>
        </div>
    </form> -->

    <!-- 검색 결과 -->
    <div class="box">
        <!-- 요약 정보 및 버튼 -->
        <nav class="level is-flex-direction-row">
            <div class="level-left">
                <div class="level-item">
                    <p class="subtitle is-6">총 <strong class="has-text-danger" th:text="${#numbers.formatInteger(pageVars.totalElements, 1, 'COMMA')}">123</strong> 건</p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a class="button is-success" id="btnExcelDownload">
                        <span class="icon">
                            <i class="fa fa-file-excel" aria-hidden="true"></i>
                        </span>
                        <span>엑셀 다운로드</span>
                    </a>
                </div>
            </div>
        </nav>

        <!-- 테이블 -->
        <div class="table-container">
            <table class="table is-bordered is-striped is-hoverable is-fullwidth is-fixed">
                <caption>검색 결과</caption>
                <colgroup>
                    <col style="width: 70px" />
                    <col style="width: 150px" />
                    <col style="width: 150px" />
                    <col style="width: 300px" />
                    <col style="width: 150px" />
                    <col style="width: 120px" />
                    <col style="width: 200px" />
                </colgroup>
                <thead class="has-background-dark-soft">
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">아이디</th>
                    <th scope="col">이름</th>
                    <th scope="col">이메일</th>
                    <th scope="col">휴대폰 번호</th>
                    <th scope="col">가입 일시</th>
                    <th scope="col">최근 방문 일시</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${pageVars.isEmpty()}">
                    <td colspan="7" class="has-text-centered">검색 결과가 없습니다.</td>
                </tr>
                <tr th:each="item : ${pageVars}">
                    <td class="has-text-right" th:text="${pageVars.totalElements - pageVars.number * pageVars.size - itemStat.index}">1</td>
                    <td>
                        <a th:href="@{/member/active/{id}(id = ${item.id}, q = ${queryString})}" th:text="${item.loginId}">sonny07</a>
                    </td>
                    <td class="is-ellipsis" th:text="${item.realName}">홍길동</td>
                    <td class="is-ellipsis" th:text="${item.email}">sazita@daum.net</td>
                    <td th:text="${item.mobileNumber}" th:data-telephone="${item.mobileNumber}">01012345678</td>
                    <td class="has-text-centered" th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd')}">yyyy-MM-dd</td>
                    <td class="has-text-centered">
                        <th:block th:if="${item.lastLoginAt ne null}"
                                  th:text="${#temporals.format(item.lastLoginAt, 'yyyy-MM-dd HH:mm')}"></th:block>
                        <th:block th:unless="${item.lastLoginAt ne null}">-</th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 페이지네이션 -->
        <nav th:replace="~{fragments/pagination :: pagination (${pageVars})}"></nav>
    </div>
</section>

<script layout:fragment="javascript" th:inline="javascript">
    document.getElementById('btnExcelDownload').addEventListener('click', () => {
        fetch(`/api/v1/member/active/excel-download${location.search}`)
            .then(handleExcelExport)
            .catch(handleFetchError);
    });
</script>

</html>
