<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>운영 &gt; 운영자 관리 &gt; 등록</title>
</head>

<aside layout:fragment="lnb" th:replace="~{fragments/lnb_management :: lnb}"></aside>
<section layout:fragment="content">
    <div class="level">
        <div class="level-left">
            <!-- 제목 -->
            <h2 class="title is-4">운영자 등록</h2>
        </div>
        <div class="level-right">
            <!-- 브레드크럼 -->
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <div>
                            <span class="icon is-small">
                                <i class="fas fa-home" aria-hidden="true"></i>
                            </span>
                            <span>홈</span>
                        </div>
                    </li>
                    <li>
                        <div>운영</div>
                    </li>
                    <li>
                        <div>운영자 관리</div>
                    </li>
                    <li class="is-active">
                        <div>등록</div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- 검색 결과 -->
    <div class="card">
        <div class="card-header">
            <p class="card-header-title icon-text">
                <span class="icon">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                </span>
                <span>운영자 정보</span>
            </p>
        </div>
        <div class="card-content">
            <form x-data="memberAdminComponent" @submit.prevent="submit()">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="loginId">
                            <span class="is-required">아이디</span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left"
                                 x-ref="loginIdControl"
                                 x-bind:class="{ 'is-loading': loginIdMessage !== undefined }">
                                <input type="text" name="loginId" id="loginId" placeholder="아이디" class="input" required
                                       x-ref="loginId"
                                       x-model.debounce="memberAdminData.loginId" />
                                <span class="icon is-left">
                                    <i class="fa fa-id-badge" aria-hidden="true"></i>
                                </span>
                            </div>
                            <p class="help is-danger" x-show="loginIdMessage !== undefined" x-text="loginIdMessage" x-cloak></p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="password">
                            <span class="is-required">비밀번호</span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded has-icons-left">
                                <input type="password" name="password" id="password" autocomplete="password" placeholder="비밀번호" class="input" required
                                       x-ref="password"
                                       x-model="memberAdminData.password" />
                                <span class="icon is-left">
                                    <i class="fas fa-key" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="passwordConfirm">
                            <span class="is-required">비밀번호 확인</span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded has-icons-left">
                                <input type="password" name="passwordConfirm" id="passwordConfirm" autocomplete="password" placeholder="비밀번호 확인" class="input" required
                                       x-ref="passwordConfirm"
                                       x-model="memberAdminData.passwordConfirm" />
                                <span class="icon is-left">
                                    <i class="fas fa-key" aria-hidden="true"></i>
                                </span>
                            </div>
                            <p class="help is-danger" x-show="passwordMessage !== undefined" x-text="passwordMessage" x-cloak></p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="realName">
                            <span class="is-required">이름</span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="text" name="realName" id="realName" placeholder="이름" class="input" required
                                       x-ref="realName"
                                       x-model="memberAdminData.realName" />
                                <span class="icon is-left">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="email">
                            <span class="is-required">이메일</span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="email" name="email" id="email" placeholder="이메일" class="input" required
                                       x-ref="email"
                                       x-model="memberAdminData.email" />
                                <span class="icon is-left">
                                    <i class="fa fa-at" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="telephoneNumber">
                            <span class="is-required">연락처</span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="tel" name="telephoneNumber" id="telephoneNumber" placeholder="연락처" class="input" required
                                       data-telephone
                                       x-ref="telephoneNumber"
                                       x-model="memberAdminData.telephoneNumber" />
                                <span class="icon is-left">
                                    <i class="fa fa-mobile-alt" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="allowIpAddresses">로그인 허용 IP</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input type="text" name="allowIpAddresses" id="allowIpAddresses" placeholder="로그인 허용 IP" class="input"
                                       x-ref="allowIpAddresses"
                                       @input="checkIpAddress($event.target.value)"
                                       @keydown="inputIpAddress($event)" />
                                <span class="icon is-left">
                                    <i class="fa-solid fa-location-dot" aria-hidden="true"></i>
                                </span>
                            </div>
                            <p class="help">공백 또는 엔터를 입력하여 여러 개의 IP를 입력할 수 있습니다.</p>
                            <div class="help field is-grouped is-grouped-multiline is-gap-0.5">
                                <template x-for="ip of memberAdminData.allowIpAddresses">
                                    <div class="control">
                                        <div class="tags has-addons">
                                            <span class="tag" x-text="ip">1.2.3.4</span>
                                            <button type="button" class="tag is-delete" @click="deleteIpAddress(ip)"></button>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">
                            <span class="is-required">메뉴 권한</span>
                        </label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="menu">
                                <ul class="menu-list">
                                    <template x-for="depth1 in authorityTree" :key="depth1.id">
                                        <li class="m-2">
                                            <label class="checkbox">
                                                <input type="checkbox" name="authority" data-depth="1"
                                                       :value="depth1.id"
                                                       :checked="memberAdminData.authorityPatternIds.includes(depth1.id)"
                                                       @click="checkAuthorityPatternIds(depth1.id)">
                                                <span x-text="depth1.name"></span>
                                            </label>
                                            <template x-if="depth1.children && depth1.children.length > 0">
                                                <ul class="m-2">
                                                    <template x-for="depth2 in depth1.children" :key="depth2.id">
                                                        <li class="m-1">
                                                            <label class="checkbox">
                                                                <input type="checkbox" name="authority" data-depth="2"
                                                                       :value="depth2.id"
                                                                       :checked="memberAdminData.authorityPatternIds.includes(depth2.id)"
                                                                       @click="checkAuthorityPatternIds(depth2.id)">
                                                                <span x-text="depth2.name"></span>
                                                            </label>
                                                            <template x-if="depth2.children && depth2.children.length > 0">
                                                                <ul class="m-1">
                                                                    <template x-for="depth3 in depth2.children" :key="depth3.id">
                                                                        <li class="m-1">
                                                                            <label class="checkbox">
                                                                                <input type="checkbox" name="authority" data-depth="3"
                                                                                       :value="depth3.id"
                                                                                       :checked="memberAdminData.authorityPatternIds.includes(depth3.id)"
                                                                                       @click="checkAuthorityPatternIds(depth3.id)">
                                                                                <span x-text="depth3.name"></span>
                                                                            </label>
                                                                        </li>
                                                                    </template>
                                                                </ul>
                                                            </template>
                                                        </li>
                                                    </template>
                                                </ul>
                                            </template>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-link" x-ref="submit">
                                    <span class="icon">
                                        <i class="fa fa-save" aria-hidden="true"></i>
                                    </span>
                                    <span>저장</span>
                                </button>
                            </div>
                            <div class="control">
                                <a class="button is-link is-light" href="/management/admin">
                                    <span class="icon">
                                        <i class="fa fa-undo" aria-hidden="true"></i>
                                    </span>
                                    <span>취소</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script layout:fragment="javascript" th:inline="javascript">
    document.addEventListener('alpine:init', () => {
        Alpine.data('memberAdminComponent', () => ({
            memberAdminData: {
                loginId: '',
                password: '',
                passwordConfirm: '',
                realName: '',
                email: '',
                telephoneNumber: '',
                allowIpAddresses: [],
                authorityPatternIds: [],
                status: 'NORMAL',
            },
            loginIdMessage: undefined,
            passwordMessage: undefined,
            authorityData: /*[[ ${authorities} ]]*/ [],
            authorityTree: [],
            authorityIdMap: [],

            init() {
                this.checkLoginId();
                this.checkPassword();
                this.checkRealName();
                this.checkEmail();
                this.checkTelephoneNumber();
                this.initAuthorityVars();

                this.$watch('memberAdminData.loginId', () => this.checkLoginId());
                this.$watch('memberAdminData.password', () => this.checkPassword());
                this.$watch('memberAdminData.passwordConfirm', () => this.checkPassword());
                this.$watch('memberAdminData.realName', () => this.checkRealName());
                this.$watch('memberAdminData.email', () => this.checkEmail());
                this.$watch('memberAdminData.telephoneNumber', () => this.checkTelephoneNumber());
            },
            initAuthorityVars() {
                // 배열 작업을 위해 배열 복사, Proxy 복사되는 것을 방지하기 위해 직접 순회 (1단계까지만 가능)
                const copyData = this.authorityData.map(item => ({ ...item }));

                // 결과 트리 구조를 담을 배열과 부모-자식 관계를 담을 객체 생성
                const tree = [];
                const idMap = [];
                const children = [];

                // 부모-자식 관계를 생성
                copyData.forEach(item => {
                    const { id, parentId = null } = item;

                    idMap[id] = idMap[id] || [];
                    children[id] = children[id] || [];

                    item.children = children[id]; // 자식 노드를 추가

                    if (parentId === null) {
                        tree.push(item);
                    } else {
                        children[parentId] = children[parentId] || [];
                        children[parentId].push(item);
                        idMap[parentId] = idMap[parentId] || [];
                        idMap[parentId].push(item.id);
                    }
                });

                this.authorityTree = tree;
                this.authorityIdMap = idMap;

                // indeterminate 상태 업데이트
                this.$nextTick(() => this.updateAuthorityIndeterminate());
            },

            checkLoginId() {
                if (this.memberAdminData.loginId.trim().length < 1) {
                    this.$refs.loginId.classList.add('is-danger');
                    this.loginIdMessage = undefined;
                    return false;
                }

                this.$refs.loginIdControl.classList.add('is-loading');

                return fetch(`/api/v1/member/check-login-id?loginId=${this.memberAdminData.loginId}`)
                    .then(handleFetchResponse)
                    .then(result => {
                        this.loginIdMessage = result.data;
                        if (result.data === undefined) {
                            this.$refs.loginId.classList.remove('is-danger');
                        } else {
                            this.$refs.loginId.classList.add('is-danger');
                        }
                    })
                    .catch(handleFetchError)
                    .finally(() => {
                        this.$refs.loginIdControl.classList.remove('is-loading');
                    });
            },
            checkPassword() {
                this.$refs.password.classList.remove('is-danger');
                this.$refs.passwordConfirm.classList.remove('is-danger');

                if (this.memberAdminData.password.trim().length < 1) {
                    this.passwordMessage = '비밀번호를 입력해주세요.';
                    this.$refs.password.classList.add('is-danger');
                    this.$refs.passwordConfirm.classList.add('is-danger');
                    return false;
                }
                if (this.memberAdminData.password !== this.memberAdminData.passwordConfirm) {
                    this.passwordMessage = '비밀번호가 일치하지 않습니다.';
                    this.$refs.password.classList.add('is-danger');
                    this.$refs.passwordConfirm.classList.add('is-danger');
                    return false;
                }

                this.passwordMessage = undefined;
                return true;
            },
            checkRealName() {
                if (this.memberAdminData.realName.trim().length < 1) {
                    this.$refs.realName.classList.add('is-danger');
                    return false;
                } else {
                    this.$refs.realName.classList.remove('is-danger');
                    return true;
                }
            },
            checkEmail() {
                if (/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(this.memberAdminData.email) === false) {
                    this.$refs.email.classList.add('is-danger');
                    return false;
                } else {
                    this.$refs.email.classList.remove('is-danger');
                    return true;
                }
            },
            checkTelephoneNumber() {
                const numberArray = Utils.telephoneFormat(this.memberAdminData.telephoneNumber).split('-');
                if (numberArray.length < 3 || numberArray[1].length < 3) {
                    this.$refs.telephoneNumber.classList.add('is-danger');
                    return false;
                } else {
                    this.$refs.telephoneNumber.classList.remove('is-danger');
                    return true;
                }
            },
            checkIpAddress(value) {
                if (value.trim().length < 1) {
                    this.$refs.allowIpAddresses.classList.remove('is-danger');
                    return false;
                }
                if (/^(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\.){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])$/.test(value.trim()) === false) {
                    this.$refs.allowIpAddresses.classList.add('is-danger');
                    return false;
                } else {
                    this.$refs.allowIpAddresses.classList.remove('is-danger');
                    return true;
                }
            },
            inputIpAddress(event) {
                event.target.value = event.target.value.replace(/[^0-9.]/g, '');
                if (event.key !== 'Enter' && event.key !== ' ') return;

                event.preventDefault();

                const inputIp = this.$refs.allowIpAddresses;
                if (inputIp.value.trim().length > 0 && this.checkIpAddress(inputIp.value) === true) {
                    if (this.memberAdminData.allowIpAddresses.includes(inputIp.value) === true) {
                        alert('이미 추가된 IP 입니다.');
                        this.$refs.allowIpAddresses.value = '';
                        return;
                    }

                    this.memberAdminData.allowIpAddresses.push(inputIp.value.trim());
                    this.$refs.allowIpAddresses.value = '';
                }
            },
            deleteIpAddress(ip) {
                this.memberAdminData.allowIpAddresses = this.memberAdminData.allowIpAddresses.filter(item => item !== ip);
            },

            checkAuthorityPatternIds(authorityId) {
                // 현재 권한의 선택 상태 확인
                const isSelected = this.memberAdminData.authorityPatternIds.includes(authorityId);

                // 선택 상태 토글
                if (isSelected) {
                    this.memberAdminData.authorityPatternIds = this.memberAdminData.authorityPatternIds.filter(id => id !== authorityId);
                } else {
                    this.memberAdminData.authorityPatternIds.push(authorityId);
                }

                // '전체 권한' 처리
                if (authorityId === 1 && isSelected) {
                    this.memberAdminData.authorityPatternIds = [];
                } else if (authorityId === 1 && !isSelected) {
                    this.memberAdminData.authorityPatternIds = [1];
                } else if (authorityId !== 1) {
                    this.memberAdminData.authorityPatternIds = this.memberAdminData.authorityPatternIds.filter(id => id !== 1);
                }

                // 자식 권한 처리
                this.updateAuthorityChildren(authorityId, !isSelected);

                // 부모 권한 처리
                this.updateAuthorityParent(authorityId);

                // indeterminate 상태 업데이트
                this.$nextTick(() => this.updateAuthorityIndeterminate());
            },
            updateAuthorityChildren(id, isSelected) {
                const children = this.authorityIdMap[id] || [];
                children.forEach(childId => {
                    const childIndex = this.memberAdminData.authorityPatternIds.indexOf(childId);
                    if (isSelected && childIndex === -1) {
                        this.memberAdminData.authorityPatternIds.push(childId);
                    } else if (!isSelected && childIndex !== -1) {
                        this.memberAdminData.authorityPatternIds.splice(childIndex, 1);
                    }
                    this.updateAuthorityChildren(childId, isSelected);
                });
            },
            updateAuthorityParent(id) {
                const parentId = this.findAuthorityParentId(id);
                if (parentId === null) return;

                const siblings = this.authorityIdMap[parentId] || [];
                const allSiblingsSelected = siblings.every(siblingId =>
                    this.memberAdminData.authorityPatternIds.includes(siblingId)
                );

                const parentIndex = this.memberAdminData.authorityPatternIds.indexOf(parentId);
                if (allSiblingsSelected && parentIndex === -1) {
                    this.memberAdminData.authorityPatternIds.push(parentId);
                } else if (!allSiblingsSelected && parentIndex !== -1) {
                    this.memberAdminData.authorityPatternIds.splice(parentIndex, 1);
                }

                this.updateAuthorityParent(parentId);
            },
            updateAuthorityIndeterminate() {
                let maxDepth = Math.max(
                    ...Array.from(document.querySelectorAll('input[name="authority"]'))
                        .map($checkbox => parseInt($checkbox.dataset.depth) || 0));

                for (let depth = maxDepth - 1; depth > 0; depth--) {
                    document.querySelectorAll(`input[name="authority"][data-depth="${depth}"]`).forEach($checkbox => {
                        const id = parseInt($checkbox.value);
                        const childrenIds = this.authorityData.filter(child => child.parentId === id).map(child => child.id);
                        const someSelected = childrenIds.some(id =>
                            document.querySelector(`input[name="authority"][value="${id}"]`).checked === true ||
                            document.querySelector(`input[name="authority"][value="${id}"]`).indeterminate === true);
                        const allSelected = childrenIds.every(id =>
                            document.querySelector(`input[name="authority"][value="${id}"]`).checked === true);

                        $checkbox.indeterminate = someSelected && !allSelected;
                    });
                }
            },
            findAuthorityParentId(id) {
                for (const [parentId, children] of Object.entries(this.authorityIdMap)) {
                    if (children.includes(id)) {
                        return parseInt(parentId);
                    }
                }
                return null;
            },

            submit() {
                console.log('submit', this.memberAdminData);

                if (this.loginIdMessage !== undefined) {
                    alert('아이디 중복을 확인해주세요.');
                    this.$refs.loginId.focus();
                    return;
                }
                if (this.passwordMessage !== undefined) {
                    alert('비밀번호를 확인해주세요.');
                    this.$refs.password.focus();
                    return;
                }
                if (this.memberAdminData.realName.trim().length < 1) {
                    alert('이름을 입력해주세요.');
                    this.$refs.realName.focus();
                    return;
                }
                if (this.checkTelephoneNumber() === false) {
                    alert('연락처를 확인해주세요.');
                    this.$refs.telephoneNumber.focus();
                    return;
                }
                if (this.checkEmail() === false) {
                    alert('이메일을 확인해주세요.');
                    this.$refs.email.focus();
                    return;
                }
                if (this.memberAdminData.authorityPatternIds.length < 1) {
                    alert('1개 이상의 메뉴 권한을 선택해 주세요.');
                    return;
                }
                if (confirm('정보를 저장하시겠습니까?') === false)
                    return;

                // 입력하지 않은 IP 주소가 있다면 추가
                const inputIp = this.$refs.allowIpAddresses;
                if (this.checkIpAddress(inputIp.value) === true
                    && this.memberAdminData.allowIpAddresses.find(ip => ip === inputIp.value.trim()) === undefined) {
                    this.memberAdminData.allowIpAddresses.push(inputIp.value.trim());
                    inputIp.value = '';
                }

                this.$refs.submit.classList.add('is-loading');

                fetch('/api/v1/member', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        ...this.memberAdminData,
                        telephoneNumber: this.memberAdminData.telephoneNumber.replace(/-/g, '')
                    })
                })
                    .then(handleFetchResponse)
                    .then(() => {
                        location.replace('/management/admin');
                    })
                    .catch(handleFetchError)
                    .finally(() => {
                        this.$refs.submit.classList.remove('is-loading');
                    });
            }
        }));
    });
</script>

</html>
