<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>운영 &gt; [[ ${condition.type.detail} ]] 관리</title>
</head>

<aside layout:fragment="lnb" th:replace="~{fragments/lnb_management :: lnb}"></aside>
<section layout:fragment="content">
    <!-- 브레드크럼 -->
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">홈</a></li>
            <li><a href="/management">운영</a></li>
            <li class="is-active"><a href="#" aria-current="page">[[ ${condition.type.detail} ]] 관리</a></li>
        </ul>
    </nav>

    <!-- 제목 -->
    <h2 class="title is-4">[[ ${condition.type.detail} ]] 관리</h2>

    <!-- 검색 결과 -->
    <div class="box">
        <!-- 요약 정보 및 버튼 -->
        <nav class="level is-flex-direction-row">
            <div class="level-left"></div>
            <div class="level-right">
                <div class="level-item">
                    <a class="button is-info" th:href="@{/management/terms/{termsType}/write(termsType = ${condition.type.code.toLowerCase()})}">
                        <span class="icon">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </span>
                        <span>등록</span>
                    </a>
                </div>
            </div>
        </nav>

        <!-- 테이블 -->
        <div class="table-container">
            <table class="table is-bordered is-striped is-hoverable is-fullwidth is-fixed">
                <caption>검색 결과</caption>
                <colgroup>
                    <col style="width: 70px" />
                    <col style="width: 300px" />
                    <col style="width: 70px" />
                </colgroup>
                <thead class="has-background-dark-soft">
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">등록 일시</th>
                    <th scope="col">활성화</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${listVars.isEmpty()}">
                    <td colspan="3" class="has-text-centered">검색 결과가 없습니다.</td>
                </tr>
                <tr th:each="item : ${listVars}">
                    <td class="has-text-right" th:text="${itemStat.size - itemStat.index}">1</td>
                    <td>
                        <a th:href="@{/management/terms/{termsType}/{id}(termsType = ${item.type.code.toLowerCase()}, id = ${item.id})}"
                           th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm:ss')}">yyyy-MM-dd HH:mm:ss</a>
                    </td>
                    <td class="has-text-centered">
                        <label>
                            <input type="radio" name="id"
                                   th:value="${item.id}"
                                   th:checked="${item.activeYn eq T(webbizz.crm.domain.YN).Y}" />
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<script layout:fragment="javascript" th:inline="javascript">
    document.querySelectorAll('input[name="id"]').forEach($radio => {
        $radio.addEventListener('click', event => {
            const id = event.target.value;

            fetch(`/api/v1/terms/${id}/active`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(handleFetchResponse)
                .then(() => {
                    $notify('활성화 상태가 변경되었습니다.', 'success');
                })
                .catch(() => {
                    $notify('활성화 상태 변경에 실패했습니다.', 'error');
                });
        });
    });
</script>

</html>
