<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>[[ ${article.title} ]] :: [[ ${board.name} ]]</title>
    <link rel="stylesheet" href="/css/ckeditor-wbz.min.css" />
    <script type="module" src="/js/ckeditor-wbz.min.js"></script>
</head>

<aside layout:fragment="lnb" th:replace="~{fragments/lnb_board :: lnb}"></aside>
<section layout:fragment="content">
    <!-- 브레드크럼 -->
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">홈</a></li>
            <li><a href="/board">게시판 관리</a></li>
            <li><a href="/board/board">게시판 목록</a></li>
            <li><a th:href="@{/board/board/{id}/articles(id = ${board.id})}" th:text="${board.name}">게시판</a></li>
            <li class="is-active"><a href="#" aria-current="page">상세</a></li>
        </ul>
    </nav>

    <!-- 검색 결과 -->
    <div class="card">
        <div class="card-header">
            <h2 class="card-header-title is-size-5">[[ ${article.title} ]]</h2>
            <div class="is-flex is-align-items-center px-4">
                <span th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm:ss')}">2024-01-01 12:00:00</span>
            </div>

        </div>
        <div class="card-content px-4 pt-3 pb-2">
            <div class="level is-flex-direction-row">
                <div class="level-left">
                    <div class="level-item">
                        <span th:text="${article.writerName}">작성자</span>
                    </div>
                </div>

                <div class="level-right">
                    <div class="level-item">
                        <span class="mr-1">조회 수</span>
                        <strong th:text="${#numbers.formatInteger(article.readCount, 1, 'COMMA')}">0</strong>
                    </div>
                </div>
            </div>
        </div>

        <hr class="m-0" />

        <div class="card-content is-clearfix"
             th:with="enumset = ${T(webbizz.crm.domain.board.enumset.BoardConfigKey)}">

            <!-- 게시물 내용 -->
            <div class="ck ck-content" th:utext="${article.content}">
                여기에 게시물의 상세 내용이 들어갑니다. 이 텍스트는 예시 텍스트입니다.
            </div>
        </div>

        <hr class="m-0" th:if="${not article.images.isEmpty() or article.pdf ne null or not article.attachments.isEmpty()}" />

        <div class="card-content" th:if="${not article.images.isEmpty() or article.pdf ne null or not article.attachments.isEmpty()}">
            <div class="block" th:if="${not article.images.isEmpty()}">
                <span>이미지</span>
                <div class="help field is-grouped is-grouped-multiline is-display-block">
                    <div class="control"
                         th:each="image : ${article.images}">
                        <figure>
                            <img th:src="@{/api/v1/attachment/{uuid}(uuid = ${image.uuid})}"
                                 alt="이미지"
                                 th:alt="${image.originalName}"
                                 th:title="${image.originalName}" />
                        </figure>
                    </div>
                </div>
            </div>

            <div class="block" th:if="${article.pdf ne null}">
                <span>PDF</span>
                <div class="help field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-info is-light"
                               th:href="@{/api/v1/attachment/{uuid}/download(uuid = ${article.pdf.uuid})}">
                                <span class="icon">
                                    <i class="fa-regular fa-file-pdf" aria-hidden="true"></i>
                                </span>
                                <span th:text="${article.pdf.originalName}">파일 이름</span>
                            </a>
                            <span class="tag" th:text="${T(webbizz.crm.service.attachment.AttachmentService).getReadableFileSize(article.pdf.size)}">377.89KB</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block" th:if="${not article.attachments.isEmpty()}">
                <span>첨부파일</span>
                <div class="help field is-grouped is-grouped-multiline">
                    <div class="control"
                         th:each="attachment : ${article.attachments}">
                        <div class="tags has-addons">
                            <a class="tag is-info is-light"
                               th:href="@{/api/v1/attachment/{uuid}/download(uuid = ${attachment.uuid})}">
                                <span class="icon">
                                    <i class="fa-solid fa-paperclip" aria-hidden="true"></i>
                                </span>
                                <span th:text="${attachment.originalName}">파일 이름</span>
                            </a>
                            <span class="tag" th:text="${T(webbizz.crm.service.attachment.AttachmentService).getReadableFileSize(attachment.size)}">377.89KB</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="level is-flex-direction-row">
        <div class="level-left">
            <div class="level-item">
                <a class="button"
                   th:href="${#uris.unescapeQueryParam('/board/board/' + article.boardId + '/articles' + queryStringValue)}">
                    <span class="icon">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    </span>
                    <span>목록</span>
                </a>
            </div>
        </div>
        <div class="level-right is-flex-direction-row">
            <div class="level-item">
                <a class="button is-primary is-light"
                   th:href="@{/board/board/{boardId}/articles/{id}/edit(boardId = ${article.boardId}, id = ${article.id}, q = ${param.q})}">
                    <span class="icon">
                        <i class="fa-regular fa-pen-to-square" aria-hidden="true"></i>
                    </span>
                    <span>수정</span>
                </a>
            </div>
            <div class="level-item">
                <form>
                    <button type="button" class="button is-danger is-light" id="deleteArticle"
                            th:data-id="${article.id}"
                            th:data-board-id="${board.id}">
                        <span class="icon">
                            <i class="fa-regular fa-trash-can" aria-hidden="true"></i>
                        </span>
                        <span>삭제</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<script layout:fragment="javascript" th:inline="javascript">
    document.getElementById('deleteArticle').addEventListener('click', function () {
        if (confirm('게시물을 삭제하시겠습니까?')) {
            this.classList.add('is-loading');

            fetch(`/api/v1/board/${this.dataset.boardId}/article/${this.dataset.id}`, {
                method: 'DELETE'
            })
                .then(handleFetchResponse)
                .then(() => {
                    location.href = `/board/board/${this.dataset.boardId}/articles`;
                })
                .catch(handleFetchError)
                .finally(() => {
                    this.classList.remove('is-loading');
                });
        }
    });
</script>

</html>
