<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>설문 관리 &gt; 설문 통계</title>
</head>

<aside layout:fragment="lnb" th:replace="~{fragments/lnb_survey :: lnb}"></aside>
<section layout:fragment="content">
    <div class="level">
        <div class="level-left">
            <!-- 제목 -->
            <h2 class="title is-4">설문 통계</h2>
        </div>
        <div class="level-right">
            <!-- 브레드크럼 -->
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li>
                        <div>
                            <span class="icon is-small">
                                <i class="fas fa-home" aria-hidden="true"></i>
                            </span>
                            <span>홈</span>
                        </div>
                    </li>
                    <li>
                        <div>설문 관리</div>
                    </li>
                    <li class="is-active">
                        <div>설문 통계</div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="box">
        <nav class="level is-flex-direction-row">
            <div class="level-left">
                <div class="level-item">
                    <p class="subtitle is-6">총 참여자 :
                        <strong class="has-text-danger"
                                th:text="${#numbers.formatInteger(surveyMember.size(), 1, 'COMMA')}">
                            00</strong>명</p>
                </div>
            </div>
        </nav>

        <!-- 테이블 -->
        <div class="table-container">
            <table class="table is-bordered is-striped is-hoverable is-fullwidth is-fixed">
                <caption>검색 결과</caption>
                <colgroup>
                    <col style="width: 20%;">
                    <col style="width: 55%;">
                    <col style="width: 15%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead class="has-background-dark-soft">
                <tr>
                    <th scope="col" style="text-align: center;">문항</th>
                    <th scope="col" colspan="2" style="text-align: center;">참여선택수 / 전체</th>
                    <th scope="col" style="text-align: center;">비율</th>
                </tr>
                </thead>
                <tbody>
                <!-- 첫번째 문항 -->
                <th:block th:each="question :  ${survey.questions}">
                    <tr class="has-background-link-soft">
                        <td colspan="4"><strong th:text="${question.title}">1. 담당 직원의 친절도는 어떠하였습니까?</strong></td>
                    </tr>
                    <tr class="" th:each="answer : ${question.answers}">
                        <th:block th:with="an=${statistics.get(question.id)?.get(answer.answerId)}">
                            <td th:text="${answer.text}">1. 친절했다.</td>
                            <td>
                                <div class="progress-bar">
                                    <div class="progress"
                                         th:style="'width  :  '+ ${an?.ratio == null ? '0%' : an?.ratio + '%' +';'}">
                                    </div>
                                </div>
                            </td>
                            <td th:text="${an?.answerCount == null ? '0' : an?.answerCount + ' / ' + an?.totalResponses}">
                                17 / 27
                            </td>
                            <td th:text="${an?.ratio == null ? '0%' : an?.ratio + '%'}">72%</td>
                        </th:block>

                        <!-- 주관식 답변들 (question.id가 일치하는 경우에만 표시) -->
                        <th:block th:if="${statistics.get(question.id)?.values()?.stream()?.findFirst()?.get()?.customAnswers?.size() > 0}">
                            <tr class="has-background-light-soft"
                                th:each="custom : ${statistics.get(question.id)?.values()?.stream()?.findFirst()?.get()?.customAnswers}">
                                <td th:text="${custom.email}">이메일</td>
                                <td colspan="3" style="text-align: left;" th:text="${custom.text}">
                                    사용자 입력 내용
                                </td>
                            </tr>
                        </th:block>
                    </tr>
                    <tr class="has-background-link-soft">
                        <td colspan="4"><strong>기타 느낀 점이나 의견을 알려주세요(자유 입력)
                        </strong></td>
                    </tr>
                    <tr class="has-background-light-soft" th:each="response : ${surveyMember}"
                        th:if="${response.overallComment != null && response.overallComment != '' }">
                        <td th:text="${response.email}">gildong123@naver.com</td>
                        <td colspan="3" style="text-align: left;" th:text="${response.overallComment}">
                            사용자가 입력한 기타문항이 노출됩니다. 사용자가 입력한 기타문항이 노출됩니다.
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
    <div class="buttons is-centered">
        <a class="button" th:href="${#uris.unescapeQueryParam('/survey' + queryStringValue)}">
            <span class="icon">
                <i class="fa-solid fa-table-list" aria-hidden="true"></i>
            </span>
            <span>목록</span>
        </a>
    </div>
</section>
