<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title th:text="${menuPage.navigator}">타이틀</title>
    <meta name="keywords" th:content="${menuPage.menu.seoKeyword}" />
    <meta name="description" th:content="${menuPage.menu.seoDescription}" />
</head>

<main layout:fragment="content">
    <div class="sub-content">
        <div class="introduce-wrap">
            <div class="cont-top type-bg">
                <!--/* Breadcrumb 및 공유하기 */-->
                <div th:replace="~{fragments/sub_navigation :: breadcrumb (${menuPage})}"></div>

                <div class="title-wrap">
                    <h2 class="title" th:text="${menuPage.menu.name}"></h2>
<!--                    <p class="text">우리기업의 해외진출을 지원하여 해외인프라·도시개발의 이익과 가치를 세상과 공유</p>-->
                </div>
            </div>

            <div class="cont-btm">
                <div th:replace="~{fragments/tab_navigation :: tabs (${menuPage})}"></div>

                <div class="w-set">
                    <div class="ck-content">
                        <th:block th:utext="${menuPage.menu.content}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</html>
