/* Pretendard (기본) */
/* Regular */
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 400;
	src: local('Pretendard'), url("../webfonts/Pretendard-Regular.woff2") format('woff2'),
		url("../webfonts/Pretendard-Regular.woff") format('woff'),
		url("../webfonts/Pretendard-Regular.ttf") format("truetype");
}

/* Medium */
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 500;
	src: local('Pretendard'), url("../webfonts/Pretendard-Medium.woff2") format('woff2'),
		url("../webfonts/Pretendard-Medium.woff") format('woff'),
		url("../webfonts/Pretendard-Medium.ttf") format("truetype");
}

/* SemiBold */
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 600;
	src: local('Pretendard'), url("../webfonts/Pretendard-SemiBold.woff2") format('woff2'),
		url("../webfonts/Pretendard-SemiBold.woff") format('woff'),
		url("../webfonts/Pretendard-SemiBold.ttf") format("truetype");
}

/* Bold */
@font-face {
	font-family: 'Pretendard';
	font-style: normal;
	font-weight: 700;
	src: local('Pretendard'), url("../webfonts/Pretendard-Bold.woff2") format('woff2'),
		url("../webfonts/Pretendard-Bold.woff") format('woff'),
		url("../webfonts/Pretendard-Bold.ttf") format("truetype");
}

/* Saira */
/* Bold */
@font-face {
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	src: local('Saira'), url("../webfonts/Saira-Bold.woff2") format('font-woff2'),
		url("../webfonts/Saira-Bold.woff") format('woff'),
		url("../webfonts/Saira-Bold.ttf") format("truetype");
}