.saira {
  font-family: "Saira";
}

.c-primary {
  color: #1C50CA;
}

.header .navbar-brand .admin-title {
  width: 202.4px;
  height: 16.8px;
  background-image: url(../images/sub/logo_white.svg);
}

.section {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 0 120px;
}
.section.is-fullwidth {
  max-width: 100%;
}

.breadcrumb li div {
  margin: 0 12px;
}

.search-table {
  table-layout: fixed;
}
.search-table td,
.search-table th {
  border: 0 none;
  vertical-align: middle;
}
.search-table th:not([align]) {
  text-align: left;
}

.table-scroll {
  max-height: 300px;
  overflow: auto;
}
.table-scroll thead {
  position: sticky;
  top: -1px;
}

.progress-bar {
  width: 100%;
}
.progress-bar .progress {
  width: 70%;
  background-color: #aaa;
}

.card-menu {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
  margin-top: 3px;
  padding-top: calc(var(--bulma-card-content-padding) - 3px);
}
.card-menu ul li ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.card-menu a {
  border-radius: 0;
}

.main-container .box-bg1 {
  background: #252b3b;
  height: 149px;
}
.main-container .box-bg1 .logo-img {
  max-width: 70%;
}
.main-container .box-bg1 .member-info {
  position: absolute;
  bottom: 40px;
  right: 20px;
}
.main-container .box-bg2 {
  background: #3b4357;
}
.main-container .box .list-tag {
  flex-shrink: 0;
  font-weight: 700;
  font-size: 18px;
  color: #405180;
  padding-right: 40px;
  background: transparent;
}
.main-container .box .setting {
  position: absolute;
  top: 14px;
  right: 18px;
  font-size: 24px;
  color: #fff;
}
.main-container .box .member-info {
  color: #96a0b5;
  font-size: 14px;
}
.main-container [class*=count-title]::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 3px;
  vertical-align: middle;
  margin: -2px 12px 0 0;
  background-repeat: no-repeat;
  background-position: center;
}
.main-container .count-box {
  background: #252b3b;
  border-radius: 6px;
  margin-top: 14px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.main-container .count-box span {
  color: #fff;
}
.main-container .date-controls {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main-container .date-controls .date-control-button {
  font-size: 0;
  cursor: pointer;
}
.main-container .date-controls .date-control-button i {
  font-size: 12px;
  color: #96a0b5;
}
.main-container .date-controls .date-control-button:disabled {
  opacity: 0.3;
}
.main-container .date-controls .visitor-date {
  color: #96a0b5;
}
.main-container .unit {
  font-size: 14px;
  color: #96a0b5;
}
.main-container .content.main-list ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.main-container .content.main-list ul li {
  padding-left: 15px;
  position: relative;
}
.main-container .content.main-list ul li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #96a0b5;
}

html[data-theme=dark] .has-background-white-ter {
  background: #222 !important;
}

@media screen and (max-width: 1440px) {
  .section {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 1280px) {
  .search-table {
    table-layout: initial;
  }
  .search-table table,
  .search-table tr,
  .search-table th,
  .search-table td {
    display: block !important;
  }
}