@import "utility";

.saira {
    font-family: "Saira";
}
.c-primary {
    color: $ci-main-color;
}

.header {
    .navbar-brand {
        .admin-title {
            width: calc(112px * 0.6);
            height: calc(71px * 0.6);
            background-image: url(../images/sub/logo_white.png);
        }
    }
}

.section {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 0 120px;
    &.is-fullwidth {
        max-width: 100%;
    }
}

// 브레드크럼
.breadcrumb li div {
    margin: 0 12px;
}

// 검색테이블
.search-table {
    table-layout: fixed;
    td,
    th {
        border: 0 none;
        vertical-align: middle;
    }
    th:not([align]) {
        text-align: left;
    }
}

// 테이블 스크롤
.table-scroll {
    max-height: 300px;
    overflow: auto;
    thead {
        position: sticky;
        top: -1px;
    }
}

// 설문조사
.progress-bar {
    width: 100%;
    .progress {
        width: 70%;
        background-color: #aaa;
    }
}

// 운영 메뉴관리
.card-menu {
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    margin-top: 3px;
    padding-top: calc(var(--bulma-card-content-padding) - 3px);
    ul li ul {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
    }
    a {
        border-radius: 0;
    }
}

// 대시보드
.main-container {
    .box-bg1 {
        background: #252b3b;
        height: 149px;
        .logo-img {
            max-width: 70%;
        }
        .member-info {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }
    .box-bg2 {
        background: #3b4357;
    }
    .box {
        .list-tag {
            flex-shrink: 0;
            font-weight: 700;
            font-size: 18px;
            color: #405180;
            padding-right: 40px;
            background: transparent;
        }
        .setting {
            position: absolute;
            top: 14px;
            right: 18px;
            font-size: 24px;
            color: #fff;
        }
        .member-info {
            color: #96a0b5;
            font-size: 14px;
        }
    }
    [class*="count-title"] {
        &::before {
            content: "";
            display: inline-block;
            width: 36px;
            height: 36px;
            border-radius: 3px;
            vertical-align: middle;
            margin: -2px 12px 0 0;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    // .count-title {
    //     &-1 {
    //         color: #7193ff;
    //         &::before {
    //             background-color: #7193ff;
    //             background-image: url(../images/sub/count-title1.svg);
    //         }
    //     }
    //     &-2 {
    //         color: #14cc8c;
    //         &::before {
    //             background-color: #14cc8c;
    //             background-image: url(../images/sub/count-title2.svg);
    //         }
    //     }
    //     &-3 {
    //         color: #c462cd;
    //         &::before {
    //             background-color: #c462cd;
    //             background-image: url(../images/sub/count-title3.svg);
    //         }
    //     }
    //     &-4 {
    //         color: #fa9c2c;
    //         &::before {
    //             background-color: #fa9c2c;
    //             background-image: url(../images/sub/count-title4.svg);
    //         }
    //     }
    //     &-5 {
    //         color: #e26e6e;
    //         &::before {
    //             background-color: #e26e6e;
    //             background-image: url(../images/sub/count-title5.svg);
    //         }
    //     }
    // }
    .count-box {
        background: #252b3b;
        border-radius: 6px;
        margin-top: 14px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        span {
            color: #fff;
        }
    }
    .date-controls {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .date-control-button {
            font-size: 0;
            cursor: pointer;
            i {
                font-size: 12px;
                color: #96a0b5;
            }
            &:disabled {
                opacity: 0.3;
            }
        }
        .visitor-date {
            color: #96a0b5;
        }
    }
    .unit {
        font-size: 14px;
        color: #96a0b5;
    }
    .content.main-list {
        ul {
            list-style: none !important;
            padding: 0 !important;
            margin: 0 !important;
            li {
                padding-left: 15px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background-color: #96a0b5;
                }
            }
        }
    }
}

// 다크모드
html[data-theme="dark"] {
    .has-background-white-ter {
        background: #222 !important;
    }
}

@media screen and (max-width: 1440px) {
    .section {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 1280px) {
    .search-table {
        table-layout: initial;
        table,
        tr,
        th,
        td {
            display: block !important;
        }
    }
}
