$ci-main-color: #1C50CA;
$ci-sub-color: #5689E0;
$article-background-color: #f5f5f5;

@mixin is-blind {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}